<template>
  <div class="property-list-wrapper u-linear-bg">
    <top-title></top-title>
    <div class="property-list">
      <div class="content-wrapper">
        <top-nav :list="[{ name: '物业列表' }]"></top-nav>
        <div class="filter-wrapper">
          <h3 class="title">筛选项</h3>
          <div class="search-wrapper">
            <input v-model="searchForm.wyName" class="input-search" type="text" placeholder="请输入物业资产名称" maxlength="50" />
            <div class="icon-wrapper">
              <img class="search-icon" src="../../assets/home_search.png" alt="" @click="handleSearch" />
            </div>
          </div>
          <div class="conds">
            <div class="cond-basic">
              <div class="option-wrapper">
                <div class="lb">产权性质：</div>
                <!-- <a href="javascript:;" class="all" @click="clearSelectProperty">不限</a> -->
                <ul class="opt-list" style="margin-left:5px">
                  <li v-for="(item,index) in propertyList" :key="'property-'+index" class="opt" :class="{active:item.selected}" @click="selectProperty(item,index)">
                    <a class="name" href="javascript:;">{{item.name}}</a>
                    <!-- <a class="close" href="javascript:;" @click.stop="unselectProperty(item,index)"></a> -->
                  </li>
                </ul>
              </div>
              <div class="option-wrapper">
                <div class="lb">所在辖区：</div>
                <a href="javascript:;" class="all" @click="clearSelectJuris">不限</a>
                <ul class="opt-list">
                  <li v-for="(item,index) in jurisdictionList" :key="'juris-'+index" class="opt" :class="{active:item.selected}" @click="selectJuris(item,index)">
                    <a class="name" href="javascript:;">{{item.name}}</a>
                    <a class="close" href="javascript:;" @click.stop="unselectJuris(item,index)"></a>
                  </li>
                </ul>
              </div>
              <div class="option-wrapper">
                <div class="lb">靠近地铁：</div>
                <a href="javascript:;" class="all" @click="clearSelectSubway">不限</a>
                <ul class="opt-list">
                  <li v-for="(item,index) in subwayList" :key="'subway-'+index" class="opt" :class="{active:item.selected}" @click="selectSubway(item,index)">
                    <a class="name" href="javascript:;">{{item.name}}</a>
                    <a class="close" href="javascript:;" @click.stop="unselectSubway(item,index)"></a>
                  </li>
                </ul>
              </div>
              <div class="option-wrapper">
                <div class="lb">看房模式：</div>
                <a href="javascript:;" class="all" @click="clearSelectMode">不限</a>
                <ul class="opt-list">
                  <li v-for="(item,index) in modeList" :key="'mode-'+index" class="opt" :class="{active:item.selected}" @click="selectMode(item,index)">
                    <a class="name" href="javascript:;">{{item.name}}</a>
                    <a class="close" href="javascript:;" @click.stop="unselectMode(item,index)"></a>
                  </li>
                </ul>
              </div>
              <div class="option-wrapper">
                <div class="lb">面积：</div>
                <a href="javascript:;" class="all" @click="clearSelectArea">不限</a>
                <ul class="opt-list">
                  <li v-for="(item,index) in areaList" :key="'area-'+index" class="opt" :class="{active:item.selected}" @click="selectArea(item,index)">
                    <a class="name" href="javascript:;">{{item.min}}-{{item.max}}m²</a>
                    <a class="close" href="javascript:;" @click.stop="unselectArea(item,index)"></a>
                  </li>
                  <li class="opt">
                    <div class="u-range" style="margin-left: 33px">
                      <input v-model="customMinArea" class="input" type="text" name="" id="" placeholder="最小面积" @blur="customMinAreaBlur" />
                      <span class="splitor">-</span>
                      <input v-model="customMaxArea" class="input" type="text" name="" id="" placeholder="最大面积" @blur="customMaxAreaBlur" />
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- 可折叠展开 -->
            <div v-show="condMoreVisible" class="cond-more">
              <div class="option-wrapper">
                <div class="lb">租售方式：</div>
                <a href="javascript:;" class="all" @click="clearSelectSellMethod">不限</a>
                <ul class="opt-list">
                  <li v-for="(item,index) in sellMethodList" :key="'sellMethod-'+index" class="opt" :class="{active:item.selected}" @click="selectSellMethod(item,index)">
                    <a class="name" href="javascript:;">{{item.name}}</a>
                    <a class="close" href="javascript:;" @click.stop="unselectSellMethod(item,index)"></a>
                  </li>
                </ul>
              </div>
              <div class="option-wrapper">
                <div class="lb">租金单价：</div>
                <a href="javascript:;" class="all" @click="clearSelectRentUnitPrice">不限</a>
                <ul class="opt-list">
                  <li v-for="(item,index) in rentUnitPriceList" :key="'rentUnitPrice-'+index" class="opt" :class="{active:item.selected}" @click="selectRentUnitPrice(item,index)">
                    <a class="name" href="javascript:;">{{item.min}}{{item.max==''?'':'-'}}{{item.max}}元/m²{{item.max==''?'以上':''}}</a>
                    <a class="close" href="javascript:;" @click.stop="unselectRentUnitPrice(item,index)"></a>
                  </li>
                  <li class="opt" style="margin-top:5px">
                    <div class="u-range" style="margin-left: 15px;">
                      <input v-model="customMinRentUnitPrice" class="input" type="text" name="" id="" placeholder="最低单价" @blur="customMinRentUnitPriceBlur" />
                      <span class="splitor">-</span>
                      <input v-model="customMaxRentUnitPrice" class="input" type="text" name="" id="" placeholder="最高单价" @blur="customMaxRentUnitPriceBlur" />
                    </div>
                  </li>
                </ul>
              </div>
              <div class="option-wrapper">
                <div class="lb">售价：</div>
                <a href="javascript:;" class="all" @click="clearSelectSellPrice">不限</a>
                <ul class="opt-list">
                  <li v-for="(item,index) in sellPriceList" :key="'sellPrice-'+index" class="opt" :class="{active:item.selected}" @click="selectSellPrice(item,index)">
                    <a class="name" href="javascript:;">{{item.min}}{{item.max==''?'':'-'}}{{item.max}}元/m²{{item.max==''?'以上':''}}</a>
                    <a class="close" href="javascript:;" @click.stop="unselectSellPrice(item,index)"></a>
                  </li>
                  <li class="opt">
                    <div class="u-range" style="margin-left: 33px">
                      <input v-model="customMinSellPrice" class="input" type="text" name="" id="" placeholder="最低售价" @blur="customMinSellPriceBlur" />
                      <span class="splitor">-</span>
                      <input v-model="customMaxSellPrice" class="input" type="text" name="" id="" placeholder="最高售价" @blur="customMaxSellPriceBlur" />
                    </div>
                  </li>
                </ul>
              </div>
              <div class="option-wrapper">
                <div class="lb">入驻行业：</div>
                <a href="javascript:;" class="all" @click="clearSelectIndustry">不限</a>
                <ul class="opt-list">
                  <li v-for="(item,index) in industryList" :key="'industry-'+index" class="opt" :class="{active:item.selected}" @click="selectIndustry(item,index)">
                    <a class="name" href="javascript:;">{{item.name}}</a>
                    <a class="close" href="javascript:;" @click.stop="unselectIndustry(item,index)"></a>
                  </li>
                </ul>
              </div>
              <div class="option-wrapper">
                <div class="lb">园区配套：</div>
                <a href="javascript:;" class="all" @click="clearSelectSupport">不限</a>
                <ul class="opt-list">
                  <li v-for="(item,index) in supportList" :key="'support-'+index" class="opt" :class="{active:item.selected}" @click="selectSupport(item,index)">
                    <a class="name" href="javascript:;">{{item.name}}</a>
                    <a class="close" href="javascript:;" @click.stop="unselectSupport(item,index)"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="btn-collapse" @click="collapse">
            <div class="txt">{{ condMoreVisible ? "收起" : "展开" }}</div>
            <i class="icon el-icon-arrow-up" :class="!condMoreVisible ? 'arrow-down' : ''"></i>
          </div>
        </div>
        <div class="list-wrapper">
          <div class="title">
            <div class="stat">共{{totalCount}}个产业</div>
            <div class="order-wrapper">
              <div class="u-order" :class="searchForm.sort==4?'up':searchForm.sort==3?'down':''" @click="hotSort">
                <div class="name">热度</div>
                <div class="icon-wrapper">
                  <i class="icon el-icon-caret-top"></i>
                  <i class="icon el-icon-caret-bottom"></i>
                </div>
              </div>
              <div class="u-order" :class="searchForm.sort==1?'up':searchForm.sort==2?'down':''" @click="priceSort">
                <div class="name">租金单价</div>
                <div class="icon-wrapper">
                  <i class="icon el-icon-caret-top"></i>
                  <i class="icon el-icon-caret-bottom"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="product">
            <div v-for="(item,index) in list" :key="'wyList-'+index" class="item">
              <div class="pic-wrapper" @click="toDetails(item)">
                <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                <div class="type">360°</div>
              </div>
              <div class="intro" @click="toDetails(item)">
                <div class="name">{{item.name}}</div>
                <div class="tag-list">
                  <div v-for="(item2,index2) in item.parkTag" :key="index2" class="tag">{{item2}}</div>
                </div>
                <div class="industry">
                  <div class="lb">入驻行业：</div>
                  <div class="ind-item-wrapper">
                    <div v-for="(item3,index3) in item.enterIndustry" :key="index3" class="ind-item-inner">
                      <div class="ind-item">{{item3}}</div>
                      <span v-if="index3<item.enterIndustry.length-1" class="splitor"></span>
                    </div>
                  </div>
                </div>
                <ul class="info">
                  <li class="info-item street">
                    <span class="lb">所在街道：</span>{{item.streetName}}
                  </li>
                  <li class="info-item area">
                    <span class="lb">所在片区：</span>{{item.location}}
                  </li>
                  <li class="info-item">
                    <span class="lb">申请入驻：</span>{{item.humanNum||0}}人
                  </li>
                  <li class="info-item">
                    <span class="lb">建筑面积：</span>{{item.buildArea||0}}m²
                  </li>
                  <li class="info-item">
                    <span class="lb">租金单价：</span>{{item.rentPrice||0}}元/m²
                  </li>
                </ul>
                <div class="addr">
                  <span class="lb">地址：</span>
                  {{item.detailAddr}}
                </div>
              </div>
              <div class="collect" @click.stop="handleCollect(item,index)">
                <span class="count">{{item.collectNumber}}</span><span>人收藏</span><i class="icon" :class="item.isCollect?'el-icon-star-on':'el-icon-star-off'"></i>
              </div>
            </div>
          </div>
          <div class="pager-wrapper">
            <el-pagination background :data="list" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 20, 30, 40]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="totalCount">
            </el-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TopTitle from '@/components/TopTitle.vue'
import TopNav from '@/components/TopNav.vue'
import { list, collect } from './request'
export default {
  components: { TopTitle, TopNav },
  data () {
    return {
      condMoreVisible: false,
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      searchForm: {
        // "p": 1,
        // "size": 10,
        // "userId": 5,
        'wyName': '', // 物业名称
        'jurisdictionOfArea': '', // 所在辖区
        'closeToSubwayNumber': '', // 附近地铁
        'lookModel': '', // 看房模式
        'minBuildArea': '', // 面积area
        'maxBuildArea': '',
        'rentalModel': '', // 租售方式
        'propertyRights': '', // 产权性质
        'minRentPrice': '', // 租金单价
        'maxRentPrice': '',
        'minOfferPrice': '', // 售价
        'maxOfferPrice': '',
        'enterIndustry': '', // 入驻行业
        'supportingPark': '', // 园区配套
        sort: 0
      },
      customMinArea: '', // 自定义最小面积
      customMaxArea: '', // 自定义最大面积
      customMinRentUnitPrice: '', // 自定义最小租金单价
      customMaxRentUnitPrice: '', // 自定义最大租金单价
      customMinSellPrice: '', // 自定义最小售价
      customMaxSellPrice: '', // 自定义最大售价
      // 所在辖区
      jurisdictionList: [
        { name: '南山街道', value: '440305002', selected: false },
        { name: '南头街道', value: '440305001', selected: false },
        { name: '粤海街道', value: '440305007', selected: false },
        { name: '西丽街道', value: '440305009', selected: false },
        { name: '招商街道', value: '440305006', selected: false },
        { name: '桃源街道', value: '440305008', selected: false },
        { name: '蛇口街道', value: '440305005', selected: false },
        { name: '沙河街道', value: '440305003', selected: false }
      ],
      // 地铁
      subwayList: [
        { name: '1号线', selected: false },
        { name: '2号线', selected: false },
        { name: '3号线', selected: false },
        { name: '4号线', selected: false },
        { name: '5号线', selected: false }
      ],
      // 看房模式
      modeList: [
        { name: 'VR', selected: false },
        { name: '360°', selected: false },
        { name: '720°', selected: false }
      ],
      // 租售方式
      sellMethodList: [
        { name: '仅出租', value: 1, selected: false },
        { name: '仅出售', value: 2, selected: false },
        { name: '租售', value: 3, selected: false }
      ],
      // 产权性质
      propertyList: [
        { name: '政府物业', value: 1, selected: false },
        { name: '国企物业', value: 2, selected: false },
        { name: '集体物业', value: 3, selected: false },
        { name: '社会物业', value: 4, selected: false }
      ],
      // 入驻行业
      industryList: [
        { name: '软件与开发', value: 1, selected: false },
        { name: '创新型科技', value: 2, selected: false },
        { name: '批发零售', value: 3, selected: false },
        { name: '科学研究', value: 4, selected: false },
        { name: '制造业', value: 5, selected: false },
        { name: '租赁和商务服务', value: 6, selected: false },
        { name: '其他', value: 7, selected: false }
      ],
      // 园区配套
      supportList: [
        { name: '公交', value: 1, selected: false },
        { name: '地铁', value: 2, selected: false },
        { name: '停车场', value: 3, selected: false },
        { name: '餐饮', value: 4, selected: false },
        { name: '会议室', value: 5, selected: false },
        { name: '银行', value: 6, selected: false },
        { name: '其他', value: 7, selected: false }
      ],
      // 面积
      areaList: [
        { min: 0, max: 200, selected: false },
        { min: 201, max: 300, selected: false },
        { min: 301, max: 500, selected: false },
        { min: 501, max: 1000, selected: false }
      ],
      // 租金单价
      rentUnitPriceList: [
        { min: 0, max: 50, selected: false },
        { min: 51, max: 100, selected: false },
        { min: 101, max: 120, selected: false },
        { min: 121, max: 150, selected: false },
        { min: 151, max: 200, selected: false },
        { min: 200, max: '', selected: false }
      ],
      // 售价
      sellPriceList: [
        { min: 0, max: 1, selected: false },
        { min: 1, max: 2, selected: false },
        { min: 2, max: 4, selected: false },
        { min: 4, max: 6, selected: false },
        { min: 6, max: '', selected: false }
      ],
      list: []
    }
  },
  created () {
    // 根据type选中对应产权性质
    let type = this.$route.query.type || 1
    this.propertyList.forEach(v => {
      v.selected = false
      if (v.value == type) {
        v.selected = true
        this.searchForm.propertyRights = v.name
      }
    })
    // 是否按照热门降序
    let hot = this.$route.query.hot || 0
    if (hot == 1) {
      this.searchForm.sort = 3
    }
    // 首页搜索框进来，不选中产权性质
    let search = this.$route.query.search
    if (search) {
      this.searchForm.wyName = search
      this.searchForm.propertyRights = ''
      this.propertyList.forEach(v => {
        v.selected = false
      })
    }
    this.getList()
  },
  methods: {
    collapse () {
      this.condMoreVisible = !this.condMoreVisible
    },
    handleSizeChange (val) {
      this.pageSize = val
      this.getList()
    },
    handleCurrentChange (val) {
      this.currentPage = val
      this.getList()
    },
    // 跳转物业详情
    toDetails (item) {
      // if (item.hasPermission) {
      this.$router.push({ name: 'propertyDetails', query: { id: item.id } })
      // } else {
      //  this.$message.error('没有访问权限');
      // }
    },
    // 收藏/取消收藏
    handleCollect (item, index) {
      let params = {
        'socialUniformCreditCode': sessionStorage.getItem('creditCode'),
        'wyBasicInfoId': item.id,
        'collectType': item.isCollect ? 2 : 1
      }
      collect(params).then(res => {
        if (res.data.code == 0) {
          this.getList()
        }
      })
    },
    // 查询列表
    getList () {
      // 所在辖区
      let selJuris = this.jurisdictionList.filter(v => { return v.selected }).map(v => { return v.value })
      this.searchForm.jurisdictionOfArea = selJuris.join(',')
      // 地铁
      let selSubways = this.subwayList.filter(v => { return v.selected }).map(v => { return v.name })
      this.searchForm.closeToSubwayNumber = []// 暂不做查询
      // 看房模式
      let selMode = this.modeList.filter(v => { return v.selected }).map(v => { return v.name })
      this.searchForm.lookModel = []
      // 租售方式
      let selSellMethod = this.sellMethodList.filter(v => { return v.selected }).map(v => { return v.value })
      this.searchForm.rentalModel = []
      // 产权性质
      let selProperty = this.propertyList.filter(v => { return v.selected }).map(v => { return v.name })
      this.searchForm.propertyRights = selProperty.join(',')
      // 入驻行业
      let selIndustry = this.industryList.filter(v => { return v.selected }).map(v => { return v.value })
      this.searchForm.enterIndustry = []
      // 园区配套
      let selSupport = this.supportList.filter(v => { return v.selected }).map(v => { return v.value })
      this.searchForm.supportingPark = []
      // 面积
      let selArea = []
      if (this.customMinArea != '' || this.customMaxArea != '') {
        selArea = [{ min: this.customMinArea, max: this.customMaxArea }]
      } else {
        selArea = this.areaList.filter(v => { return v.selected }).map(v => { return { min: v.min, max: v.max } })
      }
      this.searchForm.minBuildArea = selArea.length > 0 ? selArea[0].min : ''
      this.searchForm.maxBuildArea = selArea.length > 0 ? selArea[0].max : ''
      // 租金单价
      let selRentUnitPrice = []
      if (this.customMinRentUnitPrice != '' || this.customMaxRentUnitPrice != '') {
        selRentUnitPrice = [{ min: this.customMinRentUnitPrice, max: this.customMaxRentUnitPrice }]
      } else {
        selRentUnitPrice = this.rentUnitPriceList.filter(v => { return v.selected }).map(v => { return { min: v.min, max: v.max } })
      }
      this.searchForm.minRentPrice = selRentUnitPrice.length > 0 ? selRentUnitPrice[0].min : ''
      this.searchForm.maxRentPrice = selRentUnitPrice.length > 0 ? selRentUnitPrice[0].max : ''
      // 售价
      let selSellPrice = []
      if (this.customMinSellPrice != '' || this.customMaxSellPrice != '') {
        selSellPrice = [{ min: this.customMinSellPrice, max: this.customMaxSellPrice }]
      } else {
        selSellPrice = this.sellPriceList.filter(v => { return v.selected }).map(v => { return { min: v.min, max: v.max } })
      }
      this.searchForm.minOfferPrice = selSellPrice.length > 0 ? selSellPrice[0].min : ''
      this.searchForm.maxOfferPrice = selSellPrice.length > 0 ? selSellPrice[0].max : ''

      let params = {
        p: this.currentPage,
        size: this.pageSize,
        socialUniformCreditCode: sessionStorage.getItem('creditCode'),
        ...this.searchForm
      }
      list(params).then(res => {
        if (res.data.code == 0) {
          this.list = res.data.data.list || []
          this.totalCount = res.data.data.total || 0
        } else {
          if (res.data.errMsg) this.$message.error(res.data.errMsg)
        }
      })
    },
    // 搜索
    handleSearch () {
      this.currentPage = 1
      this.getList()
    },
    // 选择所在辖区
    selectJuris (item, index) {
      this.jurisdictionList.forEach(v => { v.selected = false })
      item.selected = true
      this.currentPage = 1
      this.getList()
    },
    // 取消选择所在辖区
    unselectJuris (item, index) {
      item.selected = false
      this.currentPage = 1
      this.getList()
    },
    // 所在辖区 选择不限
    clearSelectJuris () {
      this.jurisdictionList.forEach(v => { v.selected = false })
      this.currentPage = 1
      this.getList()
    },
    // 选择地铁
    selectSubway (item, index) {
      this.subwayList.forEach(v => { v.selected = false })
      item.selected = true
      this.currentPage = 1
      this.getList()
    },
    // 取消选择地铁
    unselectSubway (item, index) {
      item.selected = false
      this.currentPage = 1
      this.getList()
    },
    // 地铁 选择不限
    clearSelectSubway () {
      this.subwayList.forEach(v => { v.selected = false })
      this.currentPage = 1
      this.getList()
    },
    // 选择看房模式
    selectMode (item, index) {
      this.modeList.forEach(v => { v.selected = false })
      item.selected = true
      this.currentPage = 1
      this.getList()
    },
    // 取消选择看房模式
    unselectMode (item, index) {
      item.selected = false
      this.currentPage = 1
      this.getList()
    },
    // 看房模式 选择不限
    clearSelectMode () {
      this.modeList.forEach(v => { v.selected = false })
      this.currentPage = 1
      this.getList()
    },
    // 选择租售方式
    selectSellMethod (item, index) {
      this.sellMethodList.forEach(v => { v.selected = false })
      item.selected = true
      this.currentPage = 1
      this.getList()
    },
    // 取消选择租售方式
    unselectSellMethod (item, index) {
      item.selected = false
      this.currentPage = 1
      this.getList()
    },
    // 租售方式 选择不限
    clearSelectSellMethod () {
      this.sellMethodList.forEach(v => { v.selected = false })
      this.currentPage = 1
      this.getList()
    },
    // 选择产权性质
    selectProperty (item, index) {
      this.propertyList.forEach(v => { v.selected = false })
      item.selected = true
      this.currentPage = 1
      this.getList()
    },
    // 取消选择产权性质
    unselectProperty (item, index) {
      item.selected = false
      this.currentPage = 1
      this.getList()
    },
    // 产权性质 选择不限
    clearSelectProperty () {
      this.propertyList.forEach(v => { v.selected = false })
      this.currentPage = 1
      this.getList()
    },
    // 选择入驻行业
    selectIndustry (item, index) {
      this.industryList.forEach(v => { v.selected = false })
      item.selected = true
      this.currentPage = 1
      this.getList()
    },
    // 取消选择入驻行业
    unselectIndustry (item, index) {
      item.selected = false
      this.currentPage = 1
      this.getList()
    },
    // 入驻行业 选择不限
    clearSelectIndustry () {
      this.industryList.forEach(v => { v.selected = false })
      this.currentPage = 1
      this.getList()
    },
    // 选择园区配套
    selectSupport (item, index) {
      this.supportList.forEach(v => { v.selected = false })
      item.selected = true
      this.currentPage = 1
      this.getList()
    },
    // 取消选择园区配套
    unselectSupport (item, index) {
      item.selected = false
      this.currentPage = 1
      this.getList()
    },
    // 园区配套 选择不限
    clearSelectSupport () {
      this.supportList.forEach(v => { v.selected = false })
      this.currentPage = 1
      this.getList()
    },
    // 选择面积
    selectArea (item, index) {
      this.areaList.forEach(v => { v.selected = false })
      item.selected = true
      this.customMinArea = ''
      this.customMaxArea = ''
      this.currentPage = 1
      this.getList()
    },
    // 取消选择面积
    unselectArea (item, index) {
      item.selected = false
      this.currentPage = 1
      this.getList()
    },
    // 面积 选择不限
    clearSelectArea () {
      this.areaList.forEach(v => { v.selected = false })
      this.customMinArea = ''
      this.customMaxArea = ''
      this.currentPage = 1
      this.getList()
    },
    // 自定义最小面积 失去焦点
    customMinAreaBlur () {
      if (this.customMinArea != '') {
        this.areaList.forEach(v => { v.selected = false })
      }
      this.currentPage = 1
      this.getList()
    },
    // 自定义最大面积 失去焦点
    customMaxAreaBlur () {
      if (this.customMaxArea != '') {
        this.areaList.forEach(v => { v.selected = false })
      }
      this.currentPage = 1
      this.getList()
    },
    // 选择租金单价
    selectRentUnitPrice (item, index) {
      this.rentUnitPriceList.forEach(v => { v.selected = false })
      item.selected = true
      this.customMinRentUnitPrice = ''
      this.customMaxRentUnitPrice = ''
      this.currentPage = 1
      this.getList()
    },
    // 取消选择租金单价
    unselectRentUnitPrice (item, index) {
      item.selected = false
      this.currentPage = 1
      this.getList()
    },
    // 租金单价选择不限
    clearSelectRentUnitPrice () {
      this.rentUnitPriceList.forEach(v => { v.selected = false })
      this.customMinRentUnitPrice = ''
      this.customMaxRentUnitPrice = ''
      this.currentPage = 1
      this.getList()
    },
    // 自定义最小租金单价 失去焦点
    customMinRentUnitPriceBlur () {
      if (this.customMinRentUnitPrice != '') {
        this.rentUnitPriceList.forEach(v => { v.selected = false })
      }
      this.currentPage = 1
      this.getList()
    },
    // 自定义最大租金单价 失去焦点
    customMaxRentUnitPriceBlur () {
      if (this.customMaxRentUnitPrice != '') {
        this.rentUnitPriceList.forEach(v => { v.selected = false })
      }
      this.currentPage = 1
      this.getList()
    },
    // 选择售价
    selectSellPrice (item, index) {
      this.sellPriceList.forEach(v => { v.selected = false })
      item.selected = true
      this.customMinSellPrice = ''
      this.customMaxSellPrice = ''
      this.currentPage = 1
      this.getList()
    },
    // 取消选择售价
    unselectSellPrice (item, index) {
      item.selected = false
      this.currentPage = 1
      this.getList()
    },
    // 售价选择不限
    clearSelectSellPrice () {
      this.sellPriceList.forEach(v => { v.selected = false })
      this.customMinSellPrice = ''
      this.customMaxSellPrice = ''
      this.currentPage = 1
      this.getList()
    },
    // 自定义最小售价 失去焦点
    customMinSellPriceBlur () {
      if (this.customMinSellPrice != '') {
        this.sellPriceList.forEach(v => { v.selected = false })
      }
      this.currentPage = 1
      this.getList()
    },
    // 自定义最大售价 失去焦点
    customMaxSellPriceBlur () {
      if (this.customMaxSellPrice != '') {
        this.sellPriceList.forEach(v => { v.selected = false })
      }
      this.currentPage = 1
      this.getList()
    },

    // 热度排序
    hotSort () {
      this.searchForm.sort = this.searchForm.sort == 3 ? 4 : this.searchForm.sort == 4 ? 0 : 3
      this.getList()
    },
    // 单价排序
    priceSort () {
      this.searchForm.sort = this.searchForm.sort == 1 ? 2 : this.searchForm.sort == 2 ? 0 : 1
      this.getList()
    }
  }
}
</script>

<style scoped lang="less">
.u-range {
  display: flex;
  align-items: center;
  .input {
    width: 122px;
    height: 30px;
    border: 1px solid #c3cfe8;
    border-radius: 3px;
    text-align: center;
    outline: none;
  }
  .input::-webkit-input-placeholder {
    color: #7891c1;
  }
  .inpu::-moz-input-placeholder {
    color: #7891c1;
  }
  .input::-ms-input-placeholder {
    color: #7891c1;
  }
  .splitor {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.u-order {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  .icon-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: -4px;
    margin-left: 3px;
    .icon {
      height: 5px;
      font-size: 12px;
      color: rgba(195, 207, 232, 1);
      transform: scale(0.9);
    }
  }
  .name {
    font-size: 14px;
    color: #1a3966;
  }
  & + .u-order {
    margin-left: 45px;
  }
  &.up {
    .name {
      color: #3b76e4;
    }
    .icon-wrapper {
      .icon.el-icon-caret-top::before {
        color: rgba(59, 118, 228, 1);
      }
    }
  }
  &.down {
    .name {
      color: #3b76e4;
    }
    .icon-wrapper {
      .icon.el-icon-caret-bottom::before {
        color: rgba(59, 118, 228, 1);
      }
    }
  }
}
.property-list {
  width: 1200px;
  margin: 72px auto;
}
.pager-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 76px;
  margin-bottom: 24px;
}
.content-wrapper {
  padding: 22px 0 50px;
  box-sizing: border-box;
  .filter-wrapper {
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 3px 5px 16px 0px rgba(0, 71, 157, 0.1);
    border-radius: 6px;
    margin-top: 10px;
    padding: 12px 19px;
    box-sizing: border-box;
    position: relative;
    .title {
      font-size: 16px;
      font-weight: bold;
      color: #333333;
      margin-bottom: 20px;
    }
    .conds {
      font-size: 14px;
      a {
        text-decoration: none;
        color: rgba(120, 145, 193, 1);
      }
      .option-wrapper {
        display: flex;
        align-items: flex-start;
        margin-top: 10px;
        .lb {
          width: 70px;
          height: 30px;
          line-height: 30px;
        }
        .all {
          width: 94px;
          height: 30px;
          line-height: 30px;
          color: #1286ff;
          padding: 0 33px;
          box-sizing: border-box;
        }
        .opt-list {
          flex: 1;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          .opt {
            position: relative;
            a.name {
              height: 30px;
              line-height: 30px;
              padding: 0 20px;
              box-sizing: border-box;
              display: block;
              border-radius: 3px;
            }
            a.close {
              display: none;
            }
            &.active {
              a.name {
                background: #1286ff;
                color: #ffffff;
              }
              a.close {
                //display: inline-block;
                width: 13px;
                height: 2px;
                background: #ffffff;
                line-height: 0;
                font-size: 0;
                vertical-align: middle;
                transform: rotate(45deg);
                position: absolute;
                right: 2px;
                top: 50%;
              }
              a.close:after {
                content: "/";
                display: block;
                width: 13px;
                height: 2px;
                background: #ffffff;
                transform: rotate(-90deg);
              }
              &:hover {
                a.close {
                  display: inline-block;
                }
              }
            }
          }
          .opt + .opt {
            margin-left: 5px;
          }
        }
      }
    }
    .btn-collapse {
      width: 100%;
      height: 25px;
      font-size: 14px;
      color: #1286ff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px auto 0 auto;
      cursor: pointer;
      .txt {
      }
      .icon {
        margin-left: 8px;
        font-weight: bold;
        &.arrow-down {
          transform: rotate(-180deg);
        }
      }
    }
    .search-wrapper {
      width: 249px;
      height: 34px;
      display: flex;
      align-items: center;
      background: #ffffff;
      position: absolute;
      top: 10px;
      right: 20px;
      .input-search {
        flex: 1;
        height: 34px;
        border: 0px;
        background: #ffffff;
        border-radius: 6px 0px 0px 6px;
        border: 1px solid #c3cfe8;
        padding: 0 13px;
        box-sizing: border-box;
        outline: none;
      }
      .input-search::-webkit-input-placeholder {
        color: rgba(153, 153, 153, 1);
      }
      .input-search::-moz-input-placeholder {
        color: rgba(153, 153, 153, 1);
      }
      .input-search::-ms-input-placeholder {
        color: rgba(153, 153, 153, 1);
      }
      .icon-wrapper {
        flex: 0 0 34px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(18, 134, 255, 1);
        border-radius: 0px 6px 6px 0px;
        cursor: pointer;
        .search-icon {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
  .list-wrapper {
    background: #ffffff;
    box-shadow: 3px 5px 16px 0px rgba(0, 71, 157, 0.1);
    border-radius: 6px;
    margin-top: 20px;
    padding: 12px 19px;
    box-sizing: border-box;
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .stat {
        font-size: 14px;
        color: #1a3966;
      }
      .order-wrapper {
        display: flex;
        align-items: center;
      }
    }
    .product {
      margin-top: 37px;
      .item {
        display: flex;
        position: relative;
        .pic-wrapper {
          width: 188px;
          height: 148px;
          border-radius: 3px 3px 0px 0px;
          margin-right: 29px;
          position: relative;
          .pic {
            width: 188px;
            height: 148px;
          }
          .type {
            width: 59px;
            height: 60px;
            line-height: 60px;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 18px;
            color: #ffffff;
            text-align: center;
          }
        }
        .intro {
          font-size: 14px;
          color: #333333;
          cursor: pointer;
          .name {
            font-size: 18px;
            font-weight: bold;
            color: #1286ff;
            margin-top: 8px;
          }
          .lb {
            font-weight: bold;
          }
          .industry {
            display: flex;
            margin-top: 9px;
            .ind-item-wrapper {
              display: flex;
              align-items: center;
              .ind-item-inner {
                display: flex;
                align-items: center;
                .splitor {
                  height: 14px;
                  border-right: 1px solid #333333;
                  margin: 0 10px;
                  display: inline-block;
                }
              }
            }
          }
          .info {
            display: flex;
            margin-top: 5px;
            .info-item + .info-item {
              margin-left: 15px;
            }
            .info-item.street {
              width: 150px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .info-item.area {
              width: 280px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          .tag-list {
            display: flex;
            margin-top: 11px;
            .tag {
              height: 22px;
              line-height: 22px;
              background: rgba(18, 134, 255, 0.1);
              border-radius: 3px;
              font-size: 12px;
              color: #1286ff;
              padding: 0 13px;
              box-sizing: border-box;
              & + .tag {
                margin-left: 11px;
              }
            }
          }
          .addr {
            margin-top: 5px;
          }
        }
        .collect {
          width: 115px;
          position: absolute;
          right: 0;
          top: 28px;
          font-size: 14px;
          color: #999999;
          display: flex;
          align-items: center;
          cursor: pointer;
          .icon {
            font-size: 17px;
            margin-left: 10px;
            color: rgba(159, 178, 216, 1);
          }
        }
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: rgba(224, 231, 235, 1);
          bottom: -20px;
        }
      }
      .item + .item {
        margin-top: 40px;
      }
    }
  }
}
</style>
