<template>
  <div class="property-list-wrapper u-linear-bg">
    <top-title></top-title>
    <div class="property-list">
      <div class="content-wrapper">
        <top-nav :list="[{ name: '物业列表' }]" back-path="/propertyList" back-name="返回列表"></top-nav>
        <div class="intro">
          <div class="pic-wrapper">
            <div class="pic-preview">
              <img class="pic" src="../../assets/search_bg.png" alt="" />
            </div>
            <div class="pic-list-outer">
              <div class="btn btn-prev" @click="handlePrev">
                <i class="icon el-icon-arrow-left"></i>
              </div>
              <div class="pic-list-wrapper">
                <div class="pic-list-inner" :style="'transform: translateX(' + posX + 'px)'">
                  <div v-for="(item, index) in picList" v-bind:key="index" class="pic-small" :class="{ active: index == curPicIndex }" @click="clickPic(index)">
                    <img class="pic" src="../../assets/search_bg.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="btn btn-next" @click="handleNext">
                <i class="icon el-icon-arrow-right"></i>
              </div>
            </div>
          </div>
          <div class="basic-info">
            <div class="name">{{ wyBasicInfo.name }}</div>
            <div v-if="wyBasicInfo.parkTag&&wyBasicInfo.parkTag.length>0" class="tag-list">
              <div class="tag" v-for="(item3,index3) in wyBasicInfo.parkTagFilter" :key="index3">{{item3}}</div>
              <div v-show="wyBasicInfo.parkTag && wyBasicInfo.parkTag.length > 2 && wyBasicInfo.parkTagFilter.length <= 2" class="more" @click="showMoreParkTag">
                <span>更多</span>
                <i class="icon el-icon-arrow-down"></i>
              </div>
            </div>
            <div class="stat-wrapper">
              <div class="stat">
                <div class="item">
                  <div class="num">{{ wyBasicInfo.landArea }}m²</div>
                  <div class="desc">占地面积</div>
                </div>
                <div class="splitor"></div>
                <div class="item">
                  <div class="num">{{ wyBasicInfo.buildArea }}m²</div>
                  <div class="desc">建筑面积</div>
                </div>
                <div class="splitor"></div>
                <div class="item">
                  <div class="num">仅出租</div>
                  <div class="desc">租售方式</div>
                </div>
              </div>
              <div class="stat">
                <div class="item">
                  <div class="num">{{wyBasicInfo.humanNum||0}}家</div>
                  <div class="desc">入驻企业数</div>
                </div>
                <div class="splitor"></div>
                <div class="item">
                  <div class="num">××街道</div>
                  <div class="desc">所在辖区</div>
                </div>
                <div class="splitor"></div>
                <div class="item">
                  <div class="num">{{wyBasicInfo.location||' '}}</div>
                  <div class="desc">所在片区</div>
                </div>
              </div>
            </div>
            <div class="type">
              <div class="lb">看房模式：</div>
              <ul class="list">
                <li class="item">VR</li>
                <li class="item">720°</li>
                <li class="item active">360°</li>
              </ul>
            </div>
            <div class="indus">
              <div class="lb">入驻行业：</div>
              <ul v-if="wyBasicInfo.enterIndustry&&wyBasicInfo.enterIndustry.length>0" class="list">
                <li class="item" v-for="(item3,index3) in wyBasicInfo.enterIndustryFilter" :key="index3">{{item3}}</li>
                <div v-show="wyBasicInfo.enterIndustry && wyBasicInfo.enterIndustry.length > 3 && wyBasicInfo.enterIndustryFilter.length <= 3" class="more" @click="showMoreIndustry">
                  <span>更多</span>
                  <i class="icon el-icon-arrow-down"></i>
                </div>
              </ul>
            </div>
            <div class="addr">
              <span class="lb">地址：</span>
              <span>{{ wyBasicInfo.detailAddr }}</span>
            </div>
            <button class="btn btn-star" @click="handleCollect">
              <i class="icon" :class="wyBasicInfo.isCollect?'el-icon-star-on':'el-icon-star-off'"></i>
              <span class="txt">{{wyBasicInfo.isCollect?'已收藏':'收藏'}}</span>
            </button>
            <div class="star-count" @click="handleCollect">
              <span>{{wyBasicInfo.collectNumber||0}}</span>
              <span>人收藏</span>
              <i class="icon" :class="wyBasicInfo.isCollect?'el-icon-star-on':'el-icon-star-off'"></i>
            </div>
          </div>
        </div>
        <div class="u-tab">
          <a class="tab-item" href="#brief-intro"> 物业简介 </a>
          <a class="tab-item" href="#operate-intro"> 运营信息 </a>
          <a class="tab-item" href="#enterprise"> 入驻企业 </a>
          <a class="tab-item" href="#facilities"> 园区配套 </a>
          <a class="tab-item" href="#facilities2"> 周边配套 </a>
          <a class="tab-item" href="#same-property"> 相似物业 </a>
        </div>
        <div class="tab-content">
          <div class="brief-intro u-box">
            <!-- 锚点辅助节点 -->
            <div id="brief-intro" class="assist-div"></div>
            <h3 class="u-title3">物业简介</h3>
            <ul class="intro-con">
              <!-- <li>
                <div class="lb">楼盘特色：</div>
                <div class="desc">
                  南山智园是“三区融合”的国际知识创新村的代表作，三区包括了园区、校区和社区。南山智园毗邻深圳大学城，按照构想，南山将在大学城所在的桃源片区建设成为深圳乃至全国的第一个“国际知识创新村”。园区将主要引进互联网、生物医药、新能源、新材料、新一代信息技术、文化产业、医疗器械、集成电路和智能电网等重点支持领域的企业。其中以互联网、新一代信息技术、新能源及新材料为重点引进方向。
                </div>
              </li>
              <li>
                <div class="lb">物业特色：</div>
                <div class="desc">-</div>
              </li>
              <li>
                <div class="lb">其他：</div>
                <div class="desc">-</div>
              </li> -->
              <li>
                <div class="desc">{{ wyBasicInfo.propertyIntroduction }}</div>
              </li>
            </ul>
          </div>
          <div class="operate-intro u-box">
            <!-- 锚点辅助节点 -->
            <div id="operate-intro" class="assist-div"></div>
            <h3 class="u-title3">运营信息</h3>
            <h4 class="u-title4">基本信息</h4>
            <div class="table-wrapper">
              <table class="u-table" border="1">
                <tbody>
                  <tr>
                    <td class="lb">用电价格（含公摊）：</td>
                    <td class="con">3423.45</td>
                    <td class="lb">容积率（%）</td>
                    <td class="con">6.12</td>
                  </tr>
                  <tr>
                    <td class="lb">建设开始时间：</td>
                    <td class="con">{{ wyBasicInfo.landStartTime }}</td>
                    <td class="lb">建设竣工时间：</td>
                    <td class="con">{{ wyBasicInfo.landEndTime }}</td>
                  </tr>
                  <tr>
                    <td class="lb">用地性质：</td>
                    <td class="con">办公</td>
                    <td class="lb">物业类型：</td>
                    <td class="con">产业用房</td>
                  </tr>
                  <tr>
                    <td class="lb">产业定位及准入要求：</td>
                    <td class="con">无</td>
                    <td class="lb">资质认证：</td>
                    <td class="con">-</td>
                  </tr>
                  <tr>
                    <td class="lb">楼栋数：</td>
                    <td class="con">-</td>
                    <td class="lb"></td>
                    <td class="con"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h4 class="u-title4">收费标准</h4>
            <div class="table-wrapper">
              <table class="u-table" border="1">
                <tbody>
                  <tr>
                    <td class="lb">物业管理费：</td>
                    <td class="con">{{ wyBasicInfo.manageFee }}元/月</td>
                    <td class="lb">停车费</td>
                    <td class="con">日收费：60元/日 、月收费：400元/月</td>
                  </tr>
                  <tr>
                    <td class="lb">用水价格（含公摊）：</td>
                    <td class="con">3.77元/吨</td>
                    <td class="lb">用电价格（含公摊）：</td>
                    <td class="con">1.3元/度</td>
                  </tr>
                  <tr>
                    <td class="lb">空调费：</td>
                    <td class="con">0元/m³</td>
                    <td class="lb">收费计算面积单位：</td>
                    <td class="con">建筑面积</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h4 class="u-title4">产权信息</h4>
            <div class="table-wrapper">
              <table class="u-table" border="1">
                <tbody>
                  <tr>
                    <td class="lb">产权人：</td>
                    <td class="con">南山政府物业管理中心</td>
                    <td class="lb">产权人类型：</td>
                    <td class="con">政府物业</td>
                  </tr>
                  <tr>
                    <td class="lb">房产使用年限：</td>
                    <td class="con">永久</td>
                    <td class="lb">房产证获得时间：</td>
                    <td class="con">-</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="enterprise u-box">
            <div id="enterprise" class="assist-div"></div>
            <h3 class="u-title3">入驻企业</h3>
            <h4 class="u-title4">企业行业分布 Top 5</h4>
            <div class="table-wrapper">
              <table class="u-table2" border="0">
                <thead>
                  <tr>
                    <th style="width: 140px">序号</th>
                    <th class="left">企业行业类型</th>
                    <th>数量</th>
                    <th style="width: 210px">今年入驻数</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td class="left">软件开发与信息传输</td>
                    <td>64</td>
                    <td>23</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td class="left">批发与零售业</td>
                    <td>64</td>
                    <td>12</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td class="left">创新型科技</td>
                    <td>64</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td class="left">科学研究</td>
                    <td>64</td>
                    <td>23</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td class="left">房地产</td>
                    <td>64</td>
                    <td>4</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h4 class="u-title4">部分企业示例</h4>
            <div class="list">
              <div class="item">
                <div class="pic-wrapper"></div>
                <div class="name">荣信诚</div>
              </div>
              <div class="item">
                <div class="pic-wrapper"></div>
                <div class="name">润迅</div>
              </div>
              <div class="item">
                <div class="pic-wrapper"></div>
                <div class="name">迪安诊断</div>
              </div>
              <div class="item">
                <div class="pic-wrapper"></div>
                <div class="name">中航华东</div>
              </div>
              <div class="item">
                <div class="pic-wrapper"></div>
                <div class="name">柏兴龙</div>
              </div>
              <div class="item">
                <div class="pic-wrapper"></div>
                <div class="name">真迈生物</div>
              </div>
              <div class="item">
                <div class="pic-wrapper"></div>
                <div class="name">深水咨询</div>
              </div>
              <div class="item">
                <div class="pic-wrapper"></div>
                <div class="name">万极科技</div>
              </div>
            </div>
          </div>
          <div class="facilities u-box">
            <div id="facilities" class="assist-div"></div>
            <h3 class="u-title3">园区配套</h3>
            <div class="table-wrapper">
              <table class="u-table" border="1">
                <tbody>
                  <tr>
                    <td class="lb">物业公司：</td>
                    <td class="con" colspan="3">深圳市××物业管理公司</td>
                  </tr>
                  <tr>
                    <td class="lb">配套宿舍：</td>
                    <td class="con">5套</td>
                    <td class="lb">配套食堂：</td>
                    <td class="con">2个</td>
                  </tr>
                  <tr>
                    <td class="lb">停车场：</td>
                    <td class="con">1个、83个车位</td>
                    <td class="lb">中央空调：</td>
                    <td class="con">1个</td>
                  </tr>
                  <tr>
                    <td class="lb">文体设施：</td>
                    <td class="con">4个</td>
                    <td class="lb">配电量（KVA）：</td>
                    <td class="con">9600</td>
                  </tr>
                  <tr>
                    <td class="lb">绿化率（%）：</td>
                    <td class="con">70.00</td>
                    <td class="lb">环评办理：</td>
                    <td class="con">否</td>
                  </tr>
                  <tr>
                    <td class="lb">消防验收：</td>
                    <td class="con">通过</td>
                    <td class="lb">距离公交站（km）：</td>
                    <td class="con">0.45</td>
                  </tr>
                  <tr>
                    <td class="lb">距离地铁（km）：</td>
                    <td class="con">0.1</td>
                    <td class="lb">距离高速路入口（km）：</td>
                    <td class="con">5.6</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="facilities2 u-box">
            <div id="facilities2" class="assist-div"></div>
            <h3 class="u-title3">周边配套</h3>
            <div class="map-wrapper"></div>
          </div>
          <div class="same u-box">
            <div id="same-property" class="assist-div"></div>
            <h3 class="u-title3">相似物业</h3>
            <div class="product-list">
              <div class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="map-type">360°</div>
                </div>
                <div class="name">智园一期</div>
                <div class="addr">
                  <div class="addr-details">桃源街道</div>
                  <div class="distance">12356.25m²</div>
                </div>
              </div>
              <div class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="map-type">360°</div>
                </div>
                <div class="name">智园一期</div>
                <div class="addr">
                  <div class="addr-details">桃源街道</div>
                  <div class="distance">12356.25m²</div>
                </div>
              </div>
              <div class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="map-type">360°</div>
                </div>
                <div class="name">智园一期</div>
                <div class="addr">
                  <div class="addr-details">桃源街道</div>
                  <div class="distance">12356.25m²</div>
                </div>
              </div>
              <div class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="map-type">360°</div>
                </div>
                <div class="name">智园一期</div>
                <div class="addr">
                  <div class="addr-details">桃源街道</div>
                  <div class="distance">12356.25m²</div>
                </div>
              </div>
              <div class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="map-type">360°</div>
                </div>
                <div class="name">智园一期</div>
                <div class="addr">
                  <div class="addr-details">桃源街道</div>
                  <div class="distance">12356.25m²</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TopTitle from '@/components/TopTitle.vue'
import TopNav from '@/components/TopNav.vue'
import { details, collect } from './request'

export default {
  components: {
    TopTitle,
    TopNav
  },
  data () {
    return {
      detailsID: '',
      wyBasicInfo: {},
      wyFacilitiesInfo: [],

      picCount: 10, // 图片总数
      picList: [
        { name: '' },
        { name: '' },
        { name: '' },
        { name: '' },
        { name: '' },
        { name: '' },
        { name: '' },
        { name: '' },
        { name: '' },
        { name: '' }
      ],
      curPicIndex: 0, // 当前图片索引
      posX: 0 // translateX值
    }
  },
  beforeRouteEnter (to, from, next) {
    next((vm) => {
      vm.detailsID = to.query.id
      vm.getDetails(to.query.id)
    })
  },
  methods: {
    getDetails (id) {
      details(id).then((res) => {
        if (res.data) {
          if (res.data.code == 0) {
            if (res.data && res.data.data && res.data.data.wyBasicInfo) {
              // if (res.data.data.wyBasicInfo.hasPermission) {
              this.wyBasicInfo = res.data.data.wyBasicInfo || {}
              this.wyFacilitiesInfo = res.data.data.wyFacilitiesInfo || []
              // 园区标签
              let parkTagFilter = []
              if (this.wyBasicInfo.parkTag && this.wyBasicInfo.parkTag.length > 0) {
                parkTagFilter = this.wyBasicInfo.parkTag.slice(0, 2)
              }
              this.$set(this.wyBasicInfo, 'parkTagFilter', parkTagFilter)
              // 入驻行业
              let enterIndustryFilter = []
              if (this.wyBasicInfo.enterIndustry && this.wyBasicInfo.enterIndustry.length > 0) {
                enterIndustryFilter = this.wyBasicInfo.enterIndustry.slice(0, 3)
              }
              this.$set(this.wyBasicInfo, 'enterIndustryFilter', enterIndustryFilter)
              // } else {
              //  this.$message.error('没有访问权限');
              // }
            }
          } else {
            if (res.data.errMsg) this.$message.error(res.data.errMsg)
          }
        }
      })
    },
    // 园区标签-查看更多
    showMoreParkTag () {
      this.wyBasicInfo.parkTagFilter = JSON.parse(JSON.stringify(this.wyBasicInfo.parkTag))
    },
    // 园区标签-查看更多按钮是否显示
    isShowbtnMore () {
      return this.wyBasicInfo.parkTag && this.wyBasicInfo.parkTag.length > 2 && this.wyBasicInfo.parkTagFilter.length <= 2
    },
    // 入驻行业-查看更多
    showMoreIndustry () {
      this.wyBasicInfo.enterIndustryFilter = JSON.parse(JSON.stringify(this.wyBasicInfo.enterIndustry))
    },
    // 入驻行业-查看更多按钮是否显示
    isShowIndustrybtnMore () {
      return this.wyBasicInfo.enterIndustry && this.wyBasicInfo.enterIndustry.length > 2 && this.wyBasicInfo.enterIndustryFilter.length <= 2
    },
    // 收藏/取消收藏
    handleCollect () {
      if (this.wyBasicInfo.id) {
        let params = {
          'socialUniformCreditCode': sessionStorage.getItem('creditCode'),
          'wyBasicInfoId': this.wyBasicInfo.id,
          'collectType': this.wyBasicInfo.isCollect ? 2 : 1
        }
        collect(params).then(res => {
          if (res.data.code == 0) {
            this.getDetails(this.wyBasicInfo.id)
          }
        })
      }
    },
    handlePrev () {
      if (
        this.curPicIndex - Math.abs(this.posX) / 90 >= 0 &&
        this.curPicIndex > 0
      ) {
        this.curPicIndex--
      }

      if (this.posX < 0) {
        this.posX += 90
      }
    },
    handleNext () {
      if (
        this.curPicIndex - Math.abs(this.posX) / 90 >= 0 &&
        this.curPicIndex < this.picCount - 1
      ) {
        this.curPicIndex++
      }

      if (Math.abs(this.posX) / 90 + 6 < this.picCount) {
        this.posX -= 90
      }
    },
    clickPic (index) {
      this.curPicIndex = index
    }
  }
}
</script>

<style scoped lang="less">
.u-tab {
  height: 50px;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 3px 5px 16px 0px rgba(0, 71, 157, 0.1);
  display: flex;
  user-select: none;
  .tab-item {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #333333;
    padding: 0 38px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    &.active {
      font-weight: bold;
      &::after {
        content: "";
        width: 61px;
        height: 3px;
        background: #1286ff;
        position: absolute;
        bottom: 4px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
.u-box {
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 3px 5px 16px 0px rgba(0, 71, 157, 0.1);
}
.u-title3 {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  position: relative;
  padding-left: 13px;
  box-sizing: border-box;
  &::before {
    content: "";
    width: 5px;
    height: 16px;
    background: #1286ff;
    position: absolute;
    left: -2px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.u-title4 {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  margin: 20px 0;
  padding: 0 13px;
  box-sizing: border-box;
}
.u-table {
  width: 100%;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  tr {
    td {
      padding: 15px 18px;
      box-sizing: border-box;
      font-size: 14px;
      &.lb {
        width: 17%;
        min-width: 17%;
        max-width: 17%;
        color: rgba(102, 102, 102, 1);
        text-align: right;
        background: rgba(249, 249, 249, 1);
      }
      &.con {
        width: 33%;
        min-width: 33%;
        max-width: 33%;
      }
    }
  }
}
.u-table2 {
  width: 100%;
  border-collapse: collapse;
  thead {
    tr {
      height: 48px;
      background: #f9f9f9;
      border: 1px solid #dddddd;
      font-size: 14px;
      color: #666666;
      th {
        font-weight: normal;
        text-align: center;
        &.left {
          text-align: left;
        }
      }
    }
  }
  tbody {
    tr {
      height: 48px;
      td {
        font-size: 14px;
        color: #666666;
        text-align: center;
        &.left {
          text-align: left;
        }
      }
    }
    tr:nth-child(2n) {
      background: #f9f9f9;
    }
  }
}
.u-range {
  display: flex;
  align-items: center;
  .input {
    width: 122px;
    height: 30px;
    border: 1px solid #c3cfe8;
    border-radius: 3px;
    text-align: center;
    outline: none;
  }
  .input::-webkit-input-placeholder {
    color: #7891c1;
  }
  .inpu::-moz-input-placeholder {
    color: #7891c1;
  }
  .input::-ms-input-placeholder {
    color: #7891c1;
  }
  .splitor {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.u-order {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  .icon-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: -4px;
    margin-left: 3px;
    .icon {
      height: 5px;
      font-size: 12px;
      color: rgba(195, 207, 232, 1);
      transform: scale(0.9);
    }
  }
  .name {
    font-size: 14px;
    color: #1a3966;
  }
  & + .u-order {
    margin-left: 45px;
  }
  &.up {
    .name {
      color: #3b76e4;
    }
    .icon-wrapper {
      .icon.el-icon-caret-top::before {
        color: rgba(59, 118, 228, 1);
      }
    }
  }
  &.down {
    .name {
      color: #3b76e4;
    }
    .icon-wrapper {
      .icon.el-icon-caret-bottom::before {
        color: rgba(59, 118, 228, 1);
      }
    }
  }
}
.assist-div {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -90px; // 这里可以设任意高度 对应锚点最后离窗口顶端的距离
  left: 0;
}
.property-list {
  width: 1200px;
  margin: 72px auto;
}
.pager-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 76px;
  margin-bottom: 24px;
}
.content-wrapper {
  padding: 22px 0 50px;
  box-sizing: border-box;
  .intro {
    height: 554px;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 3px 5px 16px 0px rgba(0, 71, 157, 0.1);
    margin-top: 10px;
    color: #333333;
    display: flex;
    padding: 20px 27px 32px 20px;
    box-sizing: border-box;
    .pic-wrapper {
      width: 598px;
      .pic-preview {
        width: 100%;
        height: 400px;
        .pic {
          width: 598px;
          height: 400px;
        }
      }
      .pic-list-outer {
        width: 100%;
        display: flex;
        margin-top: 21px;
        .btn {
          width: 28px;
          height: 80px;
          background: rgba(0, 0, 0, 0.2);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          .icon {
            font-size: 28px;
            color: #ffffff;
          }
        }
        .pic-list-wrapper {
          flex: 1;
          overflow: hidden;
          padding: 0 5px;
          box-sizing: border-box;
          .pic-list-inner {
            display: flex;
            transition: transform 0.2s ease;
            .pic-small {
              width: 80px;
              height: 80px;
              position: relative;
              .pic {
                width: 80px;
                height: 80px;
              }
              & + .pic-small {
                margin-left: 10px;
              }
              &::before {
                content: "";
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
                position: absolute;
                left: 0;
                top: 0;
              }
              &.active {
                &::before {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    .basic-info {
      flex: 1;
      margin-left: 34px;
      position: relative;
      .name {
        font-size: 24px;
        font-weight: bold;
      }
      .tag-list {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 11px;
        .tag {
          height: 22px;
          line-height: 22px;
          background: rgba(18, 134, 255, 0.1);
          border-radius: 3px;
          font-size: 12px;
          color: #1286ff;
          padding: 0 13px;
          box-sizing: border-box;
          & + .tag {
            margin-left: 11px;
          }
        }
        .more {
          font-size: 12px;
          padding: 0 20px;
          box-sizing: border-box;
          cursor: pointer;
          user-select: none;
          .icon {
            color: #1286ff;
            font-weight: bold;
          }
        }
      }
      .stat-wrapper {
        margin-top: 20px;
        .stat {
          display: flex;
          align-items: center;
          justify-content: space-between;
          box-sizing: border-box;
          .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 128px;
            height: 78px;
            background: #f9f9f9;
            text-align: center;
            .name {
              font-size: 18px;
              color: #333333;
            }
            .num {
              height: 21px;
              white-space: nowrap;
              overflow: hidden;
            }
            .desc {
              font-size: 14px;
              color: #999999;
              margin-top: 5px;
            }
          }
          .splitor {
            width: 1px;
            height: 40px;
            background: #dddddd;
          }
        }
        .stat + .stat {
          margin-top: 21px;
        }
      }
      .type {
        display: flex;
        margin-top: 28px;
        font-size: 14px;
        .lb {
          font-weight: bold;
        }
        .list {
          display: flex;
          .item {
            padding: 0 23px;
            color: rgba(221, 221, 221, 1);
            position: relative;
            cursor: pointer;
            &.active {
              color: #333333;
            }
            & + .item::before {
              content: "";
              position: absolute;
              width: 1px;
              height: 15px;
              left: 0px;
              top: 50%;
              transform: translateY(-50%);
              background: #dddddd;
            }
          }
        }
      }
      .indus {
        display: flex;
        margin-top: 25px;
        font-size: 14px;
        .lb {
          min-width: 80px;
          font-weight: bold;
        }
        .list {
          display: flex;
          flex-wrap: wrap;
          .item {
            padding: 0 20px;
            box-sizing: border-box;
            position: relative;
            & + .item::before {
              content: "";
              width: 1px;
              height: 15px;
              background: #333333;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          .more {
            cursor: pointer;
            user-select: none;
          }
        }
      }
      .addr {
        font-size: 14px;
        margin-top: 25px;
        .lb {
          font-weight: bold;
        }
      }
      .btn-star {
        outline: none;
        width: 177px;
        height: 44px;
        background: #ffffff;
        border: 1px solid #c3cfe8;
        border-radius: 3px;
        font-size: 14px;
        color: #333333;
        position: absolute;
        left: 0;
        bottom: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .icon {
          font-size: 16px;
          color: rgba(159, 178, 216, 1);
          margin-right: 9px;
        }
        .txt {
          margin-right: 15px;
        }
      }
      .star-count {
        position: absolute;
        right: -5px;
        top: 10px;
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #999999;
        cursor: pointer;
        .icon {
          font-size: 16px;
          color: rgba(159, 178, 216, 1);
          margin-left: 9px;
        }
      }
    }
  }
  .u-tab {
    margin-top: 20px;
  }
  .tab-content {
    min-height: 700px;
    .brief-intro {
      margin-top: 20px;
      padding: 15px 20px 10px;
      box-sizing: border-box;
      position: relative;
      .intro-con {
        margin-top: 35px;
        margin-bottom: 30px;
        margin-left: 7px;
        li {
          font-size: 14px;
          display: flex;
          align-items: flex-start;
          .lb {
            white-space: nowrap;
          }
          & + li {
            margin-top: 15px;
          }
        }
      }
    }
    .operate-intro {
      margin-top: 20px;
      padding: 15px 20px 42px;
      box-sizing: border-box;
      position: relative;
      .table-wrapper {
        padding: 0 10px 0 12px;
        box-sizing: border-box;
      }
    }
    .enterprise {
      margin-top: 20px;
      padding: 15px 20px 42px;
      box-sizing: border-box;
      position: relative;
      .list {
        display: flex;
        padding: 0 12px;
        box-sizing: border-box;
        .item {
          .pic-wrapper {
            width: 123px;
            height: 123px;
            background: #ffffff;
            border: 1px solid #dddddd;
          }
          .name {
            font-size: 14px;
            color: #333333;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 6px;
          }
          & + .item {
            margin-left: 20px;
          }
        }
      }
    }
    .facilities {
      margin-top: 20px;
      padding: 15px 20px 42px;
      box-sizing: border-box;
      position: relative;
      .table-wrapper {
        padding: 27px 10px 0 13px;
        box-sizing: border-box;
      }
    }
    .facilities2 {
      margin-top: 20px;
      padding: 15px 20px 42px;
      box-sizing: border-box;
      position: relative;
      .map-wrapper {
        height: 550px;
        background: #f3f3f3;
        margin-top: 14px;
      }
    }
    .same {
      margin-top: 20px;
      padding: 15px 20px 42px;
      box-sizing: border-box;
      position: relative;
      .product-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        .product-item {
          .pic-wrapper {
            position: relative;
            .pic {
              width: 220px;
              height: 172px;
            }
            .map-type {
              width: 60px;
              height: 60px;
              text-align: center;
              line-height: 60px;
              background: rgba(0, 0, 0, 0.4);
              border-radius: 50%;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              font-size: 18px;
              font-weight: bold;
              color: #ffffff;
            }
          }
          .name {
            font-weight: bold;
            color: #1286ff;
          }
          .addr {
            font-size: 14px;
            color: rgba(102, 102, 102, 1);
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 5px;
          }
          & + .product-item {
            margin-left: 15px;
          }
        }
      }
    }
  }
}
</style>
