<template>
  <div class="settled-wrapper">
    <div class="title">我的收藏</div>
    <div class="product-wrapper">
      <div class="product-inner">
        <div class="product-list-wrapper">
          <ul class="product-list">
            <li v-for="(item,index) in collectList" :key="index" class="product-item">
              <div class="pic-wrapper">
                <img class="pic" src="../../../assets/home_menu_01.png" alt="" />
                <div class="pic-desc">
                  <div class="map-type">
                    <div class="type-item">
                      <img class="icon-vr" src="../../../assets/vr.png" alt="" />
                    </div>
                    <div class="type-item"><span class="txt">360°</span></div>
                    <div class="type-item"><span class="txt">720°</span></div>
                  </div>
                  <div class="stat">{{item.humanNum||0}}人申请入驻</div>
                </div>
              </div>
              <div style="cursor:pointer" @click="toDetails(item)">
                <div class="name">{{item.name}}</div>
                <div class="desc">
                  <img class="icon" src="../../../assets/tag.png" alt="" />
                  <div class="txt"><span v-for="(item2,index2) in item.parkTag" :key="index2">{{item2}}</span></div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../../assets/addr.png" alt="" />
                    <div class="txt">
                      深圳市-南山区-桃源街道-学苑大道1001
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div v-if="collectList.length == 0" class="el-table__empty-block" style="height: 100%; width: 100%; font-size: 14px">
      <span class="el-table__empty-text">暂无数据</span>
    </div>
    <div class="pager-wrapper">
      <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[6, 12, 18, 24, 30]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="totalSize">
      </el-pagination>
    </div>
  </div>
</template>

<script>
import TopTitle from '@/components/TopTitle.vue'
import { list } from './request'
export default {
  components: { TopTitle },
  beforeRouteEnter (to, from, next) {
    next((vm) => {
      vm.getList()
    })
  },
  data: function () {
    return {
      sort: 0,
      currentPage: 1,
      pageSize: 6,
      totalSize: 0,
      collectList: []
    }
  },
  methods: {
    toDetails (item) {
      // if (item.hasPermission) {
      this.$router.push({ name: 'propertyDetails', query: { id: item.id } })
      // } else {
      //  this.$message.error('没有访问权限');
      // }
    },
    handleSizeChange (val) {
      this.pageSize = val
      this.getList()
    },
    handleCurrentChange (val) {
      this.currentPage = val
      this.getList()
    },
    // 获取列表
    getList (params = {}) {
      params = {
        p: this.currentPage,
        size: this.pageSize,
        socialUniformCreditCode: sessionStorage.getItem('creditCode'),
        sort: this.sort
      }
      list(params).then((res) => {
        if (res.data && res.data.data) {
          this.collectList = res.data.data.list || []
          this.totalSize = res.data.data.total
        }
      })
    }
  }
}
</script>

<style scoped lang="less">
.pager-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 34px;
}
.settled-wrapper {
  padding: 22px 22px 50px;
  box-sizing: border-box;
  .title {
    font-size: 18px;
    color: #333333;
  }
  .product-wrapper {
    box-sizing: border-box;
    .product-inner {
      .title-wrapper {
        display: flex;
        align-items: center;
        margin-top: 21px;
        .title {
          font-size: 24px;
          color: rgba(26, 57, 102, 1);
          font-weight: bold;
        }
        .tab {
          display: flex;
          margin-left: 15px;
          margin-top: 7px;
          .tab-item {
            a {
              height: 30px;
              line-height: 30px;
              font-size: 14px;
              color: rgba(26, 57, 102, 1);
              text-decoration: none;
              padding: 0 22px;
              display: block;
            }
            &.active {
              a {
                color: rgba(59, 118, 228, 1);
              }
            }
          }
        }
        .more {
          font-size: 14px;
          color: rgba(120, 145, 193, 1);
          height: 30px;
          line-height: 30px;
          text-decoration: none;
          margin-top: 7px;
        }
      }
      .product-list-wrapper {
        .product-list {
          display: flex;
          // justify-content: space-between;
          flex-wrap: wrap;
          .product-item {
            width: 283px;
            height: 320px;
            background: #ffffff;
            box-shadow: 0px 2px 6px 0px rgba(18, 134, 255, 0.1);
            border-radius: 3px;
            margin-top: 21px;
            margin-left: 22px;
            &:nth-child(3n-2) {
              margin-left: 0;
            }
            .pic-wrapper {
              width: 100%;
              height: 222px;
              position: relative;
              .pic {
                width: 100%;
                height: 222px;
                background: #eeeeee;
                border-radius: 3px 3px 0px 0px;
              }
              .tag {
                font-size: 13px;
                color: #ffffff;
                height: 24px;
                line-height: 24px;
                background: #f59007;
                padding: 0 11px;
                box-sizing: border-box;
                position: absolute;
                top: 10px;
                left: 10px;
              }
              .pic-desc {
                width: 100%;
                height: 46px;
                background-color: rgba(0, 0, 0, 0.3);
                color: #ffffff;
                position: absolute;
                left: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 12px;
                box-sizing: border-box;
                .stat {
                  font-size: 12px;
                  color: #ffffff;
                }
                .map-type {
                  display: flex;
                  align-items: center;
                  .type-item {
                    width: 24px;
                    height: 24px;
                    background: rgba(0, 0, 0, 0.3);
                    border-radius: 50%;
                    color: #ffffff;
                    font-size: 9px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    .txt {
                      transform: scale(0.75);
                      user-select: none;
                    }
                    .icon-vr {
                      width: 24px;
                      height: 24px;
                    }
                  }
                  .type-item + .type-item {
                    margin-left: 6px;
                  }
                }
              }
            }
            .name {
              font-size: 16px;
              font-weight: bold;
              color: rgba(18, 134, 255, 1);
              margin-top: 7px;
              padding: 0 9px;
              box-sizing: border-box;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .desc {
              display: flex;
              align-items: center;
              margin-top: 9px;
              padding: 0 9px;
              box-sizing: border-box;
              .icon {
                width: 16px;
                height: 16px;
                margin-right: 2px;
              }
              .txt {
                font-size: 12px;
                color: #333333;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            .addr {
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: 12px;
              color: #333333;
              margin-top: 11px;
              padding: 0 9px;
              box-sizing: border-box;
              .addr-details {
                display: flex;
                align-items: center;
                .icon-addr {
                  flex: 0 0 16px;
                  height: 16px;
                  margin-right: 2px;
                }
              }

              .txt {
                width: 245px;
                flex: 1;
                font-size: 12px;
                color: #333333;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
          // &::after {
          //   content: "";
          //   flex: 1;
          // }
        }
      }
    }
  }
}
</style>
