<template>
  <section class="project-container">
    <template>
      <section class="project-search">
        <div class="pr12 pt20">
          {{!-- do something --}}
        </div>
        <div class="pr12 ">
        </div>
      </section>
    </template>

    <div class="h5"></div>
    
    <template>
      <section class="project-search">
        <div class="flex-between pr12 pb6 pt12">
          <div class="w200 project-list-item-title">
            <span class="pl12"> {{ $router.currentRoute.meta.title }}</span>
          </div>
        </div>
      </section>
    </template>

    <div class="h5"></div>
    
    <template>
      <section class="project-table" >
      </section>
    </template>
  </section>
</template>

<script>
export default {
  name: '{{ properCase name }}',
  props: {},
  data() {
    return {}
  },
  created() {},
  mounted() {},
  methods: {}
}
</script>

<style lang="" scoped>
</style>