<template>
  <div class="settled-wrapper">
    <div class="title">申请记录</div>
    <div class="contract-list u-table">
      <el-table :data="tableData" stripe style="width: 100%">
        <el-table-column type="index" label="序号" width="70" align="center">
        </el-table-column>
        <el-table-column prop="proName" label="业务名称" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="businessType" label="业务类型" :show-overflow-tooltip="true" width="140">
        </el-table-column>
        <el-table-column prop="lease" label="承租方" :show-overflow-tooltip="true" width="120">
        </el-table-column>
        <el-table-column prop="process" label="流程进度" width="110">
        </el-table-column>
        <el-table-column prop="applicationTime" label="申请时间" width="170" align="center" :formatter="formateDateTime">
        </el-table-column>
        <el-table-column label="操作" width="140" align="center">
          <template slot-scope="scope">
            <el-button type="text" size="small" style="font-size: 14px" @click="toDtails(scope.row)">申请详情</el-button>
            <el-button type="text" size="small" style="font-size: 14px" :disabled="scope.row.process=='已办结'" @click="handleCancel(scope.row)">撤销</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="pager-wrapper">
      <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 15, 20, 30]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="totalSize">
      </el-pagination>
    </div>
  </div>
</template>

<script>
import TopTitle from '@/components/TopTitle.vue'
import { list, undo } from './request'
import { formatDate } from '@/until/common'

export default {
  components: { TopTitle },
  data () {
    return {
      currentPage: 1,
      pageSize: 10,
      totalSize: 0,
      tableData: []
    }
  },
  beforeRouteEnter (to, from, next) {
    next((vm) => {
      vm.getList()
    })
  },
  methods: {
    // 业务类型
    formatBusinessType (row) {
      let typeName = ''
      if (row && row.businessType && !isNaN(row.businessType)) {
        switch (parseInt(row.businessType)) {
          case 1:
            typeName = '产业用房租赁'
            break
          case 2:
            typeName = '商业用房租赁'
            break
          case 3:
            typeName = '住宅用房租赁'
            break
          case 4:
            typeName = '南山软件园租赁'
            break
        }
      }
      return typeName
    },
    // 流程进度
    formatProc (row) {
      let typeName = ''
      if (row && row.businessType && !isNaN(row.businessType)) {
        switch (parseInt(row.businessType)) {
          case 0:
            typeName = '刚授权'
            break
          case 1:
            typeName = '企业申请'
            break
          case 2:
            typeName = '企业撤回'
            break
          case 3:
            typeName = '管理员撤销授权'
            break
        }
      }
      return typeName
    },
    formateDateTime (row) {
      return (row.applicationTime && row.applicationTime != 'null') ? formatDate(row.applicationTime) : ''
    },
    toDtails (row) {
      this.$router.push({ name: 'recordDetails', query: { id: row.id } })
    },
    handleSizeChange (val) {
      this.pageSize = val
      this.getList()
    },
    handleCurrentChange (val) {
      this.currentPage = val
      this.getList()
    },
    getList (params = {}) {
      params = {
        p: this.currentPage,
        size: this.pageSize,
        socialUniformCreditCode: sessionStorage.getItem('creditCode'),
        userId: sessionStorage.getItem('userId')
      }
      list(params).then((res) => {
        if (res.data && res.data.data) {
          this.tableData = res.data.data.list || []
          this.totalSize = res.data.data.total
        } else {
          this.tableData = []
          this.totalSize = 0
        }
      })
    },
    // 撤销
    handleCancel (row) {
      let params = {
        id: row.id
      }
      this.$confirm('确认撤销吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(() => {
          undo(params).then((res) => {
            if (res.data) {
              if (res.data.code == 0) {
                this.$message({
                  message: '撤销成功',
                  type: 'success'
                })
                this.getList()
                this.$store.dispatch('personalCenter/refreshCount')// 刷新左侧菜单中的数量
              } else {
                if (res.data.errMsg) this.$message.error(res.data.errMsg)
              }
            }
          })
        })
        .catch(() => { })
    }
  }
}
</script>

<style scoped lang="less">
.pager-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 34px;
}
.settled-wrapper {
  padding: 22px 22px 50px;
  box-sizing: border-box;
  .title {
    font-size: 18px;
    color: #333333;
  }
  .contract-list {
    margin-top: 12px;
  }
}
</style>
