<template>
  <el-input
    style="width: 380px"
    type="text"
    placeholder="请输入内容"
    v-model="setValue"
    maxlength="10"
    show-word-limit
  >
    <template slot="append">
      <el-button slot="append" icon="el-icon-search"></el-button>
    </template>
  </el-input>
</template>

<script>
export default {
  components: {},
  props: ['searchValue'],
  watch: {
    setValue: function (newV, oldV) {
      this.setValue = newV
      this.$emit('callSelectInput', this.setValue)
    }
  },
  data () {
    return {
      setValue: ''
    }
  },
  mounted () {
    this.setValue = this.searchValue
  },
  methods: {

  }
}
</script>
