<template>
  <div class="register_app">
    <div class="register_body">
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
        <el-form-item label="手机号" prop="phone">
          <el-input v-model="ruleForm.phone"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="pass">
          <el-input type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="确认密码" prop="checkPass">
          <el-input type="password" v-model="ruleForm.checkPass" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
          <el-button @click="resetForm('ruleForm')">重置</el-button>
          <router-link to="/">
            <el-button>返回</el-button>
          </router-link>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    var checkAge = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('手机号不能为空'))
      }

      var phone = /^1[0-9]\d{9}$/
      setTimeout(() => {
        if (!phone.test(this.ruleForm.phone)) {
          return callback(new Error('手机号格式不对'))
        } else {
          callback()
        }
      }, 1000)
    }
    var validatePass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请输入密码'))
      } else {
        if (this.ruleForm.checkPass !== '') {
          this.$refs.ruleForm.validateField('checkPass')
        }
        callback()
      }
    }
    var validatePass2 = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请再次输入密码'))
      } else if (value !== this.ruleForm.pass) {
        callback(new Error('两次输入密码不一致!'))
      } else {
        callback()
      }
    }
    return {
      ruleForm: {
        pass: '',
        checkPass: '',
        phone: ''
      },
      rules: {
        pass: [{ validator: validatePass, trigger: 'blur' }],
        checkPass: [{ validator: validatePass2, trigger: 'blur' }],
        phone: [{ validator: checkAge, trigger: 'blur' }]
      }
    }
  },
  components: {},
  methods: {
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          alert('注册成功')
          this.$router.push({
            path: '/'
          })
        } else {
          return false
        }
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    }
  }
}
</script>

<style scoped>
.register_body {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 40%;
  display: inline-block;
  vertical-align: middle;
  width: 500px;
  background: hsla(0, 0%, 100%, 0.8);
  -webkit-box-shadow: 0 2px 20px 0 rgb(74 144 226 / 54%);
  box-shadow: 0 2px 20px 0 rgb(74 144 226 / 54%);
  border-radius: 4px;
  padding: 50px 88px 60px;
  background-image: url("http://wygl.onlinefindyou.com/gqzhmh/static/img/login-bg.ed655353.jpg");
}
.register_app {
  width: 100%;
  height: 100%;
  background: #eff3f8;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-image: url("http://wygl.onlinefindyou.com/gqzhmh/static/img/login-bg.ed655353.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
</style>
