<template>
  <div class="u-linear-bg">
    <top-title></top-title>

    <div class="content-wrapper">
      <div class="content">
        <top-nav :list="[{ name: '个人中心' }]"></top-nav>
        <div class="main">
          <div class="aside">
            <div class="userinfo">
              <img class="avator" src="../../assets/icon_avator.png" alt="" />
              <div class="name">{{ sysUser.nickName || "系统管理员" }}</div>
              <div class="phone">{{ formatPhone(sysUser.phone) }}</div>
            </div>
            <ul class="u-menu">
              <li class="menu-item">
                <router-link
                  class="menu-item-link"
                  to="/personalCenter/settled"
                >
                  <div class="icon icon01"></div>
                  <div class="name">我的入驻</div>
                  <div class="count" v-if="settledCount > 0">
                    （<span class="num">{{ settledCount }}</span
                    >）
                  </div>
                </router-link>
              </li>
              <li class="menu-item">
                <router-link
                  class="menu-item-link"
                  to="/personalCenter/collect"
                >
                  <div class="icon icon02"></div>
                  <div class="name">我的收藏</div>
                  <div class="count" v-if="collectCount > 0">
                    （<span class="num">{{ collectCount }}</span
                    >）
                  </div>
                </router-link>
              </li>
              <li class="menu-item">
                <router-link
                  class="menu-item-link"
                  to="/personalCenter/contract"
                >
                  <div class="icon icon03"></div>
                  <div class="name">我的合同</div>
                  <div class="count" v-if="contractCount > 0">
                    （<span class="num">{{ contractCount }}</span
                    >）
                  </div>
                </router-link>
              </li>
              <li class="menu-item">
                <router-link class="menu-item-link" to="/personalCenter/recordList">
                  <div class="icon icon04"></div>
                  <div class="name">申请记录</div>
                  <div class="count" v-if="recordCount > 0">
                    （<span class="num">{{ recordCount }}</span
                    >）
                  </div>
                </router-link>
              </li>
            </ul>
          </div>
          <div class="con">
            <router-view></router-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TopTitle from '@/components/TopTitle.vue'
import TopNav from '@/components/TopNav.vue'
import { user, stat } from './request'
import { mapGetters, mapState } from 'vuex'

export default {
  components: { TopTitle, TopNav },
  data () {
    return {
      sysUser: {}
      // settledCount: 0,
      // collectCount: 0,
      // contractCount: 0,
      // recordCount: 0,
    }
  },
  computed: {
    ...mapState({
      settledCount: (state) => state.personalCenter.settledCount,
      collectCount: (state) => state.personalCenter.collectCount,
      contractCount: (state) => state.personalCenter.contractCount,
      recordCount: (state) => state.personalCenter.recordCount
    })
    // ...mapGetters('cart', {
    //   products: 'cartProducts',
    //   total: 'cartTotalPrice'
    // })
  },
  beforeRouteEnter (to, from, next) {
    next((vm) => {
      // vm.getUserInfo();
      // vm.getStat();
      vm.$store.dispatch('personalCenter/refreshCount')
    })
  },

  methods: {
    formatPhone (str) {
      return str ? str.substr(0, 3) + '****' + str.substr(7) : ''
    },
    getUserInfo () {
      user(sessionStorage.getItem('creditCode')).then((res) => {
        // console.log(res);
        if (res.data && res.data.data) {
          if (res.data.data.sysUser) {
            this.sysUser = res.data.data.sysUser
          }
          // this.settledCount = res.data.data.total || 0;
        }
      })
    },
    // 获取数量统计
    getStat () {
      let params = {
        socialUniformCreditCode: sessionStorage.getItem('creditCode')
      }
      stat(params).then((res) => {
        // console.log(res);
        if (res.data && res.data.data) {
          this.settledCount = res.data.data.myHouseNumber || 0
          this.collectCount = res.data.data.myFavoriteNumber || 0
          this.contractCount = res.data.data.myContractNumber || 0
          this.recordCount = res.data.data.myApplyNumber || 0
        }
      })
    }
  },

  created () {}
}
</script>

<style scoped lang="less">
.u-menu {
  .menu-item {
    height: 44px;
    box-sizing: border-box;
    .menu-item-link {
      height: 44px;
      text-decoration: none;
      display: flex;
      align-items: center;
      font-size: 16px;
      color: rgba(102, 102, 102, 1);
      padding-right: 20px;
      .icon {
        width: 20px;
        height: 20px;
        margin: 3px 7px 0 27px;
        &.icon01 {
          background: url("../../assets/center_icon_01.png") no-repeat;
        }
        &.icon02 {
          background: url("../../assets/center_icon_02.png") no-repeat;
        }
        &.icon03 {
          background: url("../../assets/center_icon_03.png") no-repeat;
        }
        &.icon04 {
          background: url("../../assets/center_icon_04.png") no-repeat;
        }
      }
      .name {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
      }
      .count {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        white-space: nowrap;
        overflow: hidden;
      }
      &.router-link-active {
        background: rgba(18, 134, 255, 0.1);
        position: relative;
        color: rgba(18, 134, 255, 1);
        .icon {
          &.icon01 {
            background: url("../../assets/center_icon_01_active.png") no-repeat;
          }
          &.icon02 {
            background: url("../../assets/center_icon_02_active.png") no-repeat;
          }
          &.icon03 {
            background: url("../../assets/center_icon_03_active.png") no-repeat;
          }
          &.icon04 {
            background: url("../../assets/center_icon_04_active.png") no-repeat;
          }
        }
        &::before {
          content: "";
          width: 6px;
          height: 44px;
          background: rgba(18, 134, 255, 1);
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}

.content-wrapper {
  margin-top: 72px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  .content {
    width: 1200px;
    margin-top: 11px;
    .main {
      min-height: 750px;
      margin-top: 10px;
      display: flex;
      .aside {
        flex: 0 0 250px;
        background: #ffffff;
        border-radius: 3px;
        box-shadow: 3px 5px 16px 0px rgba(0, 71, 157, 0.1);
        .userinfo {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: rgba(51, 51, 51, 1);
          .avator {
            width: 108px;
            height: 108px;
            border-radius: 50%;
            background-color: rgba(18, 134, 255, 0.2);
            margin-top: 37px;
          }
          .name {
            font-size: 18px;
            font-weight: bold;
            margin-top: 11px;
          }
          .phone {
            font-size: 14px;
            margin-top: 11px;
          }
        }
        .u-menu {
          margin-top: 50px;
        }
      }
      .con {
        flex: 1;
        background: #ffffff;
        border-radius: 3px;
        margin-left: 10px;
        box-shadow: 3px 5px 16px 0px rgba(0, 71, 157, 0.1);
      }
    }
  }
}
</style>
