<template>
    <el-form :model="form" :rules="rules" ref="form" label-width="126px">
    <el-form-item :label="addressLabel" class="address-name" prop="detailAddress">
    <div class="address">
    <el-form-item style="margin-bottom:0;" prop="provinceId" v-if="level === '2' || level === '3' || level === '4' || level === '5' ">
     <el-select v-model="form.provinceId" :disabled="isBan"  placeholder="请选择省" @change="(value)=>handleCity(value,'1')" @blur="handleBlur">
        <el-option
          v-for="item in provinceArr"
          :key="item.provinceCode"
          :label="item.name"
          :value="item.provinceCode">
        </el-option>
    </el-select>
    </el-form-item>

    <el-form-item style="margin-bottom:0;" prop="cityId" v-if="level === '2' || level === '3' || level === '4' || level === '5' ">
     <el-select v-model="form.cityId" :disabled="isBan"  placeholder="请选择市" @change="(value)=>handleArea(value,'1')"  @focus="handleProvince" @blur="handleBlur">
        <el-option
          v-for="item in cityArr"
          :key="item.cityCode"
          :label="item.name"
          :value="item.cityCode">
        </el-option>
    </el-select>
    </el-form-item>

    <el-form-item style="margin-bottom:0;" prop="areaId" v-if="level === '3' || level === '4' || level === '5' ">
     <el-select v-model="form.areaId" :disabled="isBan" placeholder="请选择区" @change="(value)=>handleStreet(value,'1')" @focus="handleProCity" @blur="handleBlur">
        <el-option
          v-for="item in areaArr"
          :key="item.areaCode"
          :label="item.name"
          :value="item.areaCode">
        </el-option>
    </el-select>
    </el-form-item>

   <el-form-item style="margin-bottom:0;" prop="streetId" v-if="level === '4' || level === '5' ">
     <el-select v-model="form.streetId" :disabled="isShow" placeholder="请选择街道" @change="(value)=>handleCommittee(value,'1')" @focus="handleProCitArea" @blur="handleBlur">
        <el-option
          v-for="item in streetArr"
          :key="item.streetCode"
          :label="item.name"
          :value="item.streetCode">
        </el-option>
    </el-select>
    </el-form-item>

    <el-form-item style="margin-bottom:0;" prop="committeeId" v-if="level === '5' ">
     <el-select v-model="form.committeeId" :disabled="isShow" placeholder="请选择社区" @change="(value)=>committeeChang(value,'1')" @focus="handleProCitAreStreet" @blur="handleBlur">
        <el-option
          v-for="item in committeeArr"
          :key="item.committeeCode"
          :label="item.name"
          :value="item.committeeCode">
        </el-option>
    </el-select>
    </el-form-item>

    <el-form-item>
    </el-form-item>
    </div>
    </el-form-item>

    <div class="detailAddress" v-if="isVillage === '1'">
    <el-form-item :label="detailAddressLabel" prop="village" >
    <el-input v-model="form.village" @blur="handleVillage" :disabled="isShow"></el-input>
    </el-form-item>
    </div>
    </el-form>
</template>

<script>
import {province, city, area, street, committee} from './request'
export default {
  props: [
    'isVillage',
    'level',
    'labelName',
    'fullAddress',
    'isDisabled',
    'isRequired',
    'addressArr',
    'detailAddr',
    'handleAddress',
    'handleRefresh',
    'isDisabledAdd'
  ],
  data () {
    return {
      siteArr: [],
      addressLabel: this.labelName || '地址：',
      detailAddressLabel: this.fullAddress || '详细地址：',
      isBan: !!this.isDisabled || false,
      isShow: !!this.isDisabledAdd || false,
      provinceArr: [],
      cityArr: [],
      areaArr: [],
      streetArr: [],
      committeeArr: [],
      addressName: 1,
      form: {
        provinceId: '44',
        cityId: '4403',
        areaId: '440305',
        streetId: '',
        committeeId: '',
        village: ''
      },
      rules: {
        detailAddress: [
          { required: !!this.isRequired || false, message: '请选择省', trigger: 'blur' }
        ],
        provinceId: [
          { required: !!this.isRequired || false, message: '请选择省', trigger: 'blur' }
        ],
        cityId: [
          { required: !!this.isRequired || false, message: '请选择市', trigger: 'blur' }
        ],
        areaId: [
          { required: !!this.isRequired || false, message: '请选择区', trigger: 'blur' }
        ],
        streetId: [
          { required: !!this.isRequired || false, message: '请选择街道', trigger: 'blur' }
        ],
        committeeId: [
          { required: !!this.isRequired || false, message: '请选择社区', trigger: 'blur' }
        ],
        village: [
          { required: !!this.isRequired || false, message: '请输入详细地址', trigger: 'blur' }
        ]
      }
    }
  },
  created () {
    this.handlerProvince()
    this.handleCity('44')
    this.handleArea('4403')
    this.handleStreet('440305')
  },

  methods: {
    handlerProvince () {
      province().then((res) => {
        this.provinceArr = res.data.data
      })
    },
    handleCity (provinceCode, setVal) {
      city(provinceCode).then((res) => {
        this.cityArr = res.data.data
      })
      if (setVal) {
        this.form.cityId = ''
        this.form.areaId = ''
        this.form.streetId = ''
        this.form.committeeId = ''
        this.cityArr = []
        this.areaArr = []
        this.streetArr = []
        this.committeeArr = []
      }
      this.$emit('event', this.form)
    },

    handleArea (cityCode, setVal) {
      area(cityCode).then((res) => {
        this.areaArr = res.data.data
      })
      if (setVal) {
        this.form.areaId = ''
        this.form.streetId = ''
        this.form.committeeId = ''
        this.areaArr = []
        this.streetArr = []
        this.committeeArr = []
      }
      this.$emit('event', this.form)
    },

    handleStreet (areaCode, setVal) {
      street(areaCode).then((res) => {
        this.streetArr = res.data.data
      })
      if (setVal) {
        this.form.streetId = ''
        this.form.committeeId = ''
        this.streetArr = []
        this.committeeArr = []
      }
      this.$emit('event', this.form)
    },

    handleCommittee (streetCode, setVal) {
      committee(streetCode).then((res) => {
        this.committeeArr = res.data.data
      })
      if (setVal) {
        this.form.committeeId = ''
        this.committeeArr = []
      }
      this.$emit('event', this.form)
    },

    committeeChang () {
      this.$emit('event', this.form)
    },

    handleBlur () {
      if (typeof this.handleRefresh === 'function') {
        this.handleRefresh()
      }
    },

    handleProvince () {
      if (this.form.provinceId === '') {
        this.$message({
          showClose: true,
          message: '请选择省',
          type: 'error'
        })
      }
    },

    handleProCity () {
      if (this.form.provinceId === '') {
        this.$message({
          showClose: true,
          message: '请选择省、市',
          type: 'error'
        })
      } else if (this.form.cityId === '') {
        this.$message({
          showClose: true,
          message: '请选择市',
          type: 'error'
        })
      }
    },

    handleProCitArea () {
      if (this.form.provinceId === '') {
        this.$message({
          showClose: true,
          message: '请选择省、市、区',
          type: 'error'
        })
      } else if (this.form.cityId === '') {
        this.$message({
          showClose: true,
          message: '请选择市、区',
          type: 'error'
        })
      } else if (this.form.areaId === '') {
        this.$message({
          showClose: true,
          message: '请选择区',
          type: 'error'
        })
      }
    },

    handleProCitAreStreet () {
      if (this.form.provinceId === '') {
        this.$message({
          showClose: true,
          message: '请选择省、市、区、街道',
          type: 'error'
        })
      } else if (this.form.cityId === '') {
        this.$message({
          showClose: true,
          message: '请选择市、区、街道',
          type: 'error'
        })
      } else if (this.form.areaId === '') {
        this.$message({
          showClose: true,
          message: '请选择区、街道',
          type: 'error'
        })
      } else if (this.form.streetId === '') {
        this.$message({
          showClose: true,
          message: '请选择街道',
          type: 'error'
        })
      }
    },

    handleVillage () {
      if (this.form.village === '') {
        this.$message({
          showClose: true,
          message: '请输入详细地址',
          type: 'error'
        })
      } else {
        this.$emit('eventVillage', this.form.village)
        if (typeof this.handleRefresh === 'function') {
          this.handleRefresh()
        }
      }
    }
  },
  updated () {
    let addArr = this.addressArr
    if (Array.isArray(addArr) && (addArr.length > 0) && (this.siteArr !== addArr)) {
      if (addArr[0] || addArr[1] || addArr[2] || addArr[3]) {
        this.handleCity(addArr[0])
        this.handleArea(addArr[1])
        this.handleStreet(addArr[2])
        this.handleCommittee(addArr[3])
      }
      if (addArr[0] || addArr[1] || addArr[2] || addArr[3] || addArr[4]) {
        this.form.provinceId = addArr[0]
        this.form.cityId = addArr[1]
        this.form.areaId = addArr[2]
        this.form.streetId = addArr[3]
        this.form.committeeId = addArr[4]
      } else {
        this.form.cityId = '4403'
        this.form.areaId = '440305'
      }
      if (this.detailAddr) {
        this.form.village = this.detailAddr
      }
      this.siteArr = addArr
    }
  }
}
</script>

<style lang="less" scoped>

.address{
     width: 100%;
     display: flex;
     justify-content: space-between;
  @media screen and (max-width: 1680px) {
   .item-address{
    width:85%;
   }
   }
 }
.detailAddress{
    padding: 0 22px 0 0;
}
</style>
