<template>
  <div class="navMenu">
      <template v-for="item in menuData">
          <el-submenu v-if="item.sysMenusList&&Array.isArray(item.sysMenusList)&&item.sysMenusList.length>0"
            :index="item.name"
            :key="item.id"
            :data="item.sysMenusList"
            :route="item.routerPath"
            >
              <template slot="title">
                <i :class="item.icon"></i>
                <span slot="title">{{item.name}}</span>
              </template>
              <NavMenu :menuData="item.sysMenusList"></NavMenu>
          </el-submenu>
          <el-menu-item @click="handleJump(item.routerPath)" :index="item.id" :key="item.id" v-else>
              <i :class="item.icon"></i>
              <span slot="title">{{item.name}}</span>
          </el-menu-item>
      </template>
  </div>
</template>

<script>
export default {
  name: 'NavMenu',
  props: ['menuData'],
  data () {
    return {}
  },
  methods: {
    handleJump (url) {
      if (url) {
        this.$router.push({
          path: url
        })
      }
    }
  }
}
</script>

<style scoped>
</style>
