
<template>
<div class="title">
<span class="vertical-line"></span>
<span class="title-name">{{titleName}}</span>
</div>
</template>

<script>
export default {
  props: ['titleName']
}
</script>

<style scoped>
 .title{
   width: 97%;
   height: 53px;
   border-bottom: 1px solid #ddd;
   margin-bottom: 24px;
   margin-left: 20px;
 }
 .vertical-line{
   display: inline-block;
   width: 6px;
   height: 18px;
   background-color: #1286FF;
   margin-right: 6px;
   position: relative;
   top: 3px;
 }
.title-name{
  line-height: 60px;
}
</style>
