
<template>
  <div class="u-nav">
    <ul class="link-list">
      <li class="nav-link active">
        <a href="/home">
          <img class="link-icon" src="../assets/center_icon_01.png" alt="" />
          <div class="name">首页</div>
        </a>
      </li>
      <li class="nav-link" v-for="(item, index) in list" v-bind:key="index">
        <span class="split"></span>
        <a href="javascript:;">
          <div class="name">{{ item.name }}</div>
        </a>
      </li>
    </ul>
    <a class="back" :href="backPath || '/home'">{{ backName || "返回首页" }}</a>
  </div>
</template>

<script>
export default {
  //list:[{name:'合同签订'},{name:'合同申请'}] //导航列表
  props: ["backPath", "backName", "list"],
};
</script>

<style scoped lang="less">
.u-nav {
  height: 60px;
  background: #ffffff;
  box-shadow: 3px 5px 16px 0px rgba(0, 71, 157, 0.1);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px 0 0;
  box-sizing: border-box;
  .back {
    font-size: 14px;
    color: #1286ff;
    text-decoration: none;
    transition: all ease 0.2s;
    &:hover {
      color: #409eff;
    }
  }
  .link-list {
    display: flex;
    align-items: center;
    .nav-link {
      padding: 0 20px;
      box-sizing: border-box;
      position: relative;
      a {
        text-decoration: none;
        color: rgba(120, 145, 193, 1);
        font-size: 14px;
        display: flex;
        align-items: center;
        cursor: context-menu;
        .link-icon {
          margin-right: 15px;
          margin-top: 2px;
        }
      }
      &.active a {
        color: rgba(18, 134, 255, 1);
        cursor: pointer;
        transition: all ease 0.2s;
        &:hover {
          color: #409eff;
        }
      }
      .split {
        width: 7px;
        height: 7px;
        border-top: 1px solid rgba(120, 145, 193, 1);
        border-right: 1px solid rgba(120, 145, 193, 1);
        position: absolute;
        left: -10px;
        top: 50%;
        transform: rotate(45deg) translateY(-50%);
      }
    }
  }
}
</style>
