
<template>
  <div class="title-wrapper">
    <div class="title">
      <div class="logo">
        <div class="desc" style="cursor: pointer;" @click="toHome">南山区智慧空间资源管理服务平台</div>
      </div>
      <div class="person-info">
        <a class="collect" href="/personalCenter/collect">
          <img class="collect-pic" src="../assets/collect.png" alt="" />
          <div class="collect-desc">我的收藏</div>
        </a>
        <!-- <a class="account" href="/personalCenter/settled">
          <img class="account-pic" src="../assets/sys_avator.png" alt="" />
          <div class="account-desc">系统管理员</div>
          <div class="arrow"></div>
        </a> -->
        <el-dropdown trigger="click" style="cursor: pointer">
          <div class="el-dropdown-link account">
            <img class="account-pic" src="../assets/sys_avator.png" alt="" />
            <span>系统管理员</span>
            <div class="arrow"></div>
          </div>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item @click.native="toPersonalCenter"
              >个人中心</el-dropdown-item
            >
            <el-dropdown-item @click.native="logout">退出</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: [],
  methods: {
    toHome () {
      this.$router.push({ name: 'home' })
    },
    toPersonalCenter () {
      this.$router.push({ name: 'personalCenter' })
    },
    logout () {
      sessionStorage.removeItem('creditCode')
      sessionStorage.removeItem('userId')
      this.$router.push({ name: 'login' })
    }
  }
}
</script>

<style scoped lang="less">
.title-wrapper {
  width: 100%;
  height: 72px;
  background: #1286ff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  .title {
    width: 1200px;
    height: 72px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    .logo {
      display: flex;
      align-items: center;
      .logo-pic {
        width: 32px;
        height: 32px;
        margin-right: 17px;
      }
      .desc {
        font-size: 18px;
        margin-left: 10px;
      }
    }
    .person-info {
      display: flex;
      align-items: center;
      font-size: 14px;
      .collect {
        display: flex;
        align-items: center;
        color: #ffffff;
        text-decoration: none;
        .collect-pic {
          width: 24px;
          height: 24px;
          margin-right: 2px;
        }
      }
      .account {
        display: flex;
        align-items: center;
        color: #ffffff;
        text-decoration: none;
        margin-left: 36px;
        .account-pic {
          width: 24px;
          height: 24px;
          margin-top: 2px;
        }
        .arrow {
          border-width: 4px 4px 0;
          border-style: solid;
          border-color: #ffffff transparent transparent;
          border-radius: 4px;
          margin-left: 12px;
        }
      }
    }
  }
}
</style>
