<template>
<div class="imgList">
<el-upload
  :multiple="handleMultiple"
  list-type="picture-card"
  action="/zbkc/fileUpload/upload"
  :headers="header"
  :show-file-list="true"
  :before-upload="beforeUpload"
  :on-success="uploadOK"
  :file-list="fileList"
  :auto-upload="true"
  :disabled="handleDisabled"
  >
    <i slot="default" class="el-icon-plus"></i>
    <div slot="file" slot-scope="{file}">
      <img
        class="el-upload-list__item-thumbnail"
        :src="file.url" alt=""
      >
      <span class="el-upload-list__item-actions">
        <span
          class="el-upload-list__item-preview"
          @click="handlePictureCardPreview(file)"
        >
          <i class="el-icon-view"></i>
        </span>
        <span
          v-if="!handleDisabled"
          class="el-upload-list__item-delete"
          @click="handleRemove(file)"
        >
          <i class="el-icon-delete"></i>
        </span>
      </span>
    </div>
</el-upload>
<el-dialog :visible.sync="dialogVisible">
  <img width="100%" :src="dialogImageUrl" alt="">
</el-dialog>
</div>
</template>

<script>
export default {
  props: [
    'imgFormat', // 图片检验各格式
    'imgSize', // 图片限制大小
    'imgName', // 图片后缀名，用于上传格式不对提示
    'isDisabled', // 是否禁选
    'isMultiple', // 是否支持多文件上传
    'propertyImg', // 图片list集合
    'handleRefresh' // 资产登记tab icon切换校验
  ],
  data () {
    return {
      header: {
        Authorization: `Bearer ${sessionStorage.getItem('token')}`
      },
      handleMultiple: !!this.isMultiple || false,
      fileList: [],
      dialogImageUrl: '',
      dialogVisible: false,
      handleDisabled: !!this.isDisabled || false
    }
  },

  watch: {
    'propertyImg': function (newVal) {
      let fileArr = []
      newVal && Array.isArray(newVal) && newVal.length > 0 && newVal.forEach((item) => {
        let obj = {}
        obj.name = item.fileName
        obj.url = item.path
        fileArr.push(obj)
      })
      this.fileList = fileArr
      this.isShow = false
    }
  },

  created () {
    let fileArr = []
    let imgListArr = this.propertyImg
    imgListArr && Array.isArray(imgListArr) && imgListArr.length > 0 && imgListArr.forEach((item) => {
      let obj = {}
      obj.name = item.fileName
      obj.url = item.path
      fileArr.push(obj)
    })
    this.fileList = fileArr
    this.isShow = false
  },

  methods: {
    beforeUpload (file) {
      // 判断上传格式
      let isImg = this.imgFormat || ['image/jpeg', 'image/png', 'image/gif', 'image/jpg']
      const isJPG = file.type
      const isLt2M = file.size / 1024 / 1024 < this.imgSize || 30
      if (isImg.indexOf(isJPG) === -1) {
        this.$message.error(`上传图片只能是${this.imgName || 'jpeg、png、gif、jpg'}格式!`)
        return false
      }
      if (!isLt2M) {
        this.$message.error(`上传图片大小不能超过${this.imgSize || 30}M`)
        return false
      }
      return isJPG && isLt2M
    },

    uploadOK (response, file, fileList) {
      this.fileList = fileList
      this.$emit('event', fileList)
      this.isShow = false
      if (typeof this.handleRefresh === 'function') {
        this.handleRefresh()
      }
    },

    handleRemove (file) {
      let delFileList = this.fileList.filter(item => item.uid !== file.uid)
      this.fileList = delFileList
      this.$emit('event', delFileList)
    },

    handlePictureCardPreview (file) {
      this.dialogImageUrl = file.url
      this.dialogVisible = true
    }
  }
}
</script>
<style lang="less" scoped>
   .imgList{
     /deep/.el-upload--picture-card{
         width: 100px;
         height: 100px;
         line-height:110px;
     }
     /deep/.el-upload-list--picture-card, /deep/.el-upload-list__item{
         width: 100px;
         height: 100px;
     }
   }
</style>
