<template>
  <div class="file-list">
    <el-upload
      class="upload-wrapper"
      :multiple="handleMultiple"
      action="/portal/contact/fileUpload"
      :before-upload="beforeUpload"
      :on-success="uploadOK"
      :on-remove="handleRemove"
      :file-list="fileList"
      :show-file-list="showFileList"
      :disabled="handleDisabled"
      :on-change="handleChange"
      :data="params"
      :on-preview="handlePreview"
    >
      <el-button class="btn-upload" type="primary"
        ><i class="icon el-icon-document"></i><span>点击上传</span></el-button
      >
      <span
        slot="tip"
        v-if="isShow"
        style="margin-left: 12px; font-size: 12px; color: #999"
        >未选择任何文件</span
      >
    </el-upload>
    <!-- <ul class="filelist">
      <li
        v-for="(item, index) in fileList"
        v-bind:key="index"
        class="list-item"
      >
        <div class="filename">{{ item.name }}</div>
        <div style="flex: 1"></div>
        <a
          :href="
            item.url != ''
              ? item.url
              : '/portal/contact/fileDownload?id=' + item.id
          "
          target="_blank"
          class="btn btn-download"
          ><i class="icon el-icon-download"></i><span>下载</span></a
        >
        <a
          href="javascript:;"
          class="btn btn-delete"
          @click="handleRemoveFile(item, index)"
          ><i class="icon el-icon-delete"></i><span>删除</span></a
        >
      </li>
    </ul> -->
  </div>
</template>

<script>
export default {
  props: [
    "isRequired",
    "fileFormat",
    "fileSize",
    "isMultiple",
    "filesList",
    "showFileList",
    //"isEdit",
    "handleRefresh",
    "onRemoveFile",
    "onDownloadFile",
    "params",
  ],
  data() {
    return {
      handleMultiple: !!this.isMultiple || false,
      handleDisabled: !!this.isDisabled || false,
      fileList: [],
      isShow: true,
    };
  },
  mounted() {
    // if (this.filesList) {
    //   this.fileList = JSON.parse(JSON.stringify(this.filesList));
    // }
  },
  // watch: {
  //   filesList: function (newVal) {console.log(newVal)
  //     //if (this.isEdit === "edit") {
  //     let fileArr = [];
  //     Array.isArray(newVal) &&
  //       newVal.length > 0 &&
  //       newVal.forEach((item) => {
  //         let obj = {};
  //         obj.name = item.fileName;
  //         obj.url = item.path;
  //         fileArr.push(obj);
  //       });
  //     this.fileList = fileArr;
  //     this.isShow = false;
  //     //}
  //   },
  // },
  methods: {
    handleChange(file, fileList) {
      // console.log("这是file", file);
      // console.log("这是fileList", fileList);
      // 当多余一个的时候替换文件
      if (fileList.length > 1) {
        fileList.splice(0, 1);
      }
    },
    beforeUpload(file) {
      // 判断上传格式
      let nameKey = file.name;
      let wpsSuffix = nameKey && nameKey.split(".")[1];
      const isJPG = this.fileFormat || [
        "doc",
        "txt",
        "pdf",
        "xls",
        "docx",
        "xlsx",
        "zip",
        "rar",
      ];
      const isLt2M = file.size / 1024 / 1024 < this.fileSize || 30;
      if (isJPG.indexOf(wpsSuffix) === -1) {
        this.$message.error(`上传文件只能是 ${isJPG.join("、")}格式!`);
        return false;
      }
      if (!isLt2M) {
        this.$message.error(`上传文件大小不能超过${this.fileSize || 30}M!`);
        return false;
      }
      return isJPG && isLt2M;
    },

    uploadOK(response, file, fileList) {
      this.isShow = false;
      var newFileList = [];
      for (var i = 0; i < fileList.length; i++) {
        newFileList.push({
          name: fileList[i].name,
          url: fileList[i].response.data.path,
          id: fileList[i].response.data.id,
        });
      }
      this.fileList = newFileList;
      this.$emit("upload-ok", JSON.parse(JSON.stringify(newFileList)));
      if (typeof this.handleRefresh === "function") {
        this.handleRefresh();
      }
    },

    handleRemove(file) {
      this.fileList.splice(
        this.fileList.findIndex((item) => item.url === file.url),
        1
      );
    },
    handleRemoveFile(item, index) {
      // if(item&&item.response&&item.response.id){

      // }
      // this.fileList.splice(index, 1);
      if (item && item.id) {
        if (typeof this.onRemoveFile === "function") {
          this.onRemoveFile(item.id, index, (index) => {
            this.fileList.splice(index, 1);
          });
        }
      }
    },
    handleDownload(item, index) {
      if (item.url && item.url != "") {
        window.open(item.url);
      } else {
        if (typeof this.onDownloadFile === "function") {
          this.onDownloadFile(item.id);
        }
      }
    },
    handlePreview(file) {
      //console.log(file, this.fileList);
    },
  },
};
</script>
<style lang="less" scoped>
.file-list {
  width: 100%;
  .el-upload__tip {
    line-height: 14px;
  }
}
.upload-wrapper {
  .btn-upload {
  }
}

.filelist {
  width: 100%;
  .list-item {
    width: 100%;
    height: 42px;
    background: #f5faff;
    border: 1px solid #d2e1f9;
    border-radius: 3px;
    padding: 0 16px;
    box-sizing: border-box;
    font-size: 13px;
    color: #5f88fc;
    display: flex;
    align-items: center;
    margin-top: 10px;
    .btn {
      text-decoration: none;
      font-size: 13px;
      color: #5f88fc;
      background: none;
      .icon {
        font-size: 14px;
        margin-right: 5px;
      }
    }
    .btn + .btn {
      margin-left: 22px;
    }
  }
}
</style>
