<template>
<div class="file-list">
<el-upload
  class="upload-demo"
  :multiple="handleMultiple"
  action="/zbkc/fileUpload/upload"
  :before-upload="beforeUpload"
  :on-success="uploadOK"
  :on-remove="handleRemove"
  :file-list="fileList"
  :disabled="handleDisabled"
  :on-change="handleChange"
  >
  <el-button size="small" type="primary" >点击上传</el-button>
  <span slot="tip"  v-if="isShow" style="margin-left:12px; font-size:12px; color:#999;">未选择任何文件</span>

</el-upload>
</div>
</template>

<script>
export default {
  props: ['isRequired', 'fileFormat', 'fileSize', 'isMultiple', 'filesList', 'isEdit', 'handleRefresh'],
  data () {
    return {
      handleMultiple: !!this.isMultiple || false,
      handleDisabled: !!this.isDisabled || false,
      fileList: [],
      isShow: true
    }
  },
  watch: {
    'filesList': function (newVal) {
      if (this.isEdit === 'edit') {
        let fileArr = []
        Array.isArray(newVal) && newVal.length > 0 && newVal.forEach((item) => {
          let obj = {}
          obj.name = item.fileName
          obj.url = item.path
          fileArr.push(obj)
        })
        this.fileList = fileArr
        this.isShow = false
      }
    }
  },
  methods: {
    handleChange (file, fileList) {
      // console.log("这是file", file);
      // console.log("这是fileList", fileList);
      // 当多余一个的时候替换文件
      if (fileList.length > 1) {
        fileList.splice(0, 1)
      }
    },
    beforeUpload (file) {
      // 判断上传格式
      let nameKey = file.name
      let wpsSuffix = nameKey && nameKey.split('.')[1]
      const isJPG = this.fileFormat || ['doc', 'txt', 'pdf', 'xls', 'docx', 'xlsx']
      const isLt2M = file.size / 1024 / 1024 < this.fileSize || 30
      if (isJPG.indexOf(wpsSuffix) === -1) {
        this.$message.error(`上传文件只能是 ${isJPG.join('、')}格式!`)
        return false
      }
      if (!isLt2M) {
        this.$message.error(`上传文件大小不能超过${this.fileSize || 30}M!`)
        return false
      }
      return isJPG && isLt2M
    },

    uploadOK (response, file, fileList) {
      this.isShow = false
      this.$emit('event', fileList)
      if (typeof this.handleRefresh === 'function') {
        this.handleRefresh()
      }
    },

    handleRemove (file) {
      this.fileList.splice(this.fileList.findIndex(item => item.url === file.url), 1)
    }

  }
}
</script>
<style lang="less" scoped>
  .file-list{
    .el-upload__tip{
        line-height: 14px;
    }
  }
</style>
