html,
body {
  width: 100%;
  height: 100%;
}

body,
div,
ul,
li,
span,
ol,
dl,
a,
h1,
h2,
h3,
h4,
h5,
h6,
img,
u,
i,
b {
  margin: 0;
  padding: 0;
  list-style: none;
}
.dib{
  display: inline-block;
}
.h5{
  height: 5px;
}
.w100 {
  width: 100px;
}
.w200 {
  width: 200px;
}
.w300 {
  width: 300px;
}
.w500 {
  width: 500px;
}
.w800 {
  width: 800px;
}
.mt50{
  margin-top: 50px;
}
.mt30{
  margin-top: 30px;
}
.pt12 {
  padding-top: 12px;
}
.pt30{
  padding-top: 30px;
}
.pt50{
  padding-top: 50px;
}
.pl100 {
  padding-left: 100px;
}
.pl12 {
  padding-left: 12px;
}
.pd15{
  padding:15px;
}
.pt20 {
  padding-top: 20px;
}
.pl20 {
  padding-left: 20px;
}
.pr20 {
  padding-right: 20px;
}
.pb3{
  padding-bottom: 10px;
}
.pb10{
  padding-bottom: 10px;
}
.pb20{
  padding-bottom: 20px;
}
.pb30{
  padding-bottom: 30px;
}
.pb50{
  padding-bottom: 50px;
}
.pb100{
  padding-bottom: 100px;
}
.pb6{
  padding-bottom: 6px;
}
.pb12{
  padding-bottom: 12px;
}
.tac{
  text-align: center;
}
.bb{
  border-bottom: 1px solid rgb(226, 225, 225);
}
.fz15{
  font-size: 15px;
}
.fz20{
  font-size: 20px;
}
.fz25{
  font-size: 25px;
}
.fz30{
  font-size: 30px;
}
.ml40{
margin-left: 40%;
}
.ml30{
margin-left: 30%;
}
.ml60{
margin-left: 60%;
}
.wd200{
width: 200px;
}
.line{
  display: inline-block;
  font-style: normal;
  color: #1286ff;
  font-weight: bolder;
  letter-spacing:-4px;
  margin-right: 10px;
  position: relative;
  top:-1px;
}
.wd100{
  width: 100%;
}