/* layout 布局 */
/* 背景渐变色 */
.u-linear-bg{
  background: linear-gradient(RGBA(185, 199, 234, 1), rgba(255, 255, 255, 1))
    no-repeat;
  background-size: 100% 500px;
}
.project-search {
  background: #fff;
  padding: 0 20px 2px 0;
}
.project-container{
  background: #fff;
  width: 100%;
  height: 100%;
   overflow-x: hidden;
  overflow-y: auto;
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}
.project-search-form.el-form--inline  .el-form-item{
  margin-bottom: 6px
}
.project-table {
  position: relative;
  min-height: 400px;
  overflow-y: auto;
  background: #fff;
}
/* 设置滚动条的样式 */
.table ::-webkit-scrollbar {
  height: 15px;
  background: #fff;
  border-radius: 4px;
}
/* 滚动槽 */
.table ::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* 滚动条滑块 */
.table ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #dddddd;
 
}
.table *::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
.project-pagination {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  padding: 12px;
}
.flex-between {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.flex-end {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.project-list-item-title {
  float: left;
  font-weight: 600;
  font-size: 13px;
  line-height: 32px;
}
/* tab */
.el-tabs__nav-wrap::after {
  height: 1px !important;
  background: #e8e6e6;
}
.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  background: #3b76e4;
  color: #fff;
}
.el-tabs--card>.el-tabs__header .el-tabs__nav{
  border: none;
}

/* button */
.el-input__inner {
  height: 32px;
  line-height: 32px;
}
.el-button {
  padding: 8px 16px;
}
.el-button + .el-button {
  margin-left: 0;
}
.el-button.el-button--text{
  padding: 8px 5px;
}

/* table */
.el-table .cell {
  color: #333;
  font-size: 12px;
}
.el-table .el-table__cell {
  padding: 8px 0;
}

.handle-el-icon {
  padding: 6px !important;
  margin-top: 1px;
  margin-bottom: 2px;
}
.el-button.handle-el-icon {
  margin-left: 0;
  margin-right: 3px;
}
.el-checkbox__inner{
  border: 1px solid #6a7dad;
}

/* pagination */
.el-pager li {
  font-weight: normal !important;
  /* color: #333 !important; */
}


/* form */
.el-form-item__content{
  line-height: 32px;
}
.el-form-item{
  margin-bottom: 20px;
}
.el-form-item__label{
  line-height: 32px;
}
.el-form--inline .el-form-item {
  margin-bottom: 20px;
}
.project-el-form .el-form-item{
  margin-bottom: 20px;
}
.el-input--medium .el-input__inner{
  height: 42px;
  line-height: 42px;
  border-radius: 3px;
  border: 1px solid #DDDDDD;
}
.el-input--medium .el-textarea__inner{
  border-radius: 3px;
  border: 1px solid #DDDDDD;
  color: #333333;
}
.el-form-item--medium .el-form-item__content, .el-form-item--medium .el-form-item__label{
  line-height: 42px;
}
.el-input.is-disabled .el-input__inner{
  background: #F3F3F3;
  color: #333333;
}
.el-form-item__label{
  color: #333333;
}
.el-input__inner{
  color: #333333;
}
.el-select .el-input.el-input--medium .el-select__caret{
  color: #333333;
  font-size: 15px;
  font-weight: bold;
}
.el-textarea.is-disabled .el-textarea__inner{
  background: #F3F3F3;
  color: #333333;
}

/* dialog */
.el-dialog__header{
  padding: 12px 20px 8px;
  border-bottom: 1px solid #ccc9c9;
}
.el-dialog__title{
  font-size: 14px;
}
.detial-title-color {
  padding: 6px 12px;
  background: #688cdc;
  color: #fff;
}
.el-dialog__header {
  background-color: #5b9bd5;
}
.el-icon-close:before {
  color: #fff;
}
.el-dialog__title{
  font-weight: bold;
  color: #fff;
  font-size: 14px;
}
.el-dialog__footer {
  background-color: #e4f0ff;
  padding: 10px 20px;
}
.el-table::before {
  height: 0;
}
.block{
  text-align: right;margin: 20px;
}
.el_form{
  max-height: 585px; overflow-y:auto;
}