<template>
  <div class="index_main">
    <div class="index_header">
      <div>
        <!-- <img src="../assets/logo.png" height="50px" /> -->
        <span>南山智慧空间管理系统</span>
      </div>
      <div>
        <el-button type="primary" @click="out">退出</el-button>
      </div>
    </div>
    <div class="index_aside">
      <div class="index_aside_left">
        <el-aside class="el_aside" style="width:192px">
          <el-row class="tac">
            <el-col :span="24">
              <el-menu
               class="el-menu-vertical-demo"
               @open="handleOpen"
               @close="handleClose"
               text-color="#333"
               :collapse="!isCollapse"
               :default-active="activeIndex"
               active-text-color="#1286FF"
               style="width:192px;"
               >
                <NavMenu :menuData="menuData" :isCollapse="isCollapse"></NavMenu>
               </el-menu>

            </el-col>
          </el-row>
        </el-aside>
      </div>
      <div class="index_aside_right">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import { menuList } from '@/until/api.js'
import NavMenu from '@/components/NavMenu.vue'
export default {
  components: {NavMenu},
  data () {
    return {
      isCollapse: true,
      menuData: [],
      activeIndex: ''
    }
  },

  methods: {
    getMenuList (userId) {
      menuList(userId).then(res => {
        if (res.data.code === 0) {
          let arr = res.data.data
          this.menuData = res.data.data
          this.activeIndex = arr[0].id
        }
      })
    },
    out () {
      this.$confirm('此操作将退出登陆, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(() => {
          this.$message({
            type: 'success',
            message: '退出成功!',
            callback: this.$router.push('/login')
          })
          sessionStorage.removeItem('userName')
          sessionStorage.removeItem('userId')
          sessionStorage.removeItem('token')
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: '已取消退出'
          })
        })
    },
    handleOpen (key, keyPath) {
      // console.log(key, keyPath)
    },
    handleClose (key, keyPath) {
      // console.log(key, keyPath)
    }
  },

  created () {
    let userId = window.sessionStorage.getItem('userId')
    this.getMenuList(userId)
  }
}
</script>

<style>
.index_aside{
  background: linear-gradient(-20deg,#f1f5fa,#5679d4);
}
.index_aside_right {
  width: calc(100% - 220px);
  padding:14px;
}

.custom_main {
  background: #fff;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}
.index_aside_left{
  background-color: #fff;
  width: 192px;
  margin-bottom:14px;
}
.index_aside {
  width: 100%;
  height: calc(100% - 60px);
  /* height:100%; */
  display: flex;
}
.el_aside {
  height: 100%;
  overflow-x: hidden;
  /* background-color: rgb(84, 92, 100); */
}
.a {
  height: 100%;
}
.index_main {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
}

a {
  text-decoration: none;
}
.router-link-active {
  text-decoration: none;
}
.index_zoom span:hover,.index_zoom2 span:hover {
  color: aqua;
  cursor: pointer;
}
.index_zoom2{
   background: #fff; text-align: center; color: white
}
.index_zoom {
  background: #545c64;
  text-align: right;
  padding-right: 10%;
  color: white;
}
.main_body {
  /* border: 1px solid black; */
  width: 99%;
  height: 99%;
}
body,
html {
  height: 100%;
}
.index_header {
  background-color: #3B76E4;
  display: flex;
  justify-content: space-between;
  line-height: 60px;
  /* padding: 0px 5rem; */
  padding: 0 12px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
}
.index_header img {
  vertical-align: middle;
}
.el-main {
  background-color: #84af9b;
  height: 100%;
}
.el-submenu .el-menu-item {
  min-width: 0px;
}
.el-menu {
  border-right: none;
}
/* 设置滚动条的样式 */
.index_aside_left ::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  background: #fff;
  border-radius: 4px;
}
/* 滚动槽 */
.index_aside_left ::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* 滚动条滑块 */
.index_aside_left ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #dddddd;
}
</style>
