<template>
  <div class="home-container">
    <header class="header">
      <img class="header-bg" src="../../assets/search_bg.png" alt="" />
      <div class="top-wrapper">
        <div class="top">
          <div class="logo">
            <img class="logo-pic" src="../../assets/logo.png" alt="" />
            <div class="desc">南山区智慧空间资源管理服务平台</div>
          </div>
          <div class="person-info">
            <a class="collect" href="/personalCenter/collect">
              <img class="collect-pic" src="../../assets/collect.png" alt="" />
              <div class="collect-desc">我的收藏</div>
            </a>
            <!-- <a class="account" href="/personalCenter">
              <img
                class="account-pic"
                src="../../assets/sys_avator.png"
                alt=""
              />
              <div class="account-desc">系统管理员</div>
              <div class="arrow"></div>
            </a> -->
            <el-dropdown trigger="click" style="cursor: pointer">
              <div class="el-dropdown-link account">
                <img class="account-pic" src="../../assets/sys_avator.png" alt="" />
                <span>系统管理员</span>
                <div class="arrow"></div>
              </div>
              <el-dropdown-menu slot="dropdown" style="min-width:100px">
                <el-dropdown-item @click.native="toPersonalCenter">个人中心</el-dropdown-item>
                <el-dropdown-item @click.native="logout">退出</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
        </div>
      </div>
      <div class="search-wrapper">
        <input v-model="search" class="input-search" type="text" @keyup.enter="handleSearch" placeholder="请输入房源名称" maxlength="100" />
        <div class="icon-wrapper" @click="handleSearch">
          <img class="search-icon" src="../../assets/home_search.png" alt="" />
        </div>
      </div>
    </header>
    <section class="content">
      <div class="nav-wrapper">
        <ul class="nav">
          <li class="nav-item item-house">
            <a href="/houseApply">
              <div class="icon-wrapper">
                <img class="icon icon-house" src="../../assets/menu_icon_01.png" alt="" />
              </div>
              <div class="name">用房申请</div>
            </a>
          </li>
          <li class="nav-item item-contract">
            <a href="/signList">
              <div class="icon-wrapper">
                <img class="icon icon-contract" src="../../assets/menu_icon_02.png" alt="" />
              </div>
              <div class="name">合同签订</div>
            </a>
          </li>
          <li class="nav-item item-developers">
            <a href="javascript:;">
              <div class="icon-wrapper">
                <img class="icon icon-developers" src="../../assets/menu_icon_03.png" alt="" />
              </div>
              <div class="name">开发商空间移交</div>
            </a>
          </li>
          <li class="nav-item item-support">
            <a href="javascript:;">
              <div class="icon-wrapper">
                <img class="icon icon-support" src="../../assets/menu_icon_04.png" alt="" />
              </div>
              <div class="name">产业扶持政策</div>
            </a>
          </li>
          <li class="nav-item item-demand">
            <a href="javascript:;">
              <div class="icon-wrapper">
                <img class="icon icon-demand" src="../../assets/menu_icon_05.png" alt="" />
              </div>
              <div class="name">需求申报公示</div>
            </a>
          </li>
        </ul>
      </div>
      <div class="map-wrapper">
        <div class="map">
          <img class="pic" src="../../assets/map.png" alt="" />
          <div class="title">地图找房</div>
        </div>
        <div class="publish-entry">
          <div class="publish-item">
            <img class="pic" src="../../assets/publish_house.png" alt="" />
            <div class="txt1">欢迎业主入驻！</div>
            <div class="txt2">发布房源</div>
          </div>
          <div class="publish-item">
            <img class="pic" src="../../assets/publish_demand.png" alt="" />
            <div class="txt1">未找到合适房源？</div>
            <div class="txt2">立即发布需求</div>
          </div>
        </div>
      </div>
      <div class="product-wrapper">
        <div class="product-inner">
          <div class="title-wrapper">
            <div class="title">政府产业空间</div>
            <ul class="tab">
              <li class="tab-item" :class="{active:currentTab1==0}" @click="changeList('政府物业',0)">
                <a href="javascript:;">全部房源</a>
              </li>
              <li class="tab-item" :class="{active:currentTab1==1}" @click="changeList('政府物业',1)">
                <a href="javascript:;">热门房源</a>
              </li>
            </ul>
            <div style="flex: 1"></div>
            <a :href="'/propertyList?type=1&hot='+currentTab1" class="more">查看更多 》</a>
          </div>
          <div class="product-list-wrapper">
            <ul class="product-list">
              <li v-for="(item2, index2) in govList" v-bind:key="index2" class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="tag">仅出租</div>
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">{{item2.humanNum||0}}人申请入驻</div>
                  </div>
                </div>
                <a class="prod-info" href="javascript:;" @click="toDetails(item2)">
                  <div class="name">{{ item2.name }}</div>
                  <div class="desc">
                    <img class="icon" src="../../assets/tag.png" alt="" />
                    <div class="txt"><span v-for="(item3,index3) in item2.parkTag" :key="index3">{{item3}}</span></div>
                  </div>
                  <div class="addr">
                    <div class="addr-details">
                      <img class="icon-addr" src="../../assets/addr.png" alt="" />
                      <div class="txt">{{ item2.detailAddr }}</div>
                    </div>
                    <div class="distance">{{ item2.buildArea }}m²</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="product-inner">
          <div class="title-wrapper">
            <div class="title">国企产业空间</div>
            <ul class="tab">
              <li class="tab-item" :class="{active:currentTab2==0}" @click="changeList('国企物业',0)">
                <a href="javascript:;">全部房源</a>
              </li>
              <li class="tab-item" :class="{active:currentTab2==1}" @click="changeList('国企物业',1)">
                <a href="javascript:;">热门房源</a>
              </li>
            </ul>
            <div style="flex: 1"></div>
            <a :href="'/propertyList?type=2&hot='+currentTab2" class="more">查看更多 》</a>
          </div>
          <div class="product-list-wrapper">
            <ul class="product-list">
              <li v-for="(item2, index2) in stateList" v-bind:key="index2" class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="tag">仅出租</div>
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">{{item2.humanNum||0}}人申请入驻</div>
                  </div>
                </div>
                <a class="prod-info" href="javascript:;" @click="toDetails(item2)">
                  <div class="name">{{ item2.name }}</div>
                  <div class="desc">
                    <img class="icon" src="../../assets/tag.png" alt="" />
                    <div class="txt">{{item2.wyTag}}</div>
                  </div>
                  <div class="addr">
                    <div class="addr-details">
                      <img class="icon-addr" src="../../assets/addr.png" alt="" />
                      <div class="txt">{{ item2.detailAddr }}</div>
                    </div>
                    <div class="distance">{{ item2.buildArea }}m²</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="product-inner">
          <div class="title-wrapper">
            <div class="title">集体产业空间</div>
            <ul class="tab">
              <li class="tab-item" :class="{active:currentTab3==0}" @click="changeList('集体物业',0)">
                <a href="javascript:;">全部房源</a>
              </li>
              <li class="tab-item" :class="{active:currentTab3==1}" @click="changeList('集体物业',1)">
                <a href="javascript:;">热门房源</a>
              </li>
            </ul>
            <div style="flex: 1"></div>
            <a :href="'/propertyList?type=3&hot='+currentTab3" class="more">查看更多 》</a>
          </div>
          <div class="product-list-wrapper">
            <ul class="product-list">
              <li v-for="(item2, index2) in communityList" v-bind:key="index2" class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="tag">仅出租</div>
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">{{item2.humanNum||0}}人申请入驻</div>
                  </div>
                </div>
                <a class="prod-info" href="javascript:;" @click="toDetails(item2)">
                  <div class="name">{{ item2.name }}</div>
                  <div class="desc">
                    <img class="icon" src="../../assets/tag.png" alt="" />
                    <div class="txt">{{item2.wyTag}}</div>
                  </div>
                  <div class="addr">
                    <div class="addr-details">
                      <img class="icon-addr" src="../../assets/addr.png" alt="" />
                      <div class="txt">{{ item2.detailAddr }}</div>
                    </div>
                    <div class="distance">{{ item2.buildArea }}m²</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="product-inner">
          <div class="title-wrapper">
            <div class="title">社会产业空间</div>
            <ul class="tab">
              <li class="tab-item" :class="{active:currentTab4==0}" @click="changeList('社会物业',0)">
                <a href="javascript:;">全部房源</a>
              </li>
              <li class="tab-item" :class="{active:currentTab4==1}" @click="changeList('社会物业',1)">
                <a href="javascript:;">热门房源</a>
              </li>
            </ul>
            <div style="flex: 1"></div>
            <a :href="'/propertyList?type=4&hot='+currentTab4" class="more">查看更多 》</a>
          </div>
          <div class="product-list-wrapper">
            <ul class="product-list">
              <li v-for="(item2, index2) in socialList" v-bind:key="index2" class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="tag">仅出租</div>
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">{{item2.humanNum||0}}人申请入驻</div>
                  </div>
                </div>
                <a class="prod-info" href="javascript:;" @click="toDetails(item2)">
                  <div class="name">{{ item2.name }}</div>
                  <div class="desc">
                    <img class="icon" src="../../assets/tag.png" alt="" />
                    <div class="txt">{{item2.wyTag}}</div>
                  </div>
                  <div class="addr">
                    <div class="addr-details">
                      <img class="icon-addr" src="../../assets/addr.png" alt="" />
                      <div class="txt">{{ item2.detailAddr }}</div>
                    </div>
                    <div class="distance">{{ item2.buildArea }}m²</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- <div class="product-inner">
          <div class="title-wrapper">
            <div class="title">政府产业空间</div>
            <ul class="tab">
              <li class="tab-item active">
                <a href="javascript:;">全部房源</a>
              </li>
              <li class="tab-item">
                <a href="javascript:;">热门房源</a>
              </li>
            </ul>
            <div style="flex: 1"></div>
            <a href="/propertyList" class="more">查看更多 》</a>
          </div>
          <div class="product-list-wrapper">
            <ul class="product-list">
              <li class="product-item" @click="toGovDetails">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="tag">仅出租</div>
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item" @click="toGovDetails">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item" @click="toGovDetails">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item" @click="toGovDetails">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item" @click="toGovDetails">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item" @click="toGovDetails">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item" @click="toGovDetails">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item" @click="toGovDetails">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="product-inner">
          <div class="title-wrapper">
            <div class="title">国企产业空间</div>
            <ul class="tab">
              <li class="tab-item active">
                <a href="javascript:;">全部房源</a>
              </li>
              <li class="tab-item">
                <a href="javascript:;">热门房源</a>
              </li>
            </ul>
            <div style="flex: 1"></div>
            <a href="javascript:;" class="more">查看更多 》</a>
          </div>
          <div class="product-list-wrapper">
            <ul class="product-list">
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="tag">仅出租</div>
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="product-inner">
          <div class="title-wrapper">
            <div class="title">集体产业空间</div>
            <ul class="tab">
              <li class="tab-item active">
                <a href="javascript:;">全部房源</a>
              </li>
              <li class="tab-item">
                <a href="javascript:;">热门房源</a>
              </li>
            </ul>
            <div style="flex: 1"></div>
            <a href="javascript:;" class="more">查看更多 》</a>
          </div>
          <div class="product-list-wrapper">
            <ul class="product-list">
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="tag">仅出租</div>
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="product-inner">
          <div class="title-wrapper">
            <div class="title">社会产业空间</div>
            <ul class="tab">
              <li class="tab-item active">
                <a href="javascript:;">全部房源</a>
              </li>
              <li class="tab-item">
                <a href="javascript:;">热门房源</a>
              </li>
            </ul>
            <div style="flex: 1"></div>
            <a href="javascript:;" class="more">查看更多 》</a>
          </div>
          <div class="product-list-wrapper">
            <ul class="product-list">
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="tag">仅出租</div>
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
              <li class="product-item">
                <div class="pic-wrapper">
                  <img class="pic" src="../../assets/home_menu_01.png" alt="" />
                  <div class="pic-desc">
                    <div class="map-type">
                      <div class="type-item">
                        <img class="icon-vr" src="../../assets/vr.png" alt="" />
                      </div>
                      <div class="type-item"><span class="txt">360°</span></div>
                      <div class="type-item"><span class="txt">720°</span></div>
                    </div>
                    <div class="stat">1234人申请入驻</div>
                  </div>
                </div>
                <div class="name">智园一期</div>
                <div class="desc">
                  <img class="icon" src="../../assets/tag.png" alt="" />
                  <div class="txt">软件与开发、创新型科技、科学研究</div>
                </div>
                <div class="addr">
                  <div class="addr-details">
                    <img class="icon-addr" src="../../assets/addr.png" alt="" />
                    <div class="txt">桃源街道</div>
                  </div>
                  <div class="distance">12356.25m²</div>
                </div>
              </li>
            </ul>
          </div>
        </div> -->
      </div>
    </section>
  </div>
</template>

<script>
import { list, wyList } from './request'

export default {
  data () {
    return {
      search: '',
      prodData: {},

      currentTab1: 0,
      currentTab2: 0,
      currentTab3: 0,
      currentTab4: 0,
      govList: [], // 政府
      stateList: [], // 国企
      communityList: [], // 集体
      socialList: [] // 社会
    }
  },
  beforeRouteEnter (to, from, next) {
    next((vm) => {
      vm.getList()
    })
  },
  methods: {
    toDetails (item) {
      // if (item.hasPermission) {
      this.$router.push({ name: 'propertyDetails', query: { id: item.id } })
      // } else {
      //  this.$message.error('没有访问权限');
      // }
    },
    toPersonalCenter () {
      this.$router.push({ name: 'personalCenter' })
    },
    logout () {
      sessionStorage.removeItem('creditCode')
      this.$router.push({ name: 'login' })
    },
    getList () {
      list({}).then((res) => {
        // console.log(res);
        this.prodData = res.data.data[0]
        for (var item in res.data.data[0]) {
          // console.log(item, res.data.data[0][item]);
          let execName = /name=([^\s,]+),/.exec(item)
          if (execName.length >= 2) {
            let typeName = execName[1]
            switch (typeName) {
              case '政府物业':
                this.govList = JSON.parse(
                  JSON.stringify(res.data.data[0][item])
                )
                break
              case '国企物业':
                this.stateList = JSON.parse(
                  JSON.stringify(res.data.data[0][item])
                )
                break
              case '集体物业':
                this.communityList = JSON.parse(
                  JSON.stringify(res.data.data[0][item])
                )
                break
              case '社会物业':
                this.socialList = JSON.parse(
                  JSON.stringify(res.data.data[0][item])
                )
                break
            }
          }
        }
      })
    },
    // 切换 全部房源/热门房源
    changeList (propertyRights, tabIndex) {
      switch (propertyRights) {
        case '政府物业':
          this.currentTab1 = tabIndex
          break
        case '国企物业':
          this.currentTab2 = tabIndex
          break
        case '集体物业':
          this.currentTab3 = tabIndex
          break
        case '社会物业':
          this.currentTab4 = tabIndex
          break
      }

      if (tabIndex == 1) { // 热门房源
        let params = {
          p: 1,
          size: 8,
          sort: 3,
          socialUniformCreditCode: sessionStorage.getItem('creditCode'),
          propertyRights: propertyRights
        }
        wyList(params).then(res => {
          if (res.data.code == 0) {
            switch (propertyRights) {
              case '政府物业':
                this.govList = res.data.data.list || []
                break
              case '国企物业':
                this.stateList = res.data.data.list || []
                break
              case '集体物业':
                this.communityList = res.data.data.list || []
                break
              case '社会物业':
                this.socialList = res.data.data.list || []
                break
            }
          } else {
            if (res.data.errMsg) this.$message.error(res.data.errMsg)
          }
        })
      } else { // 全部房源
        this.getList()
      }
    },
    handleSearch () {
      this.$router.push({ name: 'propertyList', query: { search: this.search } })
    }
  }
}
</script>

<style scoped lang="less">
.home-container {
  min-width: 1200px;
  background-color: RGBA(245, 246, 246, 1);
}
.header {
  position: relative;
  .header-bg {
    width: 100%;
    z-index: -1;
  }
  .top-wrapper {
    width: 100%;
    height: 72px;
    background: rgba(1, 82, 147, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    .top {
      width: 1200px;
      height: 72px;
      margin: 0px auto;
      display: flex;
      justify-content: space-between;
      color: #ffffff;
      .logo {
        display: flex;
        align-items: center;
        .logo-pic {
          width: 32px;
          height: 32px;
          margin-right: 17px;
        }
        .desc {
          font-size: 18px;
          font-weight: bold;
        }
      }
      .person-info {
        display: flex;
        align-items: center;
        font-size: 14px;
        .collect {
          display: flex;
          align-items: center;
          color: #ffffff;
          text-decoration: none;
          .collect-pic {
            width: 24px;
            height: 24px;
            margin-right: 2px;
          }
        }
        .account {
          display: flex;
          align-items: center;
          color: #ffffff;
          text-decoration: none;
          margin-left: 36px;
          .account-pic {
            width: 24px;
            height: 24px;
            margin-top: 2px;
          }
          .arrow {
            border-width: 4px 4px 0;
            border-style: solid;
            border-color: #ffffff transparent transparent;
            border-radius: 4px;
            margin-left: 12px;
          }
        }
      }
    }
  }
  .search-wrapper {
    width: 590px;
    height: 46px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    position: absolute;
    top: 244px;
    left: 50%;
    transform: translateX(-50%);
    .input-search {
      flex: 1;
      height: 46px;
      border: 0px;
      color: #333333;
      background-color: #ffffff;
      border-radius: 3px 0 0 3px;
      outline: none;
      font-size: 16px;
      padding: 0 17px;
      box-sizing: border-box;
    }
    .input-search::-webkit-input-placeholder {
      color: rgba(153, 153, 153, 1);
    }
    .input-search::-moz-input-placeholder {
      color: rgba(153, 153, 153, 1);
    }
    .input-search::-ms-input-placeholder {
      color: rgba(153, 153, 153, 1);
    }
    .icon-wrapper {
      flex: 0 0 68px;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(18, 134, 255, 1);
      border-radius: 0 3px 3px 0;
      cursor: pointer;
      .search-icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}
.content {
  width: 1200px;
  margin: 46px auto;
  .nav {
    display: flex;
    justify-content: space-between;
    .nav-item {
      width: 227px;
      height: 116px;
      &.item-house {
        background: url("../../assets/home_menu_01.png") no-repeat;
      }
      &.item-contract {
        background: url("../../assets/home_menu_02.png") no-repeat;
      }
      &.item-developers {
        background: url("../../assets/home_menu_03.png") no-repeat;
      }
      &.item-support {
        background: url("../../assets/home_menu_04.png") no-repeat;
      }
      &.item-demand {
        background: url("../../assets/home_menu_05.png") no-repeat;
      }
      a {
        text-decoration: none;
        font-size: 14px;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        transition: all ease 0.2s;
        &:hover {
          color: #dddddd;
        }
        .icon-wrapper {
          width: 62px;
          height: 62px;
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.1);
          .icon {
            width: 62px;
            height: 62px;
          }
        }
      }
    }
  }
  .map-wrapper {
    margin-top: 51px;
    display: flex;
    justify-content: space-between;
    .map {
      position: relative;
      cursor: pointer;
      .title {
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        color: #ffffff;
        padding: 0 14px;
        background-color: rgba(1, 82, 147, 1);
        position: absolute;
        top: 0;
        left: 0;
      }
      .pic {
        width: 895px;
        height: 252px;
      }
    }
    .publish-entry {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .publish-item {
        position: relative;
        cursor: pointer;
        .txt1 {
          font-size: 24px;
          font-weight: bold;
          color: rgba(26, 57, 102, 1);
          position: absolute;
          top: 35px;
          left: 31px;
        }
        .txt2 {
          font-size: 14px;
          font-weight: bold;
          color: rgba(26, 57, 102, 1);
          position: absolute;
          top: 68px;
          left: 31px;
        }
      }
    }
  }
  .product-wrapper {
    padding: 28px 0 50px;
    box-sizing: border-box;
    .product-inner {
      .title-wrapper {
        display: flex;
        align-items: center;
        margin-top: 21px;
        .title {
          font-size: 24px;
          color: rgba(26, 57, 102, 1);
          font-weight: bold;
        }
        .tab {
          display: flex;
          margin-left: 15px;
          margin-top: 7px;
          .tab-item {
            a {
              height: 30px;
              line-height: 30px;
              font-size: 14px;
              color: rgba(26, 57, 102, 1);
              text-decoration: none;
              padding: 0 22px;
              display: block;
            }
            &.active {
              a {
                color: rgba(59, 118, 228, 1);
              }
            }
          }
        }
        .more {
          font-size: 14px;
          color: rgba(120, 145, 193, 1);
          height: 30px;
          line-height: 30px;
          text-decoration: none;
          margin-top: 7px;
        }
      }
      .product-list-wrapper {
        .product-list {
          display: flex;
          // justify-content: space-between;
          flex-wrap: wrap;
          .product-item {
            width: 283px;
            height: 320px;
            background: #ffffff;
            box-shadow: 0px 2px 6px 0px rgba(18, 134, 255, 0.1);
            border-radius: 3px;
            margin-top: 21px;
            margin-left: 22px;
            &:nth-child(4n-3) {
              margin-left: 0;
            }
            .pic-wrapper {
              width: 100%;
              height: 222px;
              position: relative;
              .pic {
                width: 100%;
                height: 222px;
                background: #eeeeee;
                border-radius: 3px 3px 0px 0px;
              }
              .tag {
                font-size: 13px;
                color: #ffffff;
                height: 24px;
                line-height: 24px;
                background: #f59007;
                padding: 0 11px;
                box-sizing: border-box;
                position: absolute;
                top: 10px;
                left: 10px;
              }
              .pic-desc {
                width: 100%;
                height: 46px;
                background-color: rgba(0, 0, 0, 0.3);
                color: #ffffff;
                position: absolute;
                left: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 12px;
                box-sizing: border-box;
                .stat {
                  font-size: 12px;
                  color: #ffffff;
                }
                .map-type {
                  display: flex;
                  align-items: center;
                  .type-item {
                    width: 24px;
                    height: 24px;
                    background: rgba(0, 0, 0, 0.3);
                    border-radius: 50%;
                    color: #ffffff;
                    font-size: 9px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    .txt {
                      transform: scale(0.75);
                      user-select: none;
                    }
                    .icon-vr {
                      width: 24px;
                      height: 24px;
                    }
                  }
                  .type-item + .type-item {
                    margin-left: 6px;
                  }
                }
              }
            }
            .name {
              font-size: 16px;
              font-weight: bold;
              color: rgba(18, 134, 255, 1);
              margin-top: 7px;
              padding: 0 9px;
              box-sizing: border-box;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .desc {
              display: flex;
              align-items: center;
              margin-top: 9px;
              padding: 0 9px;
              box-sizing: border-box;
              .icon {
                width: 16px;
                height: 16px;
                margin-right: 2px;
              }
              .txt {
                font-size: 12px;
                color: #333333;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            .addr {
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: 12px;
              color: #333333;
              margin-top: 11px;
              padding: 0 9px;
              box-sizing: border-box;
              .addr-details {
                flex: 1;
                display: flex;
                align-items: center;
                overflow: hidden;
                .icon-addr {
                  width: 16px;
                  height: 16px;
                  margin-right: 2px;
                }
              }
              .distance {
                flex: 0 0 90px;
                text-align: right;
              }

              .txt {
                font-size: 12px;
                color: #333333;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            .prod-info {
              text-decoration: none;
              transition: all ease 0.2s;
              &:hover {
                .name {
                  color: #409eff;
                }
              }
            }
          }
          // &::after {
          //   content: "";
          //   flex: 1;
          // }
        }
      }
    }
  }
}
</style>
