<template>
  <div class="login_app">
    <div class="login_body">
      <div>
        <h2>南山区智慧空间资源管理服务平台</h2>
      </div>
      <div class="login_user">
        <el-form
          :model="ruleForm"
          :rules="rules"
          ref="ruleForm"
          label-width="140px"
          class="demo-ruleForm"
          hide-required-asterisk
          @submit.native.prevent
        >
          <el-form-item label="统一社会信用代码" prop="socialUniformCreditCode">
            <el-input
              v-model="ruleForm.socialUniformCreditCode"
              style="width: 80%"
              @keyup.enter.native="submitForm('ruleForm')"
            ></el-input>
          </el-form-item>
          <!-- <el-form-item label="账号名称" prop="userName">
            <el-input v-model="ruleForm.userName" style="width: 80%;" @keyup.enter.native="submitForm('ruleForm')"></el-input>
          </el-form-item>
          <el-form-item label="账号密码" prop="pwd">
            <el-input v-model="ruleForm.pwd" type="password" style="width: 80%;" @keyup.enter.native="submitForm('ruleForm')"></el-input>
          </el-form-item> -->
          <!-- <div class="div1">
            <router-link to="/register">
              <el-link type="primary" class="login_register">注册账号</el-link>
            </router-link>
          </div> -->
          <el-button
            type="primary"
            @click="submitForm('ruleForm')"
            class="login_button"
            >登录</el-button
          >
        </el-form>
      </div>
    </div>
  </div>
</template>
<script>
// import axios from '../until/request'
import { login } from '@/until/api'
export default {
  data () {
    return {
      ruleForm: {
        socialUniformCreditCode: '987654321',
        userName: '',
        pwd: ''
      },
      rules: {
        socialUniformCreditCode: [
          {
            required: true,
            message: '请输入统一社会信用代码',
            trigger: 'blur'
          }
          // { min: 3, max: 20, message: '长度在 8 到 20 个字符', trigger: 'blur' }
        ]
        // userName: [
        //   { required: true, message: '请输入账户名称', trigger: 'blur' },
        //   { min: 3, max: 20, message: '长度在 8 到 20 个字符', trigger: 'blur' }
        // ],
        // pwd: [{ required: true, message: '请输入账户密码', trigger: 'blur' }]
      }
    }
  },
  components: {},
  methods: {
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          // let obj = {
          //   pwd: this.ruleForm.pwd,
          //   userName: this.ruleForm.userName
          // }
          // login(obj).then(res => {
          //   if (res.data.code === 0) {
          //     sessionStorage.setItem('token', res.data.data.accessToken)
          //     sessionStorage.setItem('userName', res.data.data.userInfoList.userName)
          //     sessionStorage.setItem('userId', String(res.data.data.userInfoList.id))
          //     this.$router.push({
          //       path: '/index'
          //     })
          //   } else {
          //     this.$message({
          //       showClose: true,
          //       message: `${res.data.errMsg}`,
          //       type: 'error'
          //     })
          //   }
          // })
          sessionStorage.setItem(
            'creditCode',
            this.ruleForm.socialUniformCreditCode
          )
          sessionStorage.setItem('userId', 5)
          this.$router.push({ name: 'home' })
        } else {
          return false
        }
      })
    }
  }
}
</script>

<style scoped>
.div1 {
  padding-left: 72%;
}
h2 {
  letter-spacing: 5.5px;
  color: #0f1a4d;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}
.login_user {
  margin: 50px 30px;
}
.login_el-input {
  display: inline;
  line-height: 60px;
  margin-left: 3%;
}
.login_el-label {
  line-height: normal;
  margin-bottom: 4px;
  font-size: 13px;
  display: inline;
}
.login_app {
  width: 100%;
  height: 100%;
  background: #eff3f8;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-image: url("http://wygl.onlinefindyou.com/gqzhmh/static/img/login-bg.ed655353.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.login_button {
  color: #fff;
  background-color: rgba(18, 134, 255, 1);
  border-color: rgba(18, 134, 255, 1);
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  padding: 0 17px;
  height: 40px;
  border-radius: 4px;
  margin-top: 2rem;
}
.login_user {
  margin: 50px 30px;
}
.login_el-input {
  display: inline;
  line-height: 60px;
  margin-left: 3%;
}
.login_el-label {
  line-height: normal;
  margin-bottom: 4px;
  font-size: 13px;
  display: inline;
}
.login_app {
  width: 100%;
  height: 100%;
  background: #eff3f8;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-image: url("http://wygl.onlinefindyou.com/gqzhmh/static/img/login-bg.ed655353.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.login_body {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 40%;
  display: inline-block;
  vertical-align: middle;
  width: 500px;
  background: hsla(0, 0%, 100%, 0.8);
  -webkit-box-shadow: 0 2px 20px 0 rgb(74 144 226 / 54%);
  box-shadow: 0 2px 20px 0 rgb(74 144 226 / 54%);
  border-radius: 4px;
  padding: 50px 88px 60px;
  background-image: url("http://wygl.onlinefindyou.com/gqzhmh/static/img/login-bg.ed655353.jpg");
}
</style>
