<template>
  <div class="sign-list-wrapper u-linear-bg">
    <top-title></top-title>
    <div class="sign-list">
      <div class="contract-wrapper">
        <top-nav
          :list="[{ name: '个人中心' }, { name: '我的合同' }]"
          back-name="返回列表"
          back-path="/personalCenter/contract"
        ></top-nav>
        <div class="sign-wrapper">
          <h3 class="title">
            {{ ruleForm.proName }}
            <!-- 租赁合同{{
              formatSignType(ruleForm.webSignType)
            }}申请 -->
          </h3>
          <el-form
            :model="ruleForm"
            :rules="rules"
            ref="ruleForm"
            label-width="195px"
            size="medium"
            class="form-wrapper"
          >
            <h4 class="u-sub-title">
              <div class="name">企业信息</div>
            </h4>
            <div class="form-item-inner">
              <el-form-item label="承租对象：" prop="leaseType">
                <el-input
                  :value="formatLeaseType(ruleForm.leaseType)"
                  disabled
                ></el-input>
              </el-form-item>
              <el-form-item label="签约类型：" prop="webSignType">
                <el-input
                  :value="formatSignType(ruleForm.webSignType)"
                  disabled
                ></el-input>
              </el-form-item>
              <el-form-item label="申请人类型：" prop="legalApplication">
                <el-input
                  :value="formatApplicationType(ruleForm.legalApplication)"
                  disabled
                ></el-input>
              </el-form-item>
              <el-form-item label="承租方(乙方)：" prop="leaser">
                <el-input v-model="ruleForm.leaser" disabled></el-input>
              </el-form-item>
              <el-form-item label="承租方证件类型：" prop="leaserDocumentType">
                <el-input
                  :value="formatCardType(ruleForm.leaserDocumentType)"
                  disabled
                ></el-input>
              </el-form-item>
              <el-form-item
                label="承租方证件号码："
                prop="leaserDocumentNumber"
              >
                <el-input
                  v-model="ruleForm.leaserDocumentNumber"
                  disabled
                ></el-input>
              </el-form-item>
              <el-form-item label="营业执照地址：" prop="leaseAddress">
                <el-input v-model="ruleForm.leaseAddress" disabled></el-input>
              </el-form-item>
              <el-form-item label="法定代表人：" prop="legalPerson">
                <el-input v-model="ruleForm.legalPerson" disabled></el-input>
              </el-form-item>
              <el-form-item label="法定代表人联系方式：" prop="legalPhone">
                <el-input v-model="ruleForm.legalPhone" disabled></el-input>
              </el-form-item>
              <el-form-item label="法定代表人证件类型：" prop="legalType">
                <el-input
                  :value="formatCardType(ruleForm.legalType)"
                  disabled
                ></el-input>
              </el-form-item>
              <el-form-item label="法定代表人证件号码：" prop="legalCode">
                <el-input v-model="ruleForm.legalCode" disabled></el-input>
              </el-form-item>
              <el-form-item
                label="法定代表人通讯地址："
                prop="legalPersonContactAddress"
              >
                <el-input
                  v-model="ruleForm.legalPersonContactAddress"
                  disabled
                ></el-input>
              </el-form-item>
              <el-form-item label="联系人：" prop="contactPerson">
                <el-input v-model="ruleForm.contactPerson" disabled></el-input>
              </el-form-item>
              <el-form-item label="联系人电话：" prop="contactPhone">
                <el-input v-model="ruleForm.contactPhone" disabled></el-input>
              </el-form-item>
            </div>
            <!-- <h4
              v-show="ruleForm.yyContractVO.applicationType == 2"
              class="u-sub-title"
            >
              <div class="name">代理人信息</div>
            </h4> -->
            <div v-show="ruleForm.applicationType == 2" class="form-item-inner">
              <el-form-item label="委托代理人：" prop="clientPerson">
                <el-input v-model="ruleForm.clientPerson" disabled></el-input>
              </el-form-item>
              <el-form-item label="委托代理人联系方式：" prop="clientPhone">
                <el-input v-model="ruleForm.clientPhone" disabled></el-input>
              </el-form-item>
              <el-form-item label="委托代理人证件类型：" prop="clientType">
                <el-select
                  v-model="ruleForm.clientType"
                  style="width: 100%"
                  disabled
                >
                  <el-option label="身份证" value="1"></el-option>
                  <el-option label="护照" value="2"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="委托代理人证件号码：" prop="clientCode">
                <el-input v-model="ruleForm.clientCode" disabled></el-input>
              </el-form-item>
              <el-form-item label="委托代理人通讯地址：" prop="clientAddress">
                <el-input v-model="ruleForm.clientAddress" disabled></el-input>
              </el-form-item>
            </div>
            <h4 class="u-sub-title">
              <div class="name">租赁信息</div>
            </h4>
            <div class="form-item-inner">
              <el-form-item label="出租物业地址：" prop="leaseWyAddress">
                <el-input v-model="ruleForm.leaseWyAddress" disabled></el-input>
              </el-form-item>
              <el-form-item label="是否经济贡献承诺：" prop="isEconomicCommit">
                <el-input
                  :value="
                    ruleForm.isEconomicCommit == 1
                      ? '是'
                      : ruleForm.isEconomicCommit == 2
                      ? '否'
                      : ''
                  "
                  disabled
                ></el-input>
              </el-form-item>
              <el-form-item
                v-show="ruleForm.isEconomicCommit == '是'"
                label="经济贡献率承诺："
                prop="economicCommit"
              >
                <el-input
                  v-model="ruleForm.economicCommit"
                  type="textarea"
                  :rows="6"
                  disabled
                ></el-input>
              </el-form-item>
              <el-form-item label="承租方通信地址：" prop="leaseWyAddress">
                <el-input v-model="ruleForm.leaseWyAddress" disabled></el-input>
              </el-form-item>
              <el-form-item label="出租面积（㎡）：" prop="rentalArea">
                <el-input v-model="ruleForm.rentalArea" disabled></el-input>
              </el-form-item>
              <el-form-item label="套内建筑面积（㎡）：" prop="setArea">
                <el-input v-model="ruleForm.setArea" disabled></el-input>
              </el-form-item>
              <el-form-item label="公摊面积（㎡）：" prop="pubArea">
                <el-input v-model="ruleForm.pubArea" disabled></el-input>
              </el-form-item>
              <el-form-item label="是否拆分租金单价：" prop="isSplitRent">
                <el-input
                  :value="ruleForm.isSplitRent == 1 ? '是' : '否'"
                  disabled
                ></el-input>
              </el-form-item>
              <el-form-item label="租金单价（元/㎡）：" prop="rentUnitPrice">
                <el-input v-model="ruleForm.rentUnitPrice" disabled></el-input>
              </el-form-item>
              <el-form-item label="月租金：" prop="monthlyRent">
                <el-input v-model="ruleForm.monthlyRent" disabled></el-input>
              </el-form-item>
              <el-form-item label="免租期：" prop="freeRent">
                <el-input v-model="ruleForm.freeRent" disabled></el-input>
              </el-form-item>
              <el-form-item label="租赁期限：" prop="rentTimeRange">
                <el-date-picker
                  v-model="ruleForm.rentTimeRange"
                  type="daterange"
                  range-separator="至"
                  start-placeholder="开始日期"
                  end-placeholder="结束日期"
                  disabled
                >
                </el-date-picker>
              </el-form-item>
              <el-form-item label="首期租金交付日期：" prop="firstRentTime">
                <el-input v-model="ruleForm.firstRentTime" disabled></el-input>
              </el-form-item>
              <el-form-item label="首期租金交付金额：" prop="firstRentMoney">
                <el-input v-model="ruleForm.firstRentMoney" disabled></el-input>
              </el-form-item>
              <el-form-item label="押金金额：" prop="depositAmount">
                <el-input v-model="ruleForm.depositAmount" disabled></el-input>
              </el-form-item>
              <el-form-item label="房屋租赁用途：" prop="leaseUse">
                <el-input v-model="ruleForm.leaseUse" disabled></el-input>
              </el-form-item>
              <el-form-item label="备注：" prop="remark">
                <el-input
                  v-model="ruleForm.remark"
                  type="textarea"
                  :rows="6"
                  disabled
                ></el-input>
              </el-form-item>
            </div>
            <h4 class="u-sub-title">
              <div class="name">拟定合同内容</div>
            </h4>
            <div class="form-item-inner">
              <el-form-item label="合同印件：">
                <div class="u-upload">
                  <div class="upload-wrapper"></div>
                  <ul class="filelist">
                    <div
                      v-for="(item, index) in ruleForm.contractFiles"
                      v-bind:key="index"
                    >
                      <li class="list-item">
                        <div class="filename">{{ item.fileName }}</div>
                        <div style="flex: 1"></div>
                        <a
                          :href="'javascript:window.open(' + item.path + ');'"
                          target="_blank"
                          class="btn btn-download"
                          ><i class="icon el-icon-download"></i
                          ><span>下载</span></a
                        >
                      </li>
                    </div>
                  </ul>
                </div>
              </el-form-item>
            </div>
            <h4 class="u-sub-title">
              <div class="name">申请材料</div>
              <div class="tips">
                注：当法人代表为非中国大陆籍时，必须上传中国大陆籍保证人的股东证明书；
              </div>
            </h4>
            <div class="form-item-inner">
              <el-form-item
                v-if="ruleForm.webSignType == 1"
                label="入驻通知书："
              >
                <div class="u-upload">
                  <div class="upload-wrapper"></div>
                  <ul class="filelist">
                    <div
                      v-for="(item, index) in ruleForm.ywHandoverDetailsPOList"
                      v-bind:key="index"
                    >
                      <li
                        class="list-item"
                        v-if="item.fileName && item.name == '入驻通知书'"
                      >
                        <div class="filename">{{ item.fileName }}</div>
                        <div style="flex: 1"></div>
                        <a
                          href="javascript:;"
                          class="btn btn-download"
                          @click="download(item.handoverDetailsImgId)"
                          ><i class="icon el-icon-download"></i
                          ><span>下载</span></a
                        >
                      </li>
                    </div>
                  </ul>
                </div>
              </el-form-item>
              <el-form-item
                v-else-if="ruleForm.webSignType == 2"
                label="续签通知书："
              >
                <div class="u-upload">
                  <div class="upload-wrapper"></div>
                  <ul class="filelist">
                    <div
                      v-for="(item, index) in ruleForm.ywHandoverDetailsPOList"
                      v-bind:key="index"
                    >
                      <li
                        class="list-item"
                        v-if="item.fileName && item.name == '续签通知书'"
                      >
                        <div class="filename">{{ item.fileName }}</div>
                        <div style="flex: 1"></div>
                        <a
                          href="javascript:;"
                          class="btn btn-download"
                          @click="download(item.handoverDetailsImgId)"
                          ><i class="icon el-icon-download"></i
                          ><span>下载</span></a
                        >
                      </li>
                    </div>
                  </ul>
                </div>
              </el-form-item>
              <el-form-item label="营业执照复印件：">
                <div class="u-upload">
                  <div class="upload-wrapper"></div>
                  <ul class="filelist">
                    <div
                      v-for="(item, index) in ruleForm.ywHandoverDetailsPOList"
                      v-bind:key="index"
                    >
                      <li
                        class="list-item"
                        v-if="item.fileName && item.name == '营业执照复印件'"
                      >
                        <div class="filename">{{ item.fileName }}</div>
                        <div style="flex: 1"></div>
                        <a
                          href="javascript:;"
                          class="btn btn-download"
                          @click="download(item.handoverDetailsImgId)"
                          ><i class="icon el-icon-download"></i
                          ><span>下载</span></a
                        >
                      </li>
                    </div>
                  </ul>
                </div>
              </el-form-item>
              <el-form-item label="法人身份证复印件：">
                <div class="u-upload">
                  <div class="upload-wrapper"></div>
                  <ul class="filelist">
                    <div
                      v-for="(item, index) in ruleForm.ywHandoverDetailsPOList"
                      v-bind:key="index"
                    >
                      <li
                        class="list-item"
                        v-if="item.fileName && item.name == '法人身份证复印件'"
                      >
                        <div class="filename">{{ item.fileName }}</div>
                        <div style="flex: 1"></div>
                        <a
                          href="javascript:;"
                          class="btn btn-download"
                          @click="download(item.handoverDetailsImgId)"
                          ><i class="icon el-icon-download"></i
                          ><span>下载</span></a
                        >
                      </li>
                    </div>
                  </ul>
                </div>
              </el-form-item>
              <el-form-item label="法人代表证明书：">
                <div class="u-upload">
                  <div class="upload-wrapper"></div>
                  <ul class="filelist">
                    <div
                      v-for="(item, index) in ruleForm.ywHandoverDetailsPOList"
                      v-bind:key="index"
                    >
                      <li
                        class="list-item"
                        v-if="item.fileName && item.name == '法人代表证明书'"
                      >
                        <div class="filename">{{ item.fileName }}</div>
                        <div style="flex: 1"></div>
                        <a
                          href="javascript:;"
                          class="btn btn-download"
                          @click="download(item.handoverDetailsImgId)"
                          ><i class="icon el-icon-download"></i
                          ><span>下载</span></a
                        >
                      </li>
                    </div>
                  </ul>
                </div>
              </el-form-item>
              <el-form-item
                label="法人授权委托书："
                v-show="ruleForm.applicationType == 2"
              >
                <div class="u-upload">
                  <div class="upload-wrapper"></div>
                  <ul class="filelist">
                    <div
                      v-for="(item, index) in ruleForm.ywHandoverDetailsPOList"
                      v-bind:key="index"
                    >
                      <li
                        class="list-item"
                        v-if="item.fileName && item.name == '法人授权委托书'"
                      >
                        <div class="filename">{{ item.fileName }}</div>
                        <div style="flex: 1"></div>
                        <a
                          href="javascript:;"
                          class="btn btn-download"
                          @click="download(item.handoverDetailsImgId)"
                          ><i class="icon el-icon-download"></i
                          ><span>下载</span></a
                        >
                      </li>
                    </div>
                  </ul>
                </div>
              </el-form-item>
              <el-form-item
                v-show="ruleForm.applicationType == 2"
                label="委托代理人身份证复印件："
              >
                <div class="u-upload">
                  <div class="upload-wrapper"></div>
                  <ul class="filelist">
                    <div
                      v-for="(item, index) in ruleForm.ywHandoverDetailsPOList"
                      v-bind:key="index"
                    >
                      <li
                        class="list-item"
                        v-if="
                          item.fileName &&
                          (item.name == '委托代理人身份证复印件' ||
                            item.name == '经办人身份证复印件')
                        "
                      >
                        <div class="filename">{{ item.fileName }}</div>
                        <div style="flex: 1"></div>
                        <a
                          href="javascript:;"
                          class="btn btn-download"
                          @click="download(item.handoverDetailsImgId)"
                          ><i class="icon el-icon-download"></i
                          ><span>下载</span></a
                        >
                      </li>
                    </div>
                  </ul>
                </div>
              </el-form-item>
              <el-form-item label="股东证明书：">
                <div class="u-upload">
                  <div class="upload-wrapper"></div>
                  <ul class="filelist">
                    <div
                      v-for="(item, index) in ruleForm.ywHandoverDetailsPOList"
                      v-bind:key="index"
                    >
                      <li
                        class="list-item"
                        v-if="item.fileName && item.name == '股东证明书'"
                      >
                        <div class="filename">{{ item.fileName }}</div>
                        <div style="flex: 1"></div>
                        <a
                          href="javascript:;"
                          class="btn btn-download"
                          @click="download(item.handoverDetailsImgId)"
                          ><i class="icon el-icon-download"></i
                          ><span>下载</span></a
                        >
                      </li>
                    </div>
                  </ul>
                </div>
              </el-form-item>
            </div>
          </el-form>
          <div class="toolbar"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TopTitle from '@/components/TopTitle.vue'
import TopNav from '@/components/TopNav.vue'
import { formatDate } from '@/until/common'
import { details, downloadFile } from './request'
export default {
  components: { TopTitle, TopNav },
  data () {
    return {
      contractId: '', // 1449972914534236162
      businessId: '',
      ruleForm: {
        yyContractVO: {},
        ywHandoverDetailsPOList: []
      },
      rules: {}
    }
  },
  beforeRouteEnter (to, from, next) {
    next((vm) => {
      if (to.query.id) {
        vm.contractId = to.query.id
      }
      if (to.query.businessId) {
        vm.businessId = to.query.businessId
      }
      vm.getDetails()
    })
  },
  methods: {
    // 申请类型
    formatApplicationType (type) {
      return type == 1 ? '法人申请' : type == 2 ? '委托代理人申请' : ''
    },
    // 承租对象
    formatLeaseType (type) {
      return parseInt(type) == 1 ? '企业' : '其它'
    },
    // 签约类型
    formatSignType (type) {
      var name = ''
      switch (parseInt(type)) {
        case 1:
          name = '新签'
          break
        case 2:
          name = '续签'
          break
      }
      return name
    },
    // 证件类型
    formatCardType (type) {
      return type == 1 ? '身份证' : type == 2 ? '护照' : ''
    },
    formatDateTime (row) {
      return formatDate(
        !isNaN(row.operatingTime)
          ? parseInt(row.operatingTime)
          : row.operatingTime
      )
    },
    getDetails () {
      let params = {
        // id: this.contractId,
        id: this.businessId
      }
      details(params).then((res) => {
        if (res.data && res.data.data) {
          // console.log(res.data.data);
          this.ruleForm = res.data.data
          if (!this.ruleForm) this.ruleForm = {}
          if (this.ruleForm.startRentDate && this.ruleForm.endRentDate) {
            this.ruleForm.rentTimeRange = [
              new Date(this.ruleForm.startRentDate),
              new Date(this.ruleForm.startRentDate)
            ]
          }
          if (!this.ruleForm.yyContractVO) {
            this.$set(this.ruleForm, 'yyContractVO', {})
          }
          if (!this.ruleForm.ywHandoverDetailsPOList) {
            this.$set(this.ruleForm, 'ywHandoverDetailsPOList', [])
          }
        }
      })
    },
    download (id) {
      if (!id) return
      let params = {
        id: id
      }
      downloadFile(params).then((res) => {})
    }
  }
}
</script>

<style scoped lang="less">
.u-sub-title {
  display: flex;
  align-items: flex-end;
  position: relative;
  padding: 0 17px;
  box-sizing: border-box;
  margin-top: 46px;
  margin-bottom: 42px;
  .name {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
  }
  .tips {
    font-size: 13px;
    color: #d9534f;
    margin-left: 32px;
    margin-bottom: 1px;
  }
  &::before {
    content: "";
    width: 6px;
    height: 16px;
    background: #1286ff;
    position: absolute;
    left: 0;
    top: 3px;
  }
}
.u-upload {
  .upload-wrapper {
    display: flex;
    align-items: center;
    .btn-upload {
      height: 34px;
      background: #1286ff;
      box-shadow: 0px 3px 9px 0px rgba(95, 136, 252, 0.1);
      border-radius: 3px;
      padding: 0 15px;
      box-sizing: border-box;
      color: #ffffff;
      font-size: 13px;
      position: relative;
      border: 0px;
      outline: none;
      cursor: pointer;
      .icon {
        font-size: 14px;
        margin-right: 2px;
      }
      input[type="file"] {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
    .desc {
      font-size: 13px;
      color: #999999;
      margin-left: 15px;
    }
  }
  .filelist {
    .list-item {
      width: 100%;
      height: 42px;
      background: #f5faff;
      border: 1px solid #d2e1f9;
      border-radius: 3px;
      padding: 0 16px;
      box-sizing: border-box;
      font-size: 13px;
      color: #5f88fc;
      display: flex;
      align-items: center;
      .btn {
        text-decoration: none;
        font-size: 13px;
        color: #5f88fc;
        background: none;
        .icon {
          font-size: 14px;
          margin-right: 5px;
        }
      }
      .btn + .btn {
        margin-left: 22px;
      }
    }
  }
}
.u-btn {
  border: 0px;
  outline: none;
  min-width: 105px;
  height: 34px;
  padding: 0 22px;
  border-radius: 3px;
  font-size: 14px;
  user-select: none;
  cursor: pointer;
  &.btn-primary {
    background: #1286ff;
    box-shadow: 0px 2px 4px 0px rgba(18, 134, 255, 0.35);
    color: #ffffff;
  }
  & + .u-btn {
    margin-left: 15px;
  }
}
.sign-list {
  width: 1200px;
  margin: 72px auto;
}
.form-item-center {
  display: flex;
  justify-content: center;
  .el-form-item__label {
    margin-right: 14px;
  }
}
.form-item-inner {
  margin-left: 35px;
}

.contract-wrapper {
  padding: 22px 0 50px;
  box-sizing: border-box;
  .sign-wrapper {
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 3px 5px 16px 0px rgba(0, 71, 157, 0.1);
    margin-top: 10px;
    padding: 15px 40px 160px 40px;
    box-sizing: border-box;
    .title {
      font-size: 24px;
      font-weight: bold;
      color: #333333;
      text-align: center;
    }
    .apply-type {
      margin-top: 58px;
      margin-left: -50px;
      //   .el-form-item__label::before {
      //     content: "*";
      //     color: #f56c6c;
      //     margin-right: 4px;
      //   }
    }
    .form-wrapper {
      padding-right: 145px;
    }
    .toolbar {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 96px;
    }
  }
}
</style>
