<template>
  <div class="contract-wrapper">
    <div class="title">我的合同</div>
    <div class="contract-list u-table">
      <el-table :data="tableData" stripe style="width: 100%">
        <el-table-column type="index" label="序号" width="70" align="center">
        </el-table-column>
        <el-table-column prop="wyName" label="租赁物业名称"> </el-table-column>
        <el-table-column
          prop="rentalArea"
          label="租赁面积（㎡）"
          width="80"
          align="center"
        >
        </el-table-column>
        <el-table-column
          prop="signType"
          label="签约类型"
          width="80"
          align="center"
          :formatter="formatSignType"
        >
        </el-table-column>
        <el-table-column
          prop="applyPeopleType"
          label="申请人类型"
          width="120"
          align="center"
        >
        </el-table-column>
        <el-table-column
          prop="isEconomicCommitment"
          label="是否经济贡献承诺"
          width="80"
          align="center"
          :formatter="formatCommitment"
        >
        </el-table-column>
        <el-table-column
          prop="monthlyRent"
          label="月租金（元/月）"
          width="90"
          align="center"
        >
        </el-table-column>
        <el-table-column
          prop="leaseDuringTime"
          label="租赁期限"
          width="120"
          align="center"
          :show-overflow-tooltip="true"
        >
        </el-table-column>
        <el-table-column label="操作" width="90" align="center">
          <template slot-scope="scope">
            <el-button
              type="text"
              size="small"
              style="font-size: 14px"
              @click="toDetails(scope.row)"
              >合同详情</el-button
            >
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="pager-wrapper">
      <el-pagination
        background
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-sizes="[10, 15, 20, 30]"
        :page-size="pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="totalSize"
      >
      </el-pagination>
    </div>
  </div>
</template>

<script>
import TopTitle from '@/components/TopTitle.vue'
import { myContractList } from './request'
export default {
  components: { TopTitle },
  data () {
    return {
      currentPage: 1,
      pageSize: 10,
      totalSize: 0,
      tableData: [
        // {
        //   proName: "深圳市××科技有限公司租赁合同新签申请",
        //   col1: "1243.33",
        //   col2: "新签",
        //   applyPeopleType: "1",
        //   col3: "是",
        //   col4: "2334.54",
        //   leaseDuringTime: "2018-12-23 至 2028-12-22",
        // },
        // {
        //   proName: "深圳市××科技有限公司租赁合同新签申请",
        //   col1: "1243",
        //   col2: "新签",
        //   applyPeopleType: "2",
        //   col3: "是",
        //   col4: "12334.54",
        //   leaseDuringTime: "2018-12-23 至 2028-12-22",
        // },
      ]
    }
  },
  beforeRouteEnter (to, from, next) {
    next((vm) => {
      vm.getMyContractList()
    })
  },
  methods: {
    // 业务类型
    formatBusinessType (row) {
      let typeName = ''
      if (row && row.businessType && !isNaN(row.businessType)) {
        switch (parseInt(row.businessType)) {
          case 1:
            typeName = '产业用房租赁'
            break
          case 2:
            typeName = '商业用房租赁'
            break
          case 3:
            typeName = '住宅用房租赁'
            break
          case 4:
            typeName = '南山软件园租赁'
            break
        }
      }
      return typeName
    },
    // 流程进度
    formatProc (row) {
      let typeName = ''
      if (row && row.businessType && !isNaN(row.businessType)) {
        switch (parseInt(row.businessType)) {
          case 0:
            typeName = '刚授权'
            break
          case 1:
            typeName = '企业申请'
            break
          case 2:
            typeName = '企业撤回'
            break
          case 3:
            typeName = '管理员撤销授权'
            break
        }
      }
      return typeName
    },
    // 申请类型
    formatApplicationType (row) {
      return row.applyPeopleType == 1
        ? '法人申请'
        : row.applyPeopleType == 2
          ? '委托代理人申请'
          : ''
    },
    // 签约类型
    formatSignType (row) {
      return row.signType == 1 ? '新签' : row.signType == 2 ? '续签' : ''
    },
    // 是否经济贡献承诺
    formatCommitment (row) {
      return row.isEconomicCommitment == 1
        ? '是'
        : row.isEconomicCommitment == 2
          ? '否'
          : ''
    },
    handleSizeChange (val) {
      this.pageSize = val
      this.getMyContractList()
    },
    handleCurrentChange (val) {
      this.currentPage = val
      this.getMyContractList()
    },
    // 获取我的合同列表
    getMyContractList (params = {}) {
      params = {
        p: this.currentPage,
        size: this.pageSize,
        socialUniformCreditCode: sessionStorage.getItem('creditCode'),
        userId: sessionStorage.getItem('userId')
      }
      myContractList(params).then((res) => {
        if (res.data && res.data.data) {
          this.tableData = res.data.data.list || []
          this.totalSize = res.data.data.total
        }
      })
    },
    toDetails (row) {
      // console.log(row);
      // this.$router.push({name:'home',query: {id:'1'}})
      // this.$router.push({name:'home',params: {id:'1'}})
      this.$router.push({
        name: 'contractDetails',
        query: { id: row.id, businessId: row.businessId }
      })
    }
  }
}
</script>

<style scoped lang="less">
.pager-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 34px;
}
.contract-wrapper {
  padding: 22px 22px 50px;
  box-sizing: border-box;
  .title {
    font-size: 18px;
    color: #333333;
  }
  .contract-list {
    margin-top: 12px;
  }
}
</style>
