<template>
  <div class="sign-list-wrapper u-linear-bg">
    <top-title></top-title>
    <div class="sign-list">
      <div class="contract-wrapper">
        <top-nav
          :list="[{ name: '合同签订' }, { name: '合同申请' }]"
          back-name="返回列表"
          back-path="/signList"
        ></top-nav>
        <div class="sign-wrapper">
          <h3 class="title">
            {{ ruleForm.proName }}
            <!-- 租赁合同{{
              formatSignType(ruleForm.webSignType)
            }}申请 -->
          </h3>
          <el-form
            :model="ruleForm"
            :rules="rules"
            ref="ruleForm"
            label-width="195px"
            size="medium"
            class="form-wrapper"
          >
            <el-form-item required class="form-item-center apply-type">
              <label
                class="el-form-item__label"
                style="width: 120px"
                label-width="0"
                >申请人类型：</label
              >
              <el-radio-group v-model="applyPeopleType">
                <el-radio :label="1">法人申请</el-radio>
                <el-radio :label="2">委托代理人申请</el-radio>
              </el-radio-group>
            </el-form-item>
            <h4 class="u-sub-title">
              <div class="name">基本信息</div>
            </h4>
            <div class="form-item-inner">
              <!-- <el-form-item label="承租对象：" prop="leaseType">
                <el-input
                  :value="formatLeaseType(ruleForm.leaseType)"
                  disabled
                ></el-input>
              </el-form-item> -->
              <el-form-item label="承租对象：" prop="applyObj" required>
                <el-input :value="ruleForm.applyObj" disabled></el-input>
              </el-form-item>
              <el-form-item
                label="承租方(乙方)："
                prop="applicantUnit"
                required
              >
                <el-input v-model="ruleForm.applicantUnit" disabled></el-input>
              </el-form-item>
              <el-form-item
                label="统一社会信用代码："
                prop="socialUniformCreditCode"
                required
              >
                <el-input
                  v-model="ruleForm.socialUniformCreditCode"
                  disabled
                ></el-input>
              </el-form-item>
              <el-form-item
                label="营业执照地址："
                prop="businessLicenseAddress"
                required
              >
                <el-input
                  v-model="ruleForm.businessLicenseAddress"
                  disabled
                ></el-input>
              </el-form-item>
              <el-form-item
                label="法定代表人："
                prop="yyContractVO.legalPerson"
                required
              >
                <el-input
                  v-model="ruleForm.yyContractVO.legalPerson"
                  placeholder="请输入"
                ></el-input>
              </el-form-item>
              <el-form-item
                label="法定代表人通讯地址："
                prop="yyContractVO.legalAddress"
                required
              >
                <el-input
                  v-model="ruleForm.yyContractVO.legalAddress"
                  placeholder="请输入"
                ></el-input>
              </el-form-item>
              <el-form-item
                label="法定代表人联系方式："
                prop="yyContractVO.legalPhone"
                required
              >
                <el-input
                  v-model="ruleForm.yyContractVO.legalPhone"
                  placeholder="请输入"
                ></el-input>
              </el-form-item>
              <el-form-item
                label="法定代表人证件类型："
                prop="yyContractVO.legalType"
                required
              >
                <el-select
                  v-model="ruleForm.yyContractVO.legalType"
                  placeholder="请选择"
                  style="width: 100%"
                >
                  <el-option label="身份证" :value="1"></el-option>
                  <el-option label="护照" :value="2"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item
                label="法定代表人证件号码："
                prop="yyContractVO.legalCode"
                required
              >
                <el-input
                  v-model="ruleForm.yyContractVO.legalCode"
                  placeholder="请输入"
                ></el-input>
              </el-form-item>
              <el-form-item
                label="联系人："
                prop="yyContractVO.contactPerson"
                required
              >
                <el-input
                  v-model="ruleForm.yyContractVO.contactPerson"
                  placeholder="请输入"
                ></el-input>
              </el-form-item>
              <el-form-item
                label="联系方式："
                prop="yyContractVO.contactPhone"
                required
              >
                <el-input
                  v-model="ruleForm.yyContractVO.contactPhone"
                  placeholder="请输入"
                ></el-input>
              </el-form-item>
            </div>
            <h4 v-show="applyPeopleType == 2" class="u-sub-title">
              <div class="name">代理人信息</div>
            </h4>
            <div v-show="applyPeopleType == 2" class="form-item-inner">
              <el-form-item
                label="委托代理人："
                prop="yyContractVO.clientPerson"
                class="is-required"
              >
                <el-input
                  v-model="ruleForm.yyContractVO.clientPerson"
                ></el-input>
              </el-form-item>
              <el-form-item
                label="委托代理人联系方式："
                prop="yyContractVO.clientPhone"
                class="is-required"
              >
                <el-input
                  v-model="ruleForm.yyContractVO.clientPhone"
                ></el-input>
              </el-form-item>
              <el-form-item
                label="委托代理人证件类型："
                prop="yyContractVO.clientType"
                class="is-required"
              >
                <el-select
                  v-model="ruleForm.yyContractVO.clientType"
                  placeholder="请选择"
                  style="width: 100%"
                >
                  <el-option label="身份证" value="1"></el-option>
                  <el-option label="护照" value="2"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item
                label="委托代理人证件号码："
                prop="yyContractVO.clientCode"
                class="is-required"
              >
                <el-input v-model="ruleForm.yyContractVO.clientCode"></el-input>
              </el-form-item>
              <el-form-item
                label="委托代理人通讯地址："
                prop="yyContractVO.clientAddress"
                class="is-required"
              >
                <el-input
                  v-model="ruleForm.yyContractVO.clientAddress"
                ></el-input>
              </el-form-item>
            </div>
            <h4 class="u-sub-title">
              <div class="name">租赁信息</div>
            </h4>
            <div class="form-item-inner">
              <el-form-item
                label="租赁物业名称："
                prop="wyName"
                class="is-required"
              >
                <el-input v-model="ruleForm.wyName" disabled></el-input>
              </el-form-item>
              <el-form-item
                label="租赁范围："
                prop="leaseArea"
                class="is-required"
              >
                <el-input v-model="ruleForm.leaseArea" disabled></el-input>
              </el-form-item>
              <el-form-item
                label="是否经济贡献承诺："
                prop="isCommitment"
                class="is-required"
              >
                <el-input
                  :value="
                    ruleForm.isCommitment == 1
                      ? '是'
                      : ruleForm.isCommitment == 2
                      ? '否'
                      : ruleForm.isCommitment
                  "
                  disabled
                ></el-input>
              </el-form-item>
              <el-form-item
                v-show="ruleForm.isCommitment == 1"
                label="经济贡献率承诺："
                prop="yyContractVO.economicCommit"
                class="is-required"
              >
                <el-input
                  v-model="ruleForm.yyContractVO.economicCommit"
                  type="textarea"
                  placeholder="请输入"
                  :rows="6"
                ></el-input>
              </el-form-item>
              <el-form-item label="备注：" prop="remark">
                <el-input
                  v-model="ruleForm.yyContractVO.remark"
                  placeholder="请输入"
                  type="textarea"
                  :rows="6"
                ></el-input>
              </el-form-item>
            </div>
            <h4 class="u-sub-title">
              <div class="name">申请材料</div>
              <div class="tips">
                注：当法人代表为非中国大陆籍时，必须上传中国大陆籍保证人的股东证明书；
              </div>
            </h4>
            <div class="form-item-inner">
              <el-form-item
                v-if="ruleForm.webSignType == 1"
                label="入驻通知书："
                required
              >
                <div class="u-upload">
                  <!-- <div class="upload-wrapper">
                    <button class="btn-upload">
                      <i class="icon el-icon-document"></i>
                      <span>选择文件</span>
                      <input type="file" name="" id="" />
                    </button>
                    <div class="desc">未选择任何文件</div>
                  </div>
                  <ul class="filelist">
                    <li class="list-item">
                      <div class="filename">入驻通知书.pdf</div>
                      <div style="flex: 1"></div>
                      <a href="javascript:;" class="btn btn-download"
                        ><i class="icon el-icon-download"></i
                        ><span>下载</span></a
                      >
                      <a href="javascript:;" class="btn btn-delete"
                        ><i class="icon el-icon-delete"></i><span>删除</span></a
                      >
                    </li>
                  </ul> -->
                  <div class="upload-wrapper">
                    <upload-comm
                      :params="uploadParams1"
                      :show-file-list="false"
                      :on-remove-file="handleRemoveFile"
                      @upload-ok="handleUploadOK($event, 1)"
                    ></upload-comm>
                  </div>
                  <div
                    class="tips"
                    :title="filesList1[0].supplementDataOpinion"
                    v-if="
                      filesList1.length > 0 &&
                      filesList1[0].supplementDataOpinion != ''
                    "
                  >
                    材料补正意见：{{ filesList1[0].supplementDataOpinion }}
                  </div>
                  <ul class="filelist">
                    <li
                      v-for="(item, index) in filesList1"
                      v-bind:key="index"
                      class="list-item"
                    >
                      <div class="filename">{{ item.name }}</div>
                      <div style="flex: 1"></div>
                      <a
                        :href="
                          item.url != ''
                            ? item.url
                            : '/portal/contact/fileDownload?id=' + item.id
                        "
                        target="_blank"
                        class="btn btn-download"
                        ><i class="icon el-icon-download"></i
                        ><span>下载</span></a
                      >
                      <a
                        href="javascript:;"
                        class="btn btn-delete"
                        @click="handleRemoveFile(item, 1)"
                        ><i class="icon el-icon-delete"></i><span>删除</span></a
                      >
                    </li>
                  </ul>
                </div>
              </el-form-item>
              <el-form-item
                v-else-if="ruleForm.webSignType == 2"
                label="续签通知书："
                required
              >
                <div class="u-upload">
                  <div class="upload-wrapper">
                    <upload-comm
                      :params="uploadParams1"
                      :show-file-list="false"
                      :on-remove-file="handleRemoveFile"
                      @upload-ok="handleUploadOK($event, 1)"
                    ></upload-comm>
                  </div>
                  <div
                    class="tips"
                    :title="filesList1[0].supplementDataOpinion"
                    v-if="
                      filesList1.length > 0 &&
                      filesList1[0].supplementDataOpinion != ''
                    "
                  >
                    材料补正意见：{{ filesList1[0].supplementDataOpinion }}
                  </div>
                  <ul class="filelist">
                    <li
                      v-for="(item, index) in filesList1"
                      v-bind:key="index"
                      class="list-item"
                    >
                      <div class="filename">{{ item.name }}</div>
                      <div style="flex: 1"></div>
                      <a
                        :href="
                          item.url != ''
                            ? item.url
                            : '/portal/contact/fileDownload?id=' + item.id
                        "
                        target="_blank"
                        class="btn btn-download"
                        ><i class="icon el-icon-download"></i
                        ><span>下载</span></a
                      >
                      <a
                        href="javascript:;"
                        class="btn btn-delete"
                        @click="handleRemoveFile(item, 1)"
                        ><i class="icon el-icon-delete"></i><span>删除</span></a
                      >
                    </li>
                  </ul>
                </div>
              </el-form-item>
              <el-form-item label="营业执照复印件：" required>
                <div class="u-upload">
                  <div class="upload-wrapper">
                    <upload-comm
                      :params="uploadParams2"
                      :show-file-list="false"
                      :on-remove-file="handleRemoveFile"
                      @upload-ok="handleUploadOK($event, 2)"
                    ></upload-comm>
                  </div>
                  <div
                    class="tips"
                    :title="filesList2[0].supplementDataOpinion"
                    v-if="
                      filesList2.length > 0 &&
                      filesList2[0].supplementDataOpinion != ''
                    "
                  >
                    材料补正意见：{{ filesList2[0].supplementDataOpinion }}
                  </div>
                  <ul class="filelist">
                    <li
                      v-for="(item, index) in filesList2"
                      v-bind:key="index"
                      class="list-item"
                    >
                      <div class="filename">{{ item.name }}</div>
                      <div style="flex: 1"></div>
                      <a
                        :href="
                          item.url != ''
                            ? item.url
                            : '/portal/contact/fileDownload?id=' + item.id
                        "
                        target="_blank"
                        class="btn btn-download"
                        ><i class="icon el-icon-download"></i
                        ><span>下载</span></a
                      >
                      <a
                        href="javascript:;"
                        class="btn btn-delete"
                        @click="handleRemoveFile(item, 2)"
                        ><i class="icon el-icon-delete"></i><span>删除</span></a
                      >
                    </li>
                  </ul>
                </div>
              </el-form-item>
              <el-form-item label="法人身份证复印件：" required>
                <div class="u-upload">
                  <div class="upload-wrapper">
                    <upload-comm
                      :params="uploadParams3"
                      :show-file-list="false"
                      :on-remove-file="handleRemoveFile"
                      @upload-ok="handleUploadOK($event, 3)"
                    ></upload-comm>
                  </div>
                  <div
                    class="tips"
                    :title="filesList3[0].supplementDataOpinion"
                    v-if="
                      filesList3.length > 0 &&
                      filesList3[0].supplementDataOpinion != ''
                    "
                  >
                    材料补正意见：{{ filesList3[0].supplementDataOpinion }}
                  </div>
                  <ul class="filelist">
                    <li
                      v-for="(item, index) in filesList3"
                      v-bind:key="index"
                      class="list-item"
                    >
                      <div class="filename">{{ item.name }}</div>
                      <div style="flex: 1"></div>
                      <a
                        :href="
                          item.url != ''
                            ? item.url
                            : '/portal/contact/fileDownload?id=' + item.id
                        "
                        target="_blank"
                        class="btn btn-download"
                        ><i class="icon el-icon-download"></i
                        ><span>下载</span></a
                      >
                      <a
                        href="javascript:;"
                        class="btn btn-delete"
                        @click="handleRemoveFile(item, 3)"
                        ><i class="icon el-icon-delete"></i><span>删除</span></a
                      >
                    </li>
                  </ul>
                </div>
              </el-form-item>
              <el-form-item label="法人代表证明书：" required>
                <div class="u-upload">
                  <div class="upload-wrapper">
                    <upload-comm
                      :params="uploadParams4"
                      :show-file-list="false"
                      :on-remove-file="handleRemoveFile"
                      @upload-ok="handleUploadOK($event, 4)"
                    ></upload-comm>
                  </div>
                  <div
                    class="tips"
                    :title="filesList4[0].supplementDataOpinion"
                    v-if="
                      filesList4.length > 0 &&
                      filesList4[0].supplementDataOpinion != ''
                    "
                  >
                    材料补正意见：{{ filesList4[0].supplementDataOpinion }}
                  </div>
                  <ul class="filelist">
                    <li
                      v-for="(item, index) in filesList4"
                      v-bind:key="index"
                      class="list-item"
                    >
                      <div class="filename">{{ item.name }}</div>
                      <div style="flex: 1"></div>
                      <a
                        :href="
                          item.url != ''
                            ? item.url
                            : '/portal/contact/fileDownload?id=' + item.id
                        "
                        target="_blank"
                        class="btn btn-download"
                        ><i class="icon el-icon-download"></i
                        ><span>下载</span></a
                      >
                      <a
                        href="javascript:;"
                        class="btn btn-delete"
                        @click="handleRemoveFile(item, 4)"
                        ><i class="icon el-icon-delete"></i><span>删除</span></a
                      >
                    </li>
                  </ul>
                </div>
              </el-form-item>
              <el-form-item
                label="法人授权委托书："
                v-show="applyPeopleType == 2"
                required
              >
                <div class="u-upload">
                  <div class="upload-wrapper">
                    <upload-comm
                      :params="uploadParams5"
                      :show-file-list="false"
                      :on-remove-file="handleRemoveFile"
                      @upload-ok="handleUploadOK($event, 5)"
                    ></upload-comm>
                  </div>
                  <div
                    class="tips"
                    :title="filesList5[0].supplementDataOpinion"
                    v-if="
                      filesList5.length > 0 &&
                      filesList5[0].supplementDataOpinion != ''
                    "
                  >
                    材料补正意见：{{ filesList5[0].supplementDataOpinion }}
                  </div>
                  <ul class="filelist">
                    <li
                      v-for="(item, index) in filesList5"
                      v-bind:key="index"
                      class="list-item"
                    >
                      <div class="filename">{{ item.name }}</div>
                      <div style="flex: 1"></div>
                      <a
                        :href="
                          item.url != ''
                            ? item.url
                            : '/portal/contact/fileDownload?id=' + item.id
                        "
                        target="_blank"
                        class="btn btn-download"
                        ><i class="icon el-icon-download"></i
                        ><span>下载</span></a
                      >
                      <a
                        href="javascript:;"
                        class="btn btn-delete"
                        @click="handleRemoveFile(item, 5)"
                        ><i class="icon el-icon-delete"></i><span>删除</span></a
                      >
                    </li>
                  </ul>
                </div>
              </el-form-item>
              <el-form-item
                v-show="applyPeopleType == 2"
                label="委托代理人身份证复印件："
                required
              >
                <div class="u-upload">
                  <div class="upload-wrapper">
                    <upload-comm
                      :params="uploadParams6"
                      :show-file-list="false"
                      :on-remove-file="handleRemoveFile"
                      @upload-ok="handleUploadOK($event, 6)"
                    ></upload-comm>
                  </div>
                  <div
                    class="tips"
                    :title="filesList6[0].supplementDataOpinion"
                    v-if="
                      filesList6.length > 0 &&
                      filesList6[0].supplementDataOpinion != ''
                    "
                  >
                    材料补正意见：{{ filesList6[0].supplementDataOpinion }}
                  </div>
                  <ul class="filelist">
                    <li
                      v-for="(item, index) in filesList6"
                      v-bind:key="index"
                      class="list-item"
                    >
                      <div class="filename">{{ item.name }}</div>
                      <div style="flex: 1"></div>
                      <a
                        :href="
                          item.url != ''
                            ? item.url
                            : '/portal/contact/fileDownload?id=' + item.id
                        "
                        target="_blank"
                        class="btn btn-download"
                        ><i class="icon el-icon-download"></i
                        ><span>下载</span></a
                      >
                      <a
                        href="javascript:;"
                        class="btn btn-delete"
                        @click="handleRemoveFile(item, 6)"
                        ><i class="icon el-icon-delete"></i><span>删除</span></a
                      >
                    </li>
                  </ul>
                </div>
              </el-form-item>
              <el-form-item label="股东证明书：">
                <div class="u-upload">
                  <div class="upload-wrapper">
                    <upload-comm
                      :params="uploadParams7"
                      :show-file-list="false"
                      :on-remove-file="handleRemoveFile"
                      @upload-ok="handleUploadOK($event, 7)"
                    ></upload-comm>
                  </div>
                  <div
                    class="tips"
                    :title="filesList7[0].supplementDataOpinion"
                    v-if="
                      filesList7.length > 0 &&
                      filesList7[0].supplementDataOpinion != ''
                    "
                  >
                    材料补正意见：{{ filesList7[0].supplementDataOpinion }}
                  </div>
                  <ul class="filelist">
                    <li
                      v-for="(item, index) in filesList7"
                      v-bind:key="index"
                      class="list-item"
                    >
                      <div class="filename">{{ item.name }}</div>
                      <div style="flex: 1"></div>
                      <a
                        :href="
                          item.url != ''
                            ? item.url
                            : '/portal/contact/fileDownload?id=' + item.id
                        "
                        target="_blank"
                        class="btn btn-download"
                        ><i class="icon el-icon-download"></i
                        ><span>下载</span></a
                      >
                      <a
                        href="javascript:;"
                        class="btn btn-delete"
                        @click="handleRemoveFile(item, 7)"
                        ><i class="icon el-icon-delete"></i><span>删除</span></a
                      >
                    </li>
                  </ul>
                </div>
              </el-form-item>
            </div>
          </el-form>
          <div class="toolbar">
            <button class="u-btn btn-goast" @click="onCancel">取消</button>
            <button class="u-btn btn-primary" @click="onSubmit">
              提交申请
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TopTitle from '@/components/TopTitle.vue'
import TopNav from '@/components/TopNav.vue'
import UploadComm from '@/components/UploadComm.vue'
import { contractInfo, removeFile, downloadFile, apply } from './request'
export default {
  components: { TopTitle, TopNav, UploadComm },
  data () {
    var valiEconomicCommit = (rule, value, callback) => {
      if (
        this.ruleForm.isCommitment == 1 &&
        (value === '' || value === undefined)
      ) {
        callback(new Error('请输入经济贡献率承诺'))
      } else {
        callback()
      }
    }
    var valiClient = (rule, value, callback) => {
      // console.log(rule);
      let msg = ''
      switch (rule.field) {
        case 'yyContractVO.clientPerson':
          msg = '请输入委托代理人'
          break
        case 'yyContractVO.clientPhone':
          msg = '请输入委托代理人联系方式'
          break
        case 'yyContractVO.clientType':
          msg = '请选择委托代理人证件类型'
          break
        case 'yyContractVO.clientCode':
          msg = '请输入委托代理人证件号码'
          break
        case 'yyContractVO.clientAddress':
          msg = '请输入委托代理人通讯地址'
          break
      }
      if (this.applyPeopleType == 2 && (value === '' || value === undefined)) {
        callback(new Error(msg))
      } else {
        callback()
      }
    }

    return {
      contractId: '', // 1449972914534236162
      applyPeopleType: 1, // 申请人类型：1法人 2委托代理人
      ruleForm: {
        yyContractVO: {}
      },
      rules: {
        // name: [
        //   { required: true, message: "请输入", trigger: "blur" },
        //   {
        //     min: 3,
        //     max: 15,
        //     message: "长度在 3 到 15 个字符",
        //     trigger: "blur",
        //   },
        // ]
        yyContractVO: {
          // ----法人-----
          legalPerson: [
            { required: true, message: '请输入法定代表人', trigger: 'change' },
            { required: true, message: '请输入法定代表人', trigger: 'blur' }
          ],
          legalAddress: [
            {
              required: true,
              message: '请输入法定代表人通讯地址',
              trigger: 'change'
            },
            {
              required: true,
              message: '请输入法定代表人通讯地址',
              trigger: 'blur'
            }
          ],
          legalPhone: [
            {
              required: true,
              message: '请输入法定代表人联系方式',
              trigger: 'change'
            },
            {
              required: true,
              message: '请输入法定代表人联系方式',
              trigger: 'blur'
            }
          ],
          legalType: [
            {
              required: true,
              message: '请选择法定代表人证件类型',
              trigger: 'change'
            }
          ],
          legalCode: [
            {
              required: true,
              message: '请输入法定代表人证件号码',
              trigger: 'change'
            },
            {
              required: true,
              message: '请输入法定代表人证件号码',
              trigger: 'blur'
            }
          ],
          contactPerson: [
            { required: true, message: '请输入联系人', trigger: 'change' },
            { required: true, message: '请输入联系人', trigger: 'blur' }
          ],
          contactPhone: [
            { required: true, message: '请输入联系方式', trigger: 'change' },
            { required: true, message: '请输入联系方式', trigger: 'blur' }
          ],
          // -----委托人-----
          clientPerson: [
            {
              // required: true, message: "请输入委托代理人",
              validator: valiClient,
              trigger: 'change'
            },
            {
              // required: true, message: "请输入委托代理人",
              validator: valiClient,
              trigger: 'blur'
            }
          ],
          clientPhone: [
            {
              validator: valiClient,
              trigger: 'change'
            },
            {
              validator: valiClient,
              trigger: 'blur'
            }
          ],
          clientType: [
            {
              validator: valiClient,
              trigger: 'change'
            }
          ],
          clientCode: [
            {
              validator: valiClient,
              trigger: 'change'
            },
            {
              validator: valiClient,
              trigger: 'blur'
            }
          ],
          clientAddress: [
            {
              validator: valiClient,
              trigger: 'change'
            },
            {
              validator: valiClient,
              trigger: 'blur'
            }
          ],
          // -----租赁信息-----
          economicCommit: [
            {
              validator: valiEconomicCommit,
              trigger: 'change'
            },
            {
              validator: valiEconomicCommit,
              trigger: 'blur'
            }
          ]
        }
      },
      uploadParams1: {
        id: ''
      },
      uploadParams2: {
        id: ''
      },
      uploadParams3: {
        id: ''
      },
      uploadParams4: {
        id: ''
      },
      uploadParams5: {
        id: ''
      },
      uploadParams6: {
        id: ''
      },
      uploadParams7: {
        id: ''
      },
      filesList1: [
        // { name: "aaaa.txt", url: "http://xxx" }
      ],
      filesList2: [],
      filesList3: [],
      filesList4: [],
      filesList5: [],
      filesList6: [],
      filesList7: []
    }
  },
  beforeRouteEnter (to, from, next) {
    next((vm) => {
      if (to.query.id) {
        vm.contractId = to.query.id
      }
      vm.getContractInfo()
    })
  },
  methods: {
    // 承租对象
    formatLeaseType (type) {
      return parseInt(type) == 1 ? '企业' : '其它'
    },
    // 签约类型
    formatSignType (type) {
      var name = ''
      switch (parseInt(type)) {
        case 1:
          name = '新签'
          break
        case 2:
          name = '续签'
          break
      }
      return name
    },
    getContractInfo () {
      let params = {
        id: this.contractId
      }
      contractInfo(params).then((res) => {
        if (res.data && res.data.data) {
          // console.log(res.data.data);
          this.ruleForm = res.data.data
          if (!this.ruleForm) this.ruleForm = {}
          if (!this.ruleForm.yyContractVO) {
            this.$set(this.ruleForm, 'yyContractVO', {})
          }
          if (!isNaN(this.ruleForm.applyPeopleType)) {
            this.applyPeopleType = this.ruleForm.applyPeopleType
          }
          if (this.ruleForm.ywHandoverDetailsPOList) {
            var fileList = this.ruleForm.ywHandoverDetailsPOList
            for (let i = 0; i < fileList.length; i++) {
              if (fileList[i].name && fileList[i].id) {
                // console.log(fileList[i]);
                let tempList = []
                if (fileList[i].fileName && fileList[i].fileName != '') {
                  tempList = [
                    {
                      name: fileList[i].fileName,
                      url: '',
                      fileId: fileList[i].fileId,
                      id: fileList[i].handoverDetailsImgId,
                      supplementDataOpinion:
                        fileList[i].supplementDataOpinion || ''
                    }
                  ]
                }

                switch (fileList[i].name) {
                  case '入驻通知书':
                  case '续签通知书':
                    this.uploadParams1.id = fileList[i].id
                    this.filesList1 = tempList
                    break
                  case '营业执照复印件':
                    this.uploadParams2.id = fileList[i].id
                    this.filesList2 = tempList
                    break
                  case '法人身份证复印件':
                    this.uploadParams3.id = fileList[i].id
                    this.filesList3 = tempList
                    break
                  case '法人代表证明书':
                    this.uploadParams4.id = fileList[i].id
                    this.filesList4 = tempList
                    break
                  case '法人授权委托书':
                    this.uploadParams5.id = fileList[i].id
                    this.filesList5 = tempList
                    break
                  case '委托代理人身份证复印件':
                  case '经办人身份证复印件':
                    this.uploadParams6.id = fileList[i].id
                    this.filesList6 = tempList
                    break
                  case '股东证明书':
                    this.uploadParams7.id = fileList[i].id
                    this.filesList7 = tempList
                    break
                }
              }
            }
          }
        }
      })
    },
    // 删除文件
    // handleRemoveFile(id, index, cb) {
    //   if (id) {
    //     let params = `?fileId=${id}`;
    //     removeFile(params).then((res) => {
    //       if (typeof cb == "function") cb(index);
    //     });
    //   }
    // },
    handleRemoveFile (item, type) {
      // console.log(item);
      if (item && item.id) {
        let params = `?fileId=${item.id}`
        this.$confirm('确认删除吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        })
          .then(() => {
            removeFile(params).then((res) => {
              if (res.data && res.data.code == 0) {
                this[`filesList${type}`] = []
              }
            })
          })
          .catch(() => {})
      }
    },
    // 下载文件
    handleDownloadFile (id) {
      if (id) {
        let params = `?id=${id}`
        downloadFile(params).then((res) => {
          // console.log(res);
        })
      }
    },
    handleUploadOK (list, type) {
      // console.log(list, type);
      this['filesList' + type] = list
    },
    // 提交
    onSubmit () {
      this.$refs['ruleForm'].validate((valid) => {
        if (valid) {
          if (this.filesList1.length == 0) {
            this.$message.error(
              '请上传申请材料：' +
                (this.ruleForm.webSignType == 2 ? '续签通知书' : '入驻通知书')
            )
            return
          }
          if (this.filesList2.length == 0) {
            this.$message.error('请上传申请材料：营业执照复印件')
            return
          }
          if (this.filesList3.length == 0) {
            this.$message.error('请上传申请材料：法人身份证复印件')
            return
          }
          if (this.filesList4.length == 0) {
            this.$message.error('请上传申请材料：法人代表证明书')
            return
          }
          if (this.applyPeopleType == 2) {
            if (this.filesList5.length == 0) {
              this.$message.error('请上传申请材料：法人授权委托书')
              return
            }
            if (this.filesList6.length == 0) {
              this.$message.error('请上传申请材料：委托代理人身份证复印件')
              return
            }
          }
          // if (this.filesList7.length == 0) {
          //   this.$message.error("请上传申请材料：股东证明书");
          //   return;
          // }

          let params = {
            id: this.contractId,
            agencyType: 3,
            yyContractVO: {
              clientAddress: '',
              clientCode: '',
              clientPerson: '',
              clientPhone: '',
              clientType: '',
              contactPerson: this.ruleForm.yyContractVO.contactPerson,
              contactPhone: this.ruleForm.yyContractVO.contactPhone,
              legalAddress: this.ruleForm.yyContractVO.legalAddress,
              legalCode: this.ruleForm.yyContractVO.legalCode,
              legalPerson: this.ruleForm.yyContractVO.legalPerson,
              legalPhone: this.ruleForm.yyContractVO.legalPhone,
              legalType: this.ruleForm.yyContractVO.legalType,
              applicationType: this.applyPeopleType,
              isEconomicCommit: this.ruleForm.isCommitment,
              economicCommit: '',
              remark: this.ruleForm.yyContractVO.remark
            }
          }
          if (this.applyPeopleType == 2) {
            params.yyContractVO.clientAddress =
              this.ruleForm.yyContractVO.clientAddress
            params.yyContractVO.clientCode =
              this.ruleForm.yyContractVO.clientCode
            params.yyContractVO.clientPerson =
              this.ruleForm.yyContractVO.clientPerson
            params.yyContractVO.clientPhone =
              this.ruleForm.yyContractVO.clientPhone
            params.yyContractVO.clientType =
              this.ruleForm.yyContractVO.clientType
          }
          if (this.ruleForm.isCommitment == 1) {
            params.yyContractVO.economicCommit =
              this.ruleForm.yyContractVO.economicCommit || ''
          }
          // console.log(params);
          apply(params).then((res) => {
            // console.log(res);
            if (res.data) {
              if (res.data.code == 0) {
                this.$message({
                  message: '提交成功',
                  type: 'success'
                })
                setTimeout(() => {
                  this.$router.push({ name: 'signList' })
                }, 1000)
              }
            }
          })
        }
      })
    },
    // 取消
    onCancel () {
      this.$confirm('确认取消申请吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(() => {
          this.$router.push({ name: 'signList' })
        })
        .catch(() => {})
    }
  }
}
</script>

<style scoped lang="less">
.u-sub-title {
  display: flex;
  align-items: flex-end;
  position: relative;
  padding: 0 17px;
  box-sizing: border-box;
  margin-top: 46px;
  margin-bottom: 42px;
  .name {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
  }
  .tips {
    font-size: 13px;
    color: #d9534f;
    margin-left: 32px;
    margin-bottom: 1px;
  }
  &::before {
    content: "";
    width: 6px;
    height: 16px;
    background: #1286ff;
    position: absolute;
    left: 0;
    top: 3px;
  }
}
.u-upload {
  .upload-wrapper {
    display: flex;
    align-items: center;
    .btn-upload {
      height: 34px;
      background: #1286ff;
      box-shadow: 0px 3px 9px 0px rgba(95, 136, 252, 0.1);
      border-radius: 3px;
      padding: 0 15px;
      box-sizing: border-box;
      color: #ffffff;
      font-size: 13px;
      position: relative;
      border: 0px;
      outline: none;
      cursor: pointer;
      .icon {
        font-size: 14px;
        margin-right: 2px;
      }
      input[type="file"] {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
    .desc {
      font-size: 13px;
      color: #999999;
      margin-left: 15px;
    }
    .file-list {
      flex: 1;
    }
  }
  .filelist {
    .list-item {
      width: 100%;
      height: 42px;
      background: #f5faff;
      border: 1px solid #d2e1f9;
      border-radius: 3px;
      padding: 0 16px;
      box-sizing: border-box;
      font-size: 13px;
      color: #5f88fc;
      display: flex;
      align-items: center;
      margin-top: 10px;
      .btn {
        text-decoration: none;
        font-size: 13px;
        color: #5f88fc;
        background: none;
        .icon {
          font-size: 14px;
          margin-right: 5px;
        }
      }
      .btn + .btn {
        margin-left: 22px;
      }
    }
  }
  .tips {
    font-size: 13px;
    color: #d9534f;
    line-height: 20px;
    margin-top: 3px;
  }
}
.u-btn {
  border: 0px;
  outline: none;
  min-width: 105px;
  height: 34px;
  padding: 0 22px;
  border-radius: 3px;
  font-size: 14px;
  user-select: none;
  cursor: pointer;
  &.btn-primary {
    background: #1286ff;
    box-shadow: 0px 2px 4px 0px rgba(18, 134, 255, 0.35);
    color: #ffffff;
  }
  & + .u-btn {
    margin-left: 15px;
  }
}
.sign-list {
  width: 1200px;
  margin: 72px auto;
}
.form-item-center {
  display: flex;
  justify-content: center;
  .el-form-item__label {
    margin-right: 14px;
  }
}
.form-item-inner {
  margin-left: 35px;
}

.contract-wrapper {
  padding: 22px 0 50px;
  box-sizing: border-box;
  .sign-wrapper {
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 3px 5px 16px 0px rgba(0, 71, 157, 0.1);
    margin-top: 10px;
    padding: 15px 40px 160px 40px;
    box-sizing: border-box;
    .title {
      font-size: 24px;
      font-weight: bold;
      color: #333333;
      text-align: center;
    }
    .apply-type {
      margin-top: 58px;
      margin-left: -50px;
      .el-form-item__label::before {
        content: "*";
        color: #f56c6c;
        margin-right: 4px;
      }
    }
    .form-wrapper {
      padding-right: 145px;
    }
    .toolbar {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 96px;
    }
  }
}
</style>
