<template>
  <div class="sign-list-wrapper u-linear-bg">
    <top-title></top-title>
    <div class="sign-list">
      <div class="contract-wrapper">
        <top-nav :list="[{ name: '合同签订' }]"></top-nav>
        <div class="list-wrapper">
          <div class="title">
            <div class="name">待签订合同列表</div>
            <div class="stat">共{{ totalSize }}条信息</div>
          </div>
          <div class="contract-list u-table">
            <el-table :data="tableData" stripe style="width: 100%">
              <el-table-column
                type="index"
                label="序号"
                width="70"
                align="center"
              >
              </el-table-column>
              <el-table-column
                prop="proName"
                label="业务名称"
                :show-overflow-tooltip="true"
              >
              </el-table-column>
              <el-table-column
                prop="businessType"
                label="业务类型"
                width="120"
                :show-overflow-tooltip="true"
                :formatter="formatBusinessType"
              >
              </el-table-column>
              <el-table-column
                prop="applicantUnit"
                label="申请单位"
                :show-overflow-tooltip="true"
              >
              </el-table-column>
              <el-table-column
                prop="applyObj"
                label="申请对象"
                width="80"
                align="center"
              >
              </el-table-column>
              <el-table-column
                prop="wyName"
                label="物业名称"
                width="160"
                :show-overflow-tooltip="true"
              >
              </el-table-column>
              <el-table-column
                prop="isCommitment"
                label="是否经济承诺贡献"
                width="140"
                align="center"
                :formatter="formatCommit"
              >
              </el-table-column>
              <el-table-column label="操作" width="140" align="center">
                <template slot-scope="scope">
                  <el-button
                    type="text"
                    size="small"
                    style="font-size: 14px"
                    @click="signApply(scope.row)"
                    >{{
                      scope.row.process == "材料补正"
                        ? "重新申请"
                        : "合同签订申请"
                    }}</el-button
                  >
                </template>
              </el-table-column>
            </el-table>
            <div class="pager-wrapper">
              <el-pagination
                background
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[10, 15, 20, 30]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="totalSize"
              >
              </el-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TopTitle from '@/components/TopTitle.vue'
import TopNav from '@/components/TopNav.vue'
import { signList } from './request'

export default {
  components: { TopTitle, TopNav },
  data () {
    return {
      currentPage: 1,
      pageSize: 10,
      totalSize: 0,
      tableData: []
    }
  },
  created () {},
  beforeRouteEnter (to, from, next) {
    next((vm) => {
      vm.getSignList()
    })
  },
  methods: {
    // 业务类型
    formatBusinessType (row) {
      let typeName = ''
      if (row && row.businessType && !isNaN(row.businessType)) {
        switch (parseInt(row.businessType)) {
          case 1:
            typeName = '产业用房租赁'
            break
          case 2:
            typeName = '商业用房租赁'
            break
          case 3:
            typeName = '住宅用房租赁'
            break
          case 4:
            typeName = '南山软件园租赁'
            break
        }
      }
      return typeName
    },
    // 是否经济承诺贡献
    formatCommit (row) {
      return row.isCommitment == 1
        ? '是'
        : row.isCommitment == 2
          ? '否'
          : row.isCommitment
    },
    handleSizeChange (val) {
      this.pageSize = val
      this.getSignList()
    },
    handleCurrentChange (val) {
      this.currentPage = val
      this.getSignList()
    },
    // 获取合同列表
    getSignList (params = {}) {
      params = {
        p: this.currentPage,
        size: this.pageSize,
        socialUniformCreditCode: sessionStorage.getItem('creditCode'),
        userId: sessionStorage.getItem('userId')
      }
      signList(params).then((res) => {
        // console.log(res);
        if (res.data.code == 0) {
          this.tableData = res.data.data.list
          this.totalSize = res.data.data.total
        } else {
          if (res.data.errMsg) this.$message.error(res.data.errMsg)
        }
      })
    },
    signApply (row) {
      // console.log(row);
      // this.$router.push({name:'home',query: {id:'1'}})
      // this.$router.push({name:'home',params: {id:'1'}})
      this.$router.push({ name: 'sign', query: { id: row.id } })
    }
  }
}
</script>

<style scoped lang="less">
.sign-list {
  width: 1200px;
  margin: 72px auto;
}
.pager-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 34px;
}
.contract-wrapper {
  padding: 22px 0 50px;
  box-sizing: border-box;
  .list-wrapper {
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 3px 5px 16px 0px rgba(0, 71, 157, 0.1);
    margin-top: 10px;
    padding: 20px 10px 160px;
    box-sizing: border-box;
    .title {
      font-size: 16px;
      color: #333333;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .name {
        font-weight: bold;
      }
      .stat {
        font-size: 14px;
      }
    }
    .contract-list {
      margin-top: 22px;
    }
  }
}
</style>
